<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>经销商服务系统管理后台</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
	<link href="__PUBLIC__/css/bootstrap.min14ed.css" rel="stylesheet">
    <link href="__PUBLIC__/css/font-awesome.min93e3.css" rel="stylesheet">
    <link href="__PUBLIC__/css/plugins/bootstrap-table/bootstrap-table.min.css" rel="stylesheet">
    <link href="__PUBLIC__/css/animate.min.css" rel="stylesheet">
    <link href="__PUBLIC__/css/style.min862f.css" rel="stylesheet">
    <link rel="stylesheet" href="__PUBLIC__/css/app/select.css">
    <link rel="stylesheet" href="__PUBLIC__/css/app/admin.css">
</head>
<body class="gray-bg">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="ibox float-e-margins">
            <div class="ibox-title col-sm-12">
                <div class="col-sm-6"><h3>节点管理</h3></div>
                <div class="col-sm-6 text-right">
                	<a href="{:url('Node/add')}"><button class="btn btn-primary">新增模块</button></a>
					<a href="javascript:add('{:url('Node/add','','')}')"><button class="btn btn-primary">添加下级</button></a>
					<a href="javascript:edit('{:url('Node/edit','','')}')"><button class="btn btn-primary">修改</button></a>
					<a href="javascript:dele('{:url('Node/delete')}')"><button class="btn btn-primary">删除</button></a>
				</div>
                <div style="clear:both;height:10px"></div>
			</div>
			<!-- 搜索栏 end -->
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <h4 class="example-title"></h4>
                        <div class="example">
                            <table data-toggle="table" data-mobile-responsive="true">
                                <thead>
                                    <tr>
                                    	<th></th>
										<th>模块</th>
										<th>分组</th>
										<th>控制器</th>
										<th>操作</th>
                                    </tr>
                                </thead>
                                <tbody>
                                <volist name="group" id="m">
                                	<tr>
										<td><input type="checkbox" value="{$m.id}_m"></td>
										<td>{$m.title}({$m.name})</td>
										<td></td>
										<td></td>
										<td></td>
									</tr>
									<volist name="m.group" id="g">
										<tr>
											<td><input type="checkbox" value="{$g.id}_g"></td>
											<td></td>
											<td>{$g.title}({$g.name})</td>
											<td></td>
											<td></td>
										</tr>
										<volist name="g.controller" id="c">
											<tr class="c_hideNode" id="c_{$g.id}">
												<td><input type="checkbox" value="{$c.id}_c"></td>
												<td></td>
												<td></td>
												<td>{$c.title}({$c.name})</td>
												<td></td>
											</tr>
											<volist name="c.action" id="a">
												<tr class="a_hideNode" id="a_{$c.id}">
													<td><input type="checkbox" value="{$a.id}_a"></td>
													<td></td>
													<td></td>
													<td></td>
													<td>{$a.title}({$a.name})</td>
												</tr>
											</volist>
										</volist>
									</volist>
								</volist>	
								</tbody>
                            </table>
                            <div id="page" class="col-sm-12 text-right">{$page}</div>
                            <div><input type="hidden" id="orderSequence" name="" value="{$ordersequence}"/></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Panel Basic -->
    </div>
    <script src="__PUBLIC__/js/jquery.min.js"></script>
    <script src="__PUBLIC__/js/bootstrap.min.js"></script>
    <script src="__PUBLIC__/js/plugins/bootstrap-table/bootstrap-table.min.js"></script>
    <script src="__PUBLIC__/js/plugins/bootstrap-table/bootstrap-table-mobile.min.js"></script>
    <script src="__PUBLIC__/js/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
    <script src="__PUBLIC__/js/demo/bootstrap-table-demo.min.js"></script>
    <script src="__PUBLIC__/js/app/admin.js"></script>
    <script type="text/javascript">  
		//排序
		function orderby(orderitem){
			var orderSequence = document.getElementById('orderSequence').value;
			window.location.href = "{:url('query','','')}/orderitem/"+orderitem+"/ordersequence/"+orderSequence;
		}
		function add(url,id){
			if (id){
				var inputValue = id;
			}else{
				var inputValue = $("input[type='checkbox']:checked").val();
			}
			if (inputValue == undefined){
				alert("请选择编辑项");
				return;
			}else{
				window.location.href = url+'/id/'+inputValue;
			}
		}
		/* function showcontroller(id){
			
			$(".c_hideNode").hide();
			$(".a_hideNode").hide();
			$("#c_"+id).show();
		}
		function showaction(id){
			
			$(".a_hideNode").hide();
			$("#a_"+id).show();
		} */
	</script> 
</body>
</html>
