<include file="Public:left_nav" />
<div class="layui-body" style="background-color:#f2f2f2">
    <div style="padding: 10px; background-color: #F2F2F2;">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-body">  
                        <form class="layui-form" action="">
                            <div class="layui-form-item">
                                <label class="layui-form-label">ID</label>
                                <div class="layui-input-inline">
                                   <label class="layui-form-label">7</label>
                                </div>
                            </div>
                             <div class="layui-form-item">
                                <label class="layui-form-label">公司名称<span style="color:red">*</span></label>
                                <div class="layui-input-inline">
                                   <select name="quiz" style="long-input">
          <option value="">果优天上水</option>
           <option value="">壹帮易</option>
            <option value="">大嘴乐米</option>
        
        </select>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <div class="layui-inline">
                                    <label class="layui-form-label">公司域名<span style="color:red">*</span></label>
                                    <div class="layui-input-inline">
                                        <input type="text" class="layui-input long-input" lay-verify="required|title" placeholder="请输入公司域名">
                                    </div>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <div class="layui-inline">
                                    <label class="layui-form-label">开始日期<span style="color:red">*</span></label>
                                    <div class="layui-input-inline">
                                        <input type="text" class="layui-input long-input" lay-verify="required|begtime" id="begtime" placeholder="请选择注册日期">
                                    </div>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <div class="layui-inline">
                                    <label class="layui-form-label">到期日期<span style="color:red">*</span></label>
                                    <div class="layui-input-inline">
                                        <input type="text" class="layui-input long-input" lay-verify="required|endtime" id="endtime" placeholder="请选择到期日期">
                                    </div>
                                </div>
                            </div>
                             <div class="layui-form-item">
                                <label class="layui-form-label">状态<span style="color:red">*</span></label>
                                <div class="layui-input-inline">
                                   <select name="quiz" style="long-input">
          <option value="">使用中</option>
           <option value="">已到期</option>      
        </select>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <div class="layui-input-block">
                                    <button class="layui-btn blue-bg" lay-submit="" lay-filter="demo1">保存</button>
                                    <button class="layui-btn layui-btn-primary"><a href="__APP__/admin/domain/index">返回</a></button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body></html><style>
.layui-layer-content {
	padding: 20px 0;
	text-align: center;
}
.layui-layer-molv .layui-layer-title {
	color: #009f95
}
.layui-laydate .layui-this {
    background-color: #4f76eb!important;
    color: #fff!important;
}
</style>

<script type="text/javascript">
layui.use('laydate', function(){
  var laydate = layui.laydate;
 laydate.render({
    elem: '#begtime'
    ,type: 'datetime'
  });
  laydate.render({
    elem: '#endtime'
    ,type: 'datetime'
  });
});
layui.use(['form', 'layedit', 'laydate'], function(){
  var form = layui.form
  ,layer = layui.layer
  ,layedit = layui.layedit
  ,laydate = layui.laydate;
  
  //创建一个编辑器
  var editIndex = layedit.build('LAY_demo_editor');
 
  //自定义验证规则
  form.verify({
/*    title: function(value){
      if(value.length < 5){
        return '标题至少得5个字符啊';
      }
    }*/
	pass: [/(.+){6,12}$/, '密码必须6到12位']
    ,content: function(value){
      layedit.sync(editIndex);
    }
  });
  
  //监听提交
  form.on('submit(demo1)', function(){
layer.open({
  type: 1,

  closeBtn: 0, 
  anim: 2,
  area: ['300px', '150px'],
  shadeClose: false, 
  content: '加载中，请耐心等待...',
  title:' ',
  time:2000 ,
   end: function(){
    layer.open({
      type: 1,
      title: ' ',
	  icon: 1,
      content: '保存成功',
	  time:2000 ,
	  
       closeBtn: 0,
	   area: ['300px', '150px'],
    });
  }
});

    /*layer.alert(JSON.stringify(data.field), {
      title: '最终的提交信息'
    })*/
    return false;
  });
});
</script>