<include file="Public:left_nav" />
<div class="layui-body" style="background-color:#f2f2f2">
 <div style="padding: 10px 0 0px 15px;">
        <button style="float: left;margin-right: 10px;" class="layui-btn  btn-chouj layui-btn-sm layui-btn-normal">
        <a href="__APP__/admin/activity/index" style="color:#1781ed">活动列表</a>
        </button>
        <button style="float: left;margin-right: 10px;" class="layui-btn btn-chouj-choose layui-btn-sm layui-btn-normal">
        <a href="__APP__/admin/activity/add" style="color:#fff">添加活动</a>
        </button>
    </div>
    <div style="padding: 10px; background-color: #F2F2F2;">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md12">
                <div class="layui-card">
                   <div class="layui-card-header">内容编辑</div>
                    <div class="layui-card-body">  
                        <form class="layui-form" action="">
                            <div class="layui-form-item">
                                <label class="layui-form-label">活动主题：</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="title" lay-verify="title" autocomplete="off" placeholder="请点击输入" class="layui-input long-input" value="fjdisoafd">
                                </div>
                            </div>
                             <div class="layui-form-item">
                                <label class="layui-form-label">活动时间：</label>
                               <div class="layui-input-inline">
                                    <input type="text" name="title" lay-verify="title" autocomplete="off" placeholder="请点击输入" class="layui-input long-input" value="2018-08-12">
                                </div>
                            </div>
                          <div class="layui-form-item">
                                <label class="layui-form-label">活动状态：</label>
                               <div class="layui-input-inline">
                                    <input type="text" name="title" lay-verify="title" autocomplete="off" placeholder="请点击输入" class="layui-input long-input" value="jfkdlajk">
                                </div>
                            </div>
                            <div class="layui-form-item layui-form-text">
    <label class="layui-form-label">活动介绍：</label>
    <div class="layui-input-block">
      <textarea placeholder="请点击输入" class="layui-textarea">发酵豆粕赛季欧票付过款都安排科噢人品额复刻品反对</textarea>
    </div>
  </div>
  <div class="layui-form-item layui-form-text">
    <label class="layui-form-label">活动说明：</label>
    <div class="layui-input-block">
      <textarea placeholder="请点击输入" class="layui-textarea">非经典款房东房东hi哦啊解放东积分容佩辣椒粉等</textarea>
    </div>
  </div>
   <div class="layui-form-item">
                                <label class="layui-form-label">奖品信息：</label>
                               <div class="layui-input-inline">
                                    <input type="text" name="title" lay-verify="title" autocomplete="off" placeholder="请点击输入" class="layui-input long-input" value="附近的考虑将发生">
                                </div>
                            </div>
                             <div class="layui-form-item">
                                <label class="layui-form-label">抽奖地区：</label>
                               <div class="layui-input-inline" style="width: 290px;">
                                    <input type="text" name="title" lay-verify="title" autocomplete="off" placeholder="请点击输入" class="layui-input long-input" value="四川省 自贡市"><span style="color:#999;font-size:12px;">*请输入省和市，例如四川省 广安市</span>
                                </div>
                            </div>
                             <div class="layui-form-item">
                                <label class="layui-form-label">每人最多抽奖次数：</label>
                               <div class="layui-input-inline">
                                    <input type="text" name="title" lay-verify="title" autocomplete="off" placeholder="请点击输入" class="layui-input long-input" value="3">
                                </div>
                            </div>
                            <div class="layui-form-item layui-form-text">
    <label class="layui-form-label">备注：</label>
    <div class="layui-input-block">
      <textarea placeholder="请点击输入" class="layui-textarea">防静电扒鸡飞机大炮放假哦骗人废品</textarea>
    </div>
  </div> 
   <div class="layui-form-item">
    <label class="layui-form-label">是否上架</label>
    <div class="layui-input-block">
      <input name="statu" value="是" title="是" checked="" type="radio">
      <input name="statu" value="否" title="否" type="radio">
    </div>
  </div>
                    <div class="layui-form-item">
                                <div class="layui-input-block">
                                    <button class="layui-btn site-demo-layedit btn-chouj-choose" data-type="content" lay-submit="" lay-filter="demo1">提交</button>
                                    <button class="layui-btn layui-btn-primary">
                                    <a href="__APP__/admin/activity/index">返回</a>
                                    </button>
                                </div>
                            </div>
                            
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body></html><style>
.tishitiao {
	background-color: #ff794e;
	color: #fff;
	border-left: none;
	line-height: 3px;
}
.layui-layer-content {
	padding: 20px 0;
	text-align: center;
}
.layui-layer-molv .layui-layer-title {
	color: #009f95
}
.layui-laydate .layui-this {
    background-color: #4f76eb!important;
    color: #fff!important;
}
.btn-chouj-choose{
	border-radius:3px;
	background-color:#1781ed;
	color:#fff;
	}
.btn-chouj
{
	border-radius:5px;
	background-color:#fff;
	color:#1781ed;
	border:1px solid #1781ed;
	}
</style>

<script type="text/javascript">
layui.use('laydate', function(){
  var laydate = layui.laydate;
 laydate.render({
    elem: '#begtime'
    ,type: 'datetime'
  });
  laydate.render({
    elem: '#endtime'
    ,type: 'datetime'
  });
});
layui.use(['form', 'layedit', 'laydate'], function(){
  var form = layui.form
  ,layer = layui.layer
  ,layedit = layui.layedit
  ,laydate = layui.laydate;
  
  //创建一个编辑器
  var editIndex = layedit.build('LAY_demo_editor');
 
  //自定义验证规则

  //监听提交
  form.on('submit(demo1)', function(){
layer.open({
  type: 1,
  skin: 'layui-layer-molv',
  closeBtn: 0, 
  anim: 2,
  area: ['300px', '150px'],
  shadeClose: false, 
  content: '加载中，请耐心等待...',
  title:' ',
  time:2000 ,
   end: function(){
    layer.open({
      type: 1,
      title: ' ',
	  icon: 1,
      content: '添加成功',
	  time:2000 ,
	   skin: 'layui-layer-molv',
       closeBtn: 0,
	   area: ['300px', '150px'],
    });
  }
});

    /*layer.alert(JSON.stringify(data.field), {
      title: '最终的提交信息'
    })*/
    return false;
  });
});
</script>