<include file="Public/top" />
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title col-sm-12">
                        <div class="col-sm-9"><h3>修改会员升级套餐</h3></div>
					    <div class="col-sm-3 text-right">
						    <a href="__URL__/index">
						    	<button type="submit" class="btn btn-sm btn-primary">返回上一级</button>
						    </a>
					    </div>
                    </div>
                    <div class="ibox-content"> 
                        <form method="post" class="form-horizontal" action="__URL__/update" enctype="multipart/form-data">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">商品名称</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="name" value="{$list.name}">
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">商品类别</label>
                                <div class="col-sm-10">
                                    <select class="form-control" name="cat_id">
                                        <volist name="catlist" id="v">
                                            <option value="{$v.id}" <if condition="$list.cat_id eq $v.id">selected</if> >{$v.name}</option>
                                        </volist>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">商品缩略图</label>
                                <div class="col-sm-10">
                                    <div style="height:198px;width:198px;padding:10px;padding-top:5px;">
                                        <div class="upload05" style="width:800px;margin-left:0px;">
                                            <div class="uploadbox05" style="margin-top:26px;margin-bottom:1px;">
                                                <img id="uploadmainpicture1" src="{$thumbpicture}" style="width:240px;height:200px;">
                                                <div class="uploadbuttombox05">
                                                    <div><input type="file" class="uploadinput05" style="width:240px;height:200px;margin-top:-80px;" 
                                                    name="thumbpicture" onchange="return onUploadImgChange(this,'uploadmainpicture1','240px','200px')"/></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clear" style="height:35px;text-align:center;line-height:55px;width:240px;">点击图片上传商品缩略图</div>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">售价</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="price" value="{$list.price}">
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">原价（只做显示用）</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="original_price" value="{$list.original_price}">
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">分销佣金比例(%)</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="share_commission" value="{$list.share_commission}">
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">规格</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="specification" value="{$list.specification}">
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">库存</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="stock" value="{$list.stock}">
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">单位</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="unit" value="{$list.unit}">
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">运费</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="freight" value="{$list.freight}">
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">商品图片</label>
                                <div class="col-sm-10" id="commodityimg">
                                    <div><button type="button" class="btn btn-primary" onclick="addpicturebox()">增加一张</button></div>
                                    <volist name="picturelist" id="v">
                                        <div class="col-sm-4">
                                            <div style="height:198px;width:198px;padding:10px;padding-top:5px;">
                                                <div class="upload05" style="width:800px;margin-left:0px;">
                                                    <div class="uploadbox05" style="margin-top:26px;margin-bottom:1px;">
                                                        <img id="{$v.pictureattr_id}" src="{$v.picture}" style="width:240px;height:200px;">
                                                        <div class="uploadbuttombox05">
                                                            <div><input type="file" class="uploadinput05" style="width:240px;height:200px;margin-top:-80px;" 
                                                            name="{$v.pictureattr_id}" onchange="return onUploadImgChange(this,'{$v.pictureattr_id}','240px','200px')"/></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="clear" style="height:35px;text-align:center;line-height:55px;width:240px;">点击图片上传商品图片</div>
                                        </div>
                                    </volist>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">排序</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="sort" value="{$list.sort}">
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">商品详情</label>
                                <div class="col-sm-10">
                                    <textarea  class="form-control" id="summernote" name="detail">{$list.detail}</textarea>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">备注</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="note" value="{$list.note}">
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <input type="hidden" name="id" value="{$list.id}" />
                            <input type="hidden" name="picture_number" value="{$number}" />
                            <div class="form-group">
                                <div class="col-sm-12 col-sm-offset-10">
                                    <button class="btn btn-primary" type="submit">保存</button>
                                    <button class="btn btn-white" type="reset">重置</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" charset="utf-8" src="__PUBLIC__/js/kindeditor/kindeditor-all-min.js"></script>
    <script type="text/javascript">
        KindEditor.ready(function(K) {
            K.create('#summernote', {
                allowFileManager : true,
                afterBlur: function(){this.sync();}
            });
        });
        var number = parseInt("{$number}");
        var picturenumber = parseInt("{$picturenumber}");
        function addpicturebox(){
            var str = '<div class="col-sm-4"><div style="height:198px;width:198px;padding:10px;padding-top:5px;"><div class="upload05" style="width:800px;margin-left:0px;"><div class="uploadbox05" style="margin-top:26px;margin-bottom:1px;border:1px solid #e3e3e3;"><img id="uploadmainpicture'+picturenumber+'" src="" style="width:240px;height:200px;"><div class="uploadbuttombox05"><div><input type="file" class="uploadinput05" style="width:240px;height:200px;margin-top:-80px;" name="picture'+number+'" onchange="return onUploadImgChange(this,\'uploadmainpicture'+picturenumber+'\',\'240px\',\'200px\')"/></div></div></div></div></div><div class="clear" style="height:35px;text-align:center;line-height:55px;width:240px;">点击图片上传商品图片</div></div>';
            $("#commodityimg").append(str);
            number++;
            picturenumber++;
        }
    </script>
<include file="Public/footer" />
