<include file="Public/top" />
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="ibox float-e-margins">
            <div class="ibox-title col-sm-12">
                <div class="col-sm-6"><h3>会员升级套餐列表</h3></div>
                <div class="col-sm-6 text-right">
	                <a href="__URL__/add"><button class="btn btn-primary">新增</button></a>
				</div>
                <div style="clear:both;height:10px"></div>
            <!-- 搜索栏 start -->
			<div>
			<form action="" method="post" id="queryForm">
				
			</form>
			</div>
			<div style="clear:both;"></div>
			</div>
			<!-- 搜索栏 end -->
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <h4 class="example-title"></h4>
                        <div class="example">
                            <table data-toggle="table" data-mobile-responsive="true">
                                <thead>
                                    <tr>
                                        <th class="bs-checkbox " style="width: 36px; " data-field="state" tabindex="0"><div class=" "><input name="btSelectAll" type="checkbox"></div><div class="fht-cell"></div></th>
                                        <!-- <th>ID</th>
										<th>套餐分类</th>
                                        <th>套餐名称</th>
                                        <th>套餐说明</th>
                                        <th>价格</th>
                                        <th>排序</th>
                                        <th>备注</th>
                                        <th>操作</th> -->
                                        <th>ID</th>
                                        <th>商品名称</th>
                                        <th>分类</th>
                                        <th>售价</th>
                                        <th>库存</th>
                                        <th>排序</th>
                                        <th>上/下架</th>
                                        <th>操作</th>
                                    </tr>
                                </thead>
                                <tbody id="datalist" >
                            		{$datalist["html"]}
                            	</tbody>
                            </table>
                            <div id="page" class="col-sm-12 text-right">{$datalist["page"]}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Panel Basic -->
    </div>
    
    <script type="text/javascript">
    	function complete_query(data) {
    		$("#datalist").empty();
    		$("#datalist").html(data.data.html);
    		$("#page").html(data.data.page);
    	}
    	function submitquery(id) {
			//set_querinstyle("btn_query");	//设置查询过程中按钮的显示样式
			if(!id) id = 1;  //设置为1表示为1个非负数，代表分页
    		$.get('__URL__/index',{'p':id,'account':$('#account').val(),'provinceid':$('#provinceid').val(),'cityid':$('#cityid').val(),'zoneid':$('#zoneid').val(),'usertypeid':$('#usertypeid').val()},complete_query,'json');
		}
		function upDown(id,status){
            if (window.confirm('确认是否上/下架？')) {
                if (status == 2) {
                    var newStatus = 1
                }else{
                    var newStatus = 2
                }
                $.post('__URL__/update',{'id':id,"status":newStatus},function(json){
                    if(json.code == 1){
                        alert(json.msg);
                        location.reload();
                    } else {
                        alert(json.msg);
                    }
                },'json');
            }
        }
		
	</script> 
<include file="Public/footer" />