<include file="Public/top" />
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="ibox float-e-margins">
            <div class="ibox-title col-sm-12">
                <div class="col-sm-6"><h3>轮播图管理</h3></div>
                <div class="col-sm-6 text-right">
	                <a href="{:url('Carousel/add')}"><button class="btn btn-primary">新增</button></a>
				</div>
                <div style="clear:both;height:10px"></div>
            <!-- 搜索栏 start -->
			<div>
			<form action="" method="post" id="queryForm">
				
			</form>
			</div>
			<div style="clear:both;"></div>
			</div>
			<!-- 搜索栏 end -->
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <h4 class="example-title"></h4>
                        <div class="example">
                            <empty name="list">
                                <div style="text-align: center;line-height: 100px;">暂无数据</div>
                            <else />
                                <volist name="list" id="v">
                                    <div class="col-sm-3 text-center">
                                        <div>
                                            <img src="{$v.picture}" class="img-responsive" style="margin:0px auto;" />
                                        </div>
                                        <div style="line-height: 45px;text-align: left;">点击跳转的商品ID：{$v.secondtitle}</div>
                                        <div style="line-height: 45px;text-align: left;">{$v.title}</div>
                                        <div style="position: absolute;bottom: 0px;right: 15px;line-height: 45px;"><a href="__URL__/edit/id/{$v.id}">修改</a></div>
                                    </div>
                                </volist>
                            </empty>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Panel Basic -->
    </div>
    
    <script type="text/javascript">
    	function complete_query(data) {
    		$("#datalist").empty();
    		$("#datalist").html(data.data.html);
    		$("#page").html(data.data.page);
    	}
    	function submitquery(id) {
			//set_querinstyle("btn_query");	//设置查询过程中按钮的显示样式
			if(!id) id = 1;  //设置为1表示为1个非负数，代表分页
    		$.get('__URL__/index',{'p':id,'account':$('#account').val(),'provinceid':$('#provinceid').val(),'cityid':$('#cityid').val(),'zoneid':$('#zoneid').val(),'usertypeid':$('#usertypeid').val()},complete_query,'json');
		}
		
	</script> 
<include file="Public/footer" />