<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>经销商服务系统管理后台</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
	<link href="__PUBLIC__/css/bootstrap.min14ed.css" rel="stylesheet">
    <link href="__PUBLIC__/css/font-awesome.min93e3.css" rel="stylesheet">
    <link href="__PUBLIC__/css/plugins/bootstrap-table/bootstrap-table.min.css" rel="stylesheet">
    <link href="__PUBLIC__/css/animate.min.css" rel="stylesheet">
    <link href="__PUBLIC__/css/style.min862f.css" rel="stylesheet">
    <link rel="stylesheet" href="__PUBLIC__/css/app/select.css">
    <link rel="stylesheet" href="__PUBLIC__/css/app/admin.css">
</head>
<body class="gray-bg">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="ibox float-e-margins">
            <div class="ibox-title col-sm-12">
                <div class="col-sm-6"><h3></h3></div>
                <div class="col-sm-6 text-right">
	                <a href=""><button class="btn btn-primary">导入</button></a>
	                <a href="{:url('exportexcel')}"><button class="btn btn-primary">导出</button></a>
					<a href="{:url('add')}"><button class="btn btn-primary">新增</button></a>
					<a href="javascript:edit('{:url('edit','','')}')"><button class="btn btn-primary">修改</button></a>
					<a href="javascript:dele('{:url('delete')}')"><button class="btn btn-primary">删除</button></a>
				</div>
                <div style="clear:both;height:10px"></div>
            <!-- 搜索栏 start -->
			<div>
			<form action="{:url('ajaxquery')}" method="post" id="queryForm">
				<div class="col-sm-12">
				 	<div class="col-sm-3"><!-- 账号： --><input type="text" name="account" class="form-control" placeholder="账号"/></div>
					<div class="col-sm-3"><!-- 昵称： --><input type="text" name="nickname" class="form-control" placeholder="昵称"/></div>
					<div class="col-sm-3"><!-- 公司名称： --><input type="text" name="companyname" class="form-control" placeholder="公司名称"/></div>
					<div class="col-sm-3 text-right">
						<div class="col-sm-3"><input type="button" onclick="querysubmit(1)" id="submitBtn" value="查询" class="btn  btn-outline btn-default"></div><!--  onclick="querysubmit()" -->
						<div class="col-sm-3"><input type="reset" value="重置" class="btn btn-outline btn-default"></div>
						<div class="col-sm-3" id="loading" style="margin-top:5px;"></div>
					</div>
				</div>
				<div class="col-sm-12" style="margin:10px 0px;">
					<div class="col-sm-2"><!-- 省： -->
					<label id="lblSelect">
				          <select  name="province_id" class="selectPointOfInterest" id="province" onchange="obtaincitylist('{:url(\'obtaincitylist\')}')"  title="Select points of interest nearby">
				              <option value="-10000">全部省份</option>
				              <volist name="provincelist" id="p">
								<option value="{$p.id}">{$p.name}</option>
							  </volist>
				         </select>
				     </label>
					</div>
					<div class="col-sm-2"><!-- 市： -->
					<label id="lblSelect">
				          <select  name="city_id" class="selectPointOfInterest" id="city" onchange="obtainzonelist('{:url(\'obtainzonelist\')}')" title="Select points of interest nearby">
			              	<option value="-10000">全部城市</option>
			              	<volist name="citylist" id="c">
								<option value="{$c.id}">{$c.name}</option>
							</volist>
				          </select>
				      </label>
					</div>
					<div class="col-sm-2"><!-- 区： -->
					<label id="lblSelect">
				          <select  name="zone_id" class="selectPointOfInterest" id="zone" title="Select points of interest nearby">
			              	<option value="-10000">全部区域</option>
			              	<volist name="zonelist" id="z">
								<option value="{$z.id}">{$z.name}</option>
							</volist>
				          </select>
				      </label>
					</div>
					<div class="col-sm-3">
						<!-- 用户类型： -->
				 		<label id="lblSelect">
				           <select  name="usertype_id" class="selectPointOfInterest" title="Select points of interest nearby">
			               	<option value="-10000">所有用户类型</option>
				  			<volist name="usertypelist" id="ut">
				  				<option value="{$ut.itemname}">{$ut.itemvalue}</option>
				  			</volist>
				           </select>
				       </label>
				 	</div>
				 	<!-- <div class="col-sm-3">
				 		<div class="col-sm-3"><input type="button" value="导入" class="btn btn-outline btn-default"></div>
						<div class="col-sm-3"><input type="button" value="导出" class="btn btn-outline btn-default"></div>
				 	</div> -->
				</div>
			</form>
			</div>
			<div style="clear:both;"></div>
			</div>
			<!-- 搜索栏 end -->
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <h4 class="example-title"></h4>
                        <div class="example">
                            <table data-toggle="table" data-mobile-responsive="true">
                                <thead>
                                    <tr>
                                        <th class="bs-checkbox " style="width: 36px; " data-field="state" tabindex="0"><div class=" "><input name="btSelectAll" type="checkbox"></div><div class="fht-cell"></div></th>
										<th><a href="javascript:orderby('')">产品编码</a></th>
										<th><a href="javascript:orderby('')">产品名称</a></th>
										<th><a href="javascript:orderby('')">型号规格</a></th>
										<th><a href="javascript:orderby('')">导体结构</a></th>
										<th><a href="javascript:orderby('')">指导价</a></th>
										<th><a href="javascript:orderby('')">更新日期</a></th>
                                    </tr>
                                </thead>
                                <tbody>
									<volist name="list" id="v">
									<tr>
										<td class="bs-checkbox"><input data-index="3" name="btSelectItem" type="checkbox" value="{$v.id}"></td>
										<td>{$v.productcode}</td>
										<td><a href="javascript:detail('{:url('detail','','')}','{$v.id}')">{$v.productname}</a></td>
										<td>{$v.guige}</td>
										<td>{$v.jiegou}</td>
										<td>{$v.productprice}</td>
										<td>{$v.updatetime}</td>
									</tr>
									</volist>
								</tbody>
                            </table>
                            <div id="page" class="col-sm-12 text-right">{$page}</div>
                            <div><input type="hidden" id="orderSequence" name="" value="{$ordersequence}"/></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Panel Basic -->
    </div>
    <script src="__PUBLIC__/js/jquery.min.js"></script>
    <script src="__PUBLIC__/js/bootstrap.min.js"></script>
    <script src="__PUBLIC__/js/plugins/bootstrap-table/bootstrap-table.min.js"></script>
    <script src="__PUBLIC__/js/plugins/bootstrap-table/bootstrap-table-mobile.min.js"></script>
    <script src="__PUBLIC__/js/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
    <script src="__PUBLIC__/js/demo/bootstrap-table-demo.min.js"></script>
    <script src="__PUBLIC__/js/app/admin.js"></script>
    <script type="text/javascript">  
		function querysubmit(id){
	    	var queryForm = document.getElementById("queryForm");
		    $.ajax({   
		        url:$('#queryForm').attr('action'), //发送后台的url  
		        type:'post',   
		        data:{'p':id,'account':queryForm['account'].value,'nickname':queryForm['nickname'].value,
		        	'companyname':queryForm['companyname'].value,'province_id':queryForm['province_id'].value,
		        	'city_id':queryForm['city_id'].value,'zone_id':queryForm['zone_id'].value,
		        	'usertype_id':queryForm['usertype_id'].value
		        }, //序列化表单内容 $('#queryForm').serialize()
		        dataType:'json', //后台返回的数据类型  
		        timeout:15000, //超时时间  
		        beforeSend:function(XMLHttpRequest){   
		          $("#loading").html("<img src='__PUBLIC__/img/22.gif'/>"); //在后台返回success之前显示loading图标  
		       	  $('#submitBtn').attr("disabled","true");
		        },   
		        success:function(json){  //data为后台返回的数据  
		            $("#loading").empty(); //ajax返回成功，清除loading图标  
		            $(".example tbody").empty();
					$(".example tbody").append(json.data.html);
					$('#submitBtn').removeAttr("disabled");
					$('#page').empty();
					$('#page').append(json.data.page);
		        }  
	        });
	    }
		//排序
		function orderby(orderitem){
			var orderSequence = document.getElementById('orderSequence').value;
			window.location.href = "{:url('query','','')}/orderitem/"+orderitem+"/ordersequence/"+orderSequence;
		}
	</script> 
</body>
</html>
