 <include file="Public:head2" />
   <link href="__PUBLIC__/css/cyx/43d745c168ec1b3220152c385fda6fbc.cssx" rel="stylesheet" />
  <script>               $('#layer1C3F9A702D0387A6AB12F33713DBBF6B').triggerHandler('layer_ready');</script>
        <div id='layer255F83904DF56006C456432D955D50CF' type='mbuttons'  class='cstlayer' style='left: 0px; top: 210px; position: absolute; z-index: 109; width: 320px; height: 50px;'  mid=""   deg='0'>
            <div class="wp-mbuttons_content" style="padding: 0px; border: 0px solid transparent; overflow: hidden; width: 320px; height: 50px;"><a href="" class="btnarea button_btndefault-link" style="width:320px;left:0px;top:0px;height:50px;line-height:50px;"> <span class="button_btndefault-label">定制服务</span> </a><script language="javascript">$(function(){
        });</script> 
            </div>
        </div>
        <script>                 $('#layer255F83904DF56006C456432D955D50CF').triggerHandler('layer_ready');</script>
        <div id='layer14894C59E82CD53384F2CDC80DB1857F' type='mbuttons'  class='cstlayer' style='left: 169px; top: 280px; position: absolute; z-index: 115; width: 62px; height: 62px;'  mid=""   deg='0'>
            <div class="wp-mbuttons_content" style="padding: 0px; border-color: transparent; border-width: 0px; overflow: hidden; width: 62px; height: 62px; border-style: solid;"><a href="page1000101.html" class="btnarea button_btndefault-link" style="width:60px;height:60px;line-height:60px;"> <span class="button_btndefault-label">按钮文本</span> </a>
            </div>
        </div>
        <script>                 $('#layer14894C59E82CD53384F2CDC80DB1857F').triggerHandler('layer_ready');</script>
        <div id='layerE58A5E02E7A748AEDE71CEA437C06D83' type='mbuttons'  class='cstlayer' style='left: 89px; top: 280px; position: absolute; z-index: 117; width: 62px; height: 62px;'  mid=""   deg='0'>
            <div class="wp-mbuttons_content" style="padding: 0px; border-color: transparent; border-width: 0px; overflow: hidden; width: 62px; height: 62px; border-style: solid;"><a href="page1000101.html" class="btnarea button_btndefault-link" style="width:60px;height:60px;line-height:60px;"> <span class="button_btndefault-label">按钮文本</span> </a>
            </div>
        </div>
        <script>                 $('#layerE58A5E02E7A748AEDE71CEA437C06D83').triggerHandler('layer_ready');</script>
        <div id='layer1831766ADDB05A02493E8AB0A25A95EC' type='mbuttons'  class='cstlayer' style='left: 9px; top: 280px; position: absolute; z-index: 116; width: 62px; height: 62px;'  mid=""   deg='0'>
            <div class="wp-mbuttons_content" style="padding: 0px; border-color: transparent; border-width: 0px; overflow: hidden; width: 62px; height: 62px; border-style: solid;"><a href="page1000101.html" class="btnarea button_btndefault-link" style="width:60px;height:60px;line-height:60px;"> <span class="button_btndefault-label">按钮文本</span> </a>
            </div>
        </div>
        <script>                 $('#layer1831766ADDB05A02493E8AB0A25A95EC').triggerHandler('layer_ready');</script>
        <div id='layerE9194366CC87596AFA36063191315140' type='mbuttons'  class='cstlayer' style='left: 249px; top: 280px; position: absolute; z-index: 114; width: 62px; height: 62px;'  mid=""   deg='0'>
            <div class="wp-mbuttons_content" style="padding: 0px; border-color: transparent; border-width: 0px; overflow: hidden; width: 62px; height: 62px; border-style: solid;"><a href="page1000101.html" class="btnarea button_btndefault-link" style="width:60px;height:60px;line-height:60px;"> <span class="button_btndefault-label">按钮文本</span> </a>
            </div>
        </div>
        <script>                 $('#layerE9194366CC87596AFA36063191315140').triggerHandler('layer_ready');</script>
        <div id='layerF43E0107E883DB95081F427FB24288C3' type='media'  class='cstlayer' style='left: 187px; top: 293px; position: absolute; z-index: 121; width: 27px; height: 36px;'  mid=""   deg='0'><script>
create_pc_media_set_pic('layerF43E0107E883DB95081F427FB24288C3',false);
</script>
            <div class="wp-media_content"  style="overflow: hidden; width: 27px; height: 36px; border-width: 0px; border-style: solid; padding: 0px;" type="0">
                <div class="img_over"  style='overflow: hidden; border-color: transparent; border-width: 0px; width: 27px; height: 36px;'>
                    <div class="imgloading" style="z-index:100;"> </div>
                    <a class="media_link" href="page1000101.html" target="_self" style="display:inline-block;"> <img  id="wp-media-image_layerF43E0107E883DB95081F427FB24288C3" class="img_lazy_load  paragraph_image" src="__PUBLIC__/images/d3.png" type="zoom"  style="width: 27px; height: auto;;" /> </a> </div>
            </div>
            <script>
layer_media_ready_func('layerF43E0107E883DB95081F427FB24288C3');
  $(function(){
     layer_media_lazyload_func('layerF43E0107E883DB95081F427FB24288C3', 0);
 })
 </script> 
        </div>
        <script>                 $('#layerF43E0107E883DB95081F427FB24288C3').triggerHandler('layer_ready');</script>
        <div id='layer7A2AB25AACE944D9A35A8CFB22BB8AD7' type='media'  class='cstlayer' style='left: 264px; top: 295px; position: absolute; z-index: 120; width: 32px; height: 32px;'  mid=""   deg='0'><script>
create_pc_media_set_pic('layer7A2AB25AACE944D9A35A8CFB22BB8AD7',false);
</script>
            <div class="wp-media_content"  style="overflow: hidden; width: 32px; height: 32px; border-width: 0px; border-style: solid; padding: 0px;" type="0">
                <div class="img_over"  style='overflow: hidden; border-color: transparent; border-width: 0px; width: 32px; height: 32px;'>
                    <div class="imgloading" style="z-index:100;"> </div>
                    <a class="media_link" href="page1000101.html" target="_self" style="display:inline-block;"> <img  id="wp-media-image_layer7A2AB25AACE944D9A35A8CFB22BB8AD7" class="img_lazy_load  paragraph_image" src="__PUBLIC__/images/d4.png" type="zoom"  style="width: 32px; height: auto;;" /> </a> </div>
            </div>
            <script>
layer_media_ready_func('layer7A2AB25AACE944D9A35A8CFB22BB8AD7');
  $(function(){
     layer_media_lazyload_func('layer7A2AB25AACE944D9A35A8CFB22BB8AD7', 0);
 })
 </script> 
        </div>
        <script>                 $('#layer7A2AB25AACE944D9A35A8CFB22BB8AD7').triggerHandler('layer_ready');</script>
        <div id='layerEC0821E4EA5F99B9B799AA5E6B35B3CD' type='media'  class='cstlayer' style='left: 102px; top: 296px; position: absolute; z-index: 119; width: 36px; height: 32px;'  mid=""   deg='0'><script>
create_pc_media_set_pic('layerEC0821E4EA5F99B9B799AA5E6B35B3CD',false);
</script>
            <div class="wp-media_content"  style="overflow: hidden; width: 36px; height: 32px; border-width: 0px; border-style: solid; padding: 0px;" type="0">
                <div class="img_over"  style='overflow: hidden; border-color: transparent; border-width: 0px; width: 36px; height: 32px;'>
                    <div class="imgloading" style="z-index:100;"> </div>
                    <a class="media_link" href="page1000101.html" target="_self" style="display:inline-block;"> <img  id="wp-media-image_layerEC0821E4EA5F99B9B799AA5E6B35B3CD" class="img_lazy_load  paragraph_image" src="__PUBLIC__/images/d2.png" type="zoom"  style="width: 36px; height: auto; top: 0px; left: 0px; position: relative;;" /> </a> </div>
            </div>
            <script>
layer_media_ready_func('layerEC0821E4EA5F99B9B799AA5E6B35B3CD');
  $(function(){
     layer_media_lazyload_func('layerEC0821E4EA5F99B9B799AA5E6B35B3CD', 0);
 })
 </script> 
        </div>
        <script>                 $('#layerEC0821E4EA5F99B9B799AA5E6B35B3CD').triggerHandler('layer_ready');</script>
        <div id='layerE4D49343C0471162923FD8E601200DE8' type='media'  class='cstlayer' style='left: 21px; top: 299px; position: absolute; z-index: 118; width: 37px; height: 26px;'  mid=""   deg='0'><script>
create_pc_media_set_pic('layerE4D49343C0471162923FD8E601200DE8',false);
</script>
            <div class="wp-media_content"  style="overflow: hidden; width: 37px; height: 26px; border-width: 0px; border-style: solid; padding: 0px;" type="0">
                <div class="img_over"  style='overflow: hidden; border-color: transparent; border-width: 0px; width: 37px; height: 26px;'>
                    <div class="imgloading" style="z-index:100;"> </div>
                    <a class="media_link" href="page1000101.html" target="_self" style="display:inline-block;"> <img  id="wp-media-image_layerE4D49343C0471162923FD8E601200DE8" class="img_lazy_load  paragraph_image" src="__PUBLIC__/images/d1.png" type="zoom"  style="width: 37px; height: auto;;" /> </a> </div>
            </div>
            <script>
layer_media_ready_func('layerE4D49343C0471162923FD8E601200DE8');
  $(function(){
     layer_media_lazyload_func('layerE4D49343C0471162923FD8E601200DE8', 0);
 })
 </script> 
        </div>
        <script>                 $('#layerE4D49343C0471162923FD8E601200DE8').triggerHandler('layer_ready');</script>
        <div id='layer6F21334D7926146CA8BC03C5679ADC23' type='title'  class='cstlayer' style='left: 10px; top: 346px; position: absolute; z-index: 110; width: 60px; height: 19px;'  mid=""   deg='0'>
            <meta content="telephone=no" name="format-detection">
            <!-- nav是防止在安卓UC浏览器里面字体变大添加的 -->
            <nav>
                <div class="wp-title_content" style="word-wrap: break-word; padding: 0px; border-color: transparent; border-width: 0px; height: 19px; width: 60px;">
                    <p style="text-align: center;"><span style="font-size: 12px;">软件开发</span></p>
                </div>
            </nav>
        </div>
        <script>                 $('#layer6F21334D7926146CA8BC03C5679ADC23').triggerHandler('layer_ready');</script>
        <div id='layerEB233DDAEF3FB7296E5A647FE22E51ED' type='title'  class='cstlayer' style='left: 90px; top: 346px; position: absolute; z-index: 113; width: 60px; height: 19px;'  mid=""   deg='0'>
            <meta content="telephone=no" name="format-detection">
            <!-- nav是防止在安卓UC浏览器里面字体变大添加的 -->
            <nav>
                <div class="wp-title_content" style="word-wrap: break-word; padding: 0px; border-color: transparent; border-width: 0px; height: 19px; width: 60px;">
                    <p style="text-align: center;"><span style="font-size: 12px;">微信开发</span></p>
                </div>
            </nav>
        </div>
        <script>                 $('#layerEB233DDAEF3FB7296E5A647FE22E51ED').triggerHandler('layer_ready');</script>
        <div id='layerF3C8EDA417298F3E1D38A93F9C3C3751' type='title'  class='cstlayer' style='left: 170px; top: 346px; position: absolute; z-index: 111; width: 60px; height: 19px;'  mid=""   deg='0'>
            <meta content="telephone=no" name="format-detection">
            <!-- nav是防止在安卓UC浏览器里面字体变大添加的 -->
            <nav>
                <div class="wp-title_content" style="word-wrap: break-word; padding: 0px; border-color: transparent; border-width: 0px; height: 19px; width: 60px;">
                    <p style="text-align: center;"><span style="font-size: 12px;">APP开发</span></p>
                </div>
            </nav>
        </div>
        <script>                 $('#layerF3C8EDA417298F3E1D38A93F9C3C3751').triggerHandler('layer_ready');</script>
        <div id='layer4119EA7ABD22BB1711F75B69316CB4F5' type='title'  class='cstlayer' style='left: 250px; top: 347px; position: absolute; z-index: 112; width: 60px; height: 18px;'  mid=""   deg='0'>
            <meta content="telephone=no" name="format-detection">
            <!-- nav是防止在安卓UC浏览器里面字体变大添加的 -->
            <nav>
                <div class="wp-title_content" style="word-wrap: break-word; padding: 0px; border-color: transparent; border-width: 0px; height: 18px; width: 60px;">
                    <p style="text-align: center;"><span style="font-size: 12px;">商城开发</span></p>
                </div>
            </nav>
        </div>
        <script>                 $('#layer4119EA7ABD22BB1711F75B69316CB4F5').triggerHandler('layer_ready');</script>
        <div id='layerE6471C8F447EEAE09C1A4B9676107312' type='mnew_message_form'  class='cstlayer' style='left: 5px; top: 379px; position: absolute; z-index: 109; width: 315px; height: 586px;'  mid=""   deg='0'>
            <div class="wp-mnew_message_form_content" style="border-color: transparent; border-width: 0px; overflow: hidden; width: 315px; height: 586px;">
                <style type="text/css">
    #layerE6471C8F447EEAE09C1A4B9676107312 .send{width: 100px;float: left;background: #00aff1;height: 40px;line-height: 40px;color: #FFF;text-align: center;    border-top-right-radius: 3px;    -moz-border-top-right-radius: 3px;    -weblik-border-top-right-radius: 3px;    border-bottom-right-radius: 3px;cursor:pointer;}
    #layerE6471C8F447EEAE09C1A4B9676107312 .cancel{background:#666666;cursor:default;}
    #layerE6471C8F447EEAE09C1A4B9676107312 .verify{width:216px;float:left;border-top-right-radius: 0px;    -moz-border-top-right-radius: 0px;    -weblik-border-top-right-radius: 0px;    border-bottom-right-radius: 0px;}
    #layerE6471C8F447EEAE09C1A4B9676107312 .defaultval{display:none;}

    </style>
                <form class="mesform" method="post" action="" style="position:relative;overflow:hidden;">
                    <input type="hidden" name="msid" value="6" />
                    <ul class="mfields">
                        <li>
                            <div class="title">姓名<span class="reqtip">*</span></div>
                            <div class="inpbox">
                                <input type="text" name="mes[text-i1]" class="inptext" maxlength="50" required />
                            </div>
                            <div style="clear:both;overflow:hidden;"></div>
                        </li>
                        <li>
                            <div class="title">E-mail</div>
                            <div class="inpbox">
                                <input type="text" name="mes[email-i6]" class="inptext" data-rule-email="true" maxlength="50" />
                            </div>
                            <div style="clear:both;overflow:hidden;"></div>
                        </li>
                        <li>
                            <div class="title">手机<span class="reqtip">*</span></div>
                            <div class="inpbox">
                                <input type="text" name="mes[mobile-i7]" class="inptext" data-rule-mobile="true" maxlength="50" required />
                            </div>
                            <div style="clear:both;overflow:hidden;"></div>
                        </li>
                        <li>
                            <div class="title">定制类型</div>
                            <div class="inpbox">
                                <select class="cp_sele sele2" name="mes[select-i9]">
                                    <option value=""> --- </option>
                                    <option value="1">软件开发</option>
                                    <option value="2">微信开发</option>
                                    <option value="3">APP开发</option>
                                    <option value="4">商城开发</option>
                                </select>
                                </div>
                            <div style="clear:both;overflow:hidden;"></div>
                        </li>
                        <li>
                            <div class="title">留言</div>
                            <div class="inpbox">
                                <textarea name="mes[textarea-i2]" class="txtarea" maxlength="150"></textarea>
                            </div>
                            <div style="clear:both;overflow:hidden;"></div>
                        </li>
                    </ul>
                    <div style="clear:both;overflow:hidden;"></div>
                    <a href="javascript:;" class="btnsubmit">提交</a>
                </form>
                <script>
            function add_id(id){  
               window.id = id;
            }
        </script>
        <style type="text/css">
            .sele2{
    background-position: right 5px center !important;
    background-repeat: no-repeat !important;
    position: relative;
    float: left;
    display: block;
    height: 38px;
    line-height: 38px;
    font-size: 12px;
    color: #000;
    width: 100%;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    cursor: pointer;
    border-color:#d9d9d9 
            }
        </style>
        <link href="__PUBLIC__/css/uploadify3.css" rel="stylesheet" type="text/css" />
<!--         <script type="text/javascript" src="__PUBLIC__/js/jquery.validate.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/webuploader.js"></script> -->
                <script>
$(function(){
    layer_mnew_message_form_core_func('layerE6471C8F447EEAE09C1A4B9676107312', 'ms1', 'no');
})</script></div>
            <script>$(function(){
    var mnew_message_form_params2 = {};
    mnew_message_form_params2['layerid'] = 'layerE6471C8F447EEAE09C1A4B9676107312';
    mnew_message_form_params2['datepicker'] = '';
    mnew_message_form_params2['datepickers'] = '';
    /*mnew_message_form_params2['jsbasedir'] = "http://static.websiteonline.cn/website/mplugin/mnew_message_form/js";*/
    mnew_message_form_params2['mselectmap'] = [];
    mnew_message_form_params2['tipmsg'] = {'isrequired': '该字段是必填项','email_error': '请输入有效的电子邮件地址','mobile_error': '请输入有效的手机号码','Idcard_error': '请输入有效的身份证号码','Idcard_len_error': '身份证号码长度必须为15或18位'};
    mnew_message_form_params2['reqfailed'] = "请求失败";
    mnew_message_form_params2['uplfailed'] = "上传失败！";
    mnew_message_form_params2['Field_not_empty'] = ":字段不能为空！";
/*    mnew_message_form_params2['Uploader_swf_url'] = "http://static.websiteonline.cn/website/script/webuploader/Uploader.swf";*/
    mnew_message_form_params2['cancel_png'] = "__PUBLIC__/images/cancel.png";
    mnew_message_form_params2['maxfile_size'] = " - 文件大小不能超过";
    mnew_message_form_params2['illegal_format'] = " - 非法的上传类型";
    mnew_message_form_params2['selected_pic'] = "已选择1张图片";
    mnew_message_form_params2['submit_tipmsg'] = ""||"提交成功";
    mnew_message_form_params2['use_auth_code'] = 'no';
    mnew_message_form_params2['theme'] = 'ms1';
    mnew_message_form_params2['text'] = '发送验证码';
    layer_mnew_message_form_onevent_func(mnew_message_form_params2);
    
        var u = navigator.userAgent;
    var isIos = u.indexOf('iPhone') > -1 || u.indexOf('Mac') > -1;
    if (isIos) {
        if($('input,select,textarea,.btnsubmit', '#layerE6471C8F447EEAE09C1A4B9676107312').length){
            var mviewport, $viewport = $('meta[name="viewport"]');
            if ($viewport.length > 0) {
                mviewport = $viewport[0];
                var metacontent = mviewport.content;
                if (metacontent && metacontent.replace) {
                    mviewport.content = metacontent.replace('user-scalable=yes','user-scalable=no');
                }
            }
        }
    }
    
    var u = navigator.userAgent;
    if (u.indexOf('iPhone') > -1) {
        var placestr = $("#layerE6471C8F447EEAE09C1A4B9676107312").find("textarea").attr("placeholder");        
          if(placestr && $.trim(placestr)!=''){
                placestr='    '+placestr;
                $("#layerE6471C8F447EEAE09C1A4B9676107312").find("textarea").attr("placeholder",placestr);
          }
    }
})</script></div>
        <script>                 $('#layerE6471C8F447EEAE09C1A4B9676107312').triggerHandler('layer_ready');</script> </div>
</body>
</html>