<include file="Public/top" />
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="ibox float-e-margins">
            <div class="ibox-title col-sm-12">
                <div class="col-sm-6"><h3>会员信息</h3></div>
                <div class="col-sm-6 text-right"></div>
                <div style="clear:both;height:10px"></div>
    			<!-- 搜索栏 start -->
                <div>
        			<form action="__URL__/importExcel" method="get" id="queryForm">
        				<div class="col-sm-12">
                            <div class="col-sm-2">
                                <select name="userlevel_id" id="userlevel_id" class="form-control">
                                    <option value="-10000">全部等级</option>
                                    <volist name="level" id="v">
                                        <option value="{$v.id}">{$v.name}</option>
                                    </volist>
                                </select>
                            </div>
                            <div class="col-sm-2" style="padding-right: 5px"><input type="text" id="start" name="starttime" class="form-control" placeholder="起始时间"/></div>
                            <div class="col-sm-2" style="padding-left: 5px"><input type="text" id="end" name="endtime" class="form-control" placeholder="结束时间"/></div>
                            <div class="col-sm-2"><input type="text" name="nickname" id="nickname" class="form-control" placeholder="用户昵称"/></div>
                            <div class="col-sm-2 text-right"><!--  -->
                                <div class="col-sm-3"><input type="button" onclick="submitquery(1)" id="submitBtn" value="查询" class="btn  btn-outline btn-default"></div>
                                <div class="col-sm-3" id="loading" style="margin-top:5px;"></div>
                            </div>
                            <input type="hidden" name="orderby" id="orderby" value="id">
                            <input type="hidden" name="orderway" id="orderway" value="asc">
                            <div class="col-sm-2">
                                <a href=""><button class="btn btn-primary" type="submit">导出</button></a>
                            </div>
                        </div>
        			</form>
    			</div>
                <!-- 搜索栏 end -->
                <div style="clear:both;"></div>
			</div>
			
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <h4 class="example-title"></h4>
                        <div class="example">
                            <table data-toggle="table" data-mobile-responsive="true">
                                <thead>
                                    <tr>
                                        <th class="bs-checkbox " style="width: 36px; " data-field="state" tabindex="0"><div class=" "><input name="btSelectAll" type="checkbox"></div><div class="fht-cell"></div></th>
                                        <th>ID</th>
										<th>会员昵称</th>
                                        <th>头像</th>
										<th>电话</th>
										<th><a href="javascript:orderby('userlevel_id')">用户等级</a></th>
                                        <th><a href="javascript:orderby('commission')">佣金</a></th>
                                        <th><a href="javascript:orderby('dividend')">龙蛋分红</a></th>
                                        <th><a href="javascript:orderby('manual_integral')">购物券</a></th>
                                        <th>直推</th>
                                        <th>注册时间</th>
										<th>操作</th>
                                    </tr>
                                </thead>
                                <tbody id="datalist" >
                            		{$datalist["html"]}
                            	</tbody>
                            </table>
                            <div id="page" class="col-sm-12 text-right">{$datalist["page"]}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Panel Basic -->
    </div>
    
    <script type="text/javascript">
    	function complete_query(data) {
    		$("#datalist").empty();
    		$("#datalist").html(data.data.html);
    		$("#page").html(data.data.page);
    	}
    	function submitquery(id) {
			//set_querinstyle("btn_query");	//设置查询过程中按钮的显示样式
			if(!id) id = 1;  //设置为1表示为1个非负数，代表分页
    		$.get('__URL__/index',{'p':id,'userlevel_id':$('#userlevel_id').val(),'nickname':$('#nickname').val(),'start':$('#start').val(),'end':$('#end').val(),'orderby':$('#orderby').val(),'orderway':$('#orderway').val()},complete_query,'json');
		}
		function orderby(type){
            $('#orderby').val(type);
            var orderway = $("#orderway").val();
            if (orderway == 'desc') {
                $("#orderway").val('asc');
            }else{
                $("#orderway").val('desc');
            }
            submitquery(1);
        }
		function resetuserpassword(id){
        	if (id){
        		var inputValue = id;
        	}else{
        		var inputValue = $("input[type='checkbox']:checked").val();
        	}
        	if ($("#page .active span").html()){
        		var page = $("#page .active span").html().replace(/\D+/g,"")
        	}
        	if (inputValue == undefined){
        		alert("请选择用户帐户");
        		return;
        	} else {
        		if (window.confirm('确实要重置用户密码吗？')) {
        			$.post('{:url("resetuserpassword")}',{'uid':inputValue},function(json){
    					if(json.code == 1){
    						alert(json.msg);
    						location.reload();
    					} else {
    						alert(json.msg);
    					}
    				},'json')
    			}
        	}
        }
        $(function(){  
            var start = {  
                elem: '#start', //选择ID为START的input  
                format: 'YYYY/MM/DD hh:mm:ss', //自动生成的时间格式  
                min: '1900-01-01 0:0:0', //设定最小日期为当前日期-laydate.now()
                max: '2099-06-16 23:59:59', //最大日期  
                istime: true, //必须填入时间  
                istoday: false,  //是否是当天  
                start: laydate.now(0,"YYYY/MM/DD hh:mm:ss"),  //设置开始时间为当前时间  
                choose: function(datas){  
                     end.min = datas; //开始日选好后，重置结束日的最小日期  
                     end.start = datas //将结束日的初始值设定为开始日  
                }  
            };  
            var end = {  
                elem: '#end',  
                format: 'YYYY/MM/DD hh:mm:ss',  
                min: '1900-01-01 0:0:0',  
                max: '2099-06-16 23:59:59',  
                istime: true,  
                istoday: false,  
                start: laydate.now(0,"YYYY/MM/DD hh:mm:ss"),  
                choose: function(datas){  
                    start.max = datas; //结束日选好后，重置开始日的最大日期  
                }  
            };  
            laydate(start);  
            laydate(end);  
        }) 
	</script> 
<include file="Public/footer" />