 <include file="Public:head" />
 <script>
    var $fullwidth=$('#layer615F400C9B6B4569689421CFD1FAE550 .full_width');
    $fullwidth.css({left:0-$('#canvas').offset().left+$('#scroll_container').offset().left-$('#scroll_container').scrollLeft()-$.parseInteger($('#canvas').css("borderLeftWidth")),width:$('#scroll_container_bg').width()});
    $(function () {
        var videoParams={"id":"layer615F400C9B6B4569689421CFD1FAE550","bgauto":null,"ctauto":null,"bVideouse":null,"cVideouse":null,"bgvHeight":null,"bgvWidth":null};
        fullcolumn_bgvideo_init_func(videoParams);
    });
</script>
<div id='layer4033C5A1D8D22A7D37C61FE267DDE4F2' type='unslider'  class='cstlayer' style='left: 0px; top: 120px; position: absolute; z-index: 100; width: 1200px; height: 320px;'  mid=""   deg='0'><style>
    #layer4033C5A1D8D22A7D37C61FE267DDE4F2html5zoo-1{
        margin:0 auto;
    }
</style>
<div id="layer4033C5A1D8D22A7D37C61FE267DDE4F2_content" class="wp-unslider_content" style="overflow: hidden; border: none; left: -351.5px; width: 1903px; height: 320px; position: absolute;">
    <script type="text/javascript">

    </script>

    <!-- loop star -->
    <div id="layer4033C5A1D8D22A7D37C61FE267DDE4F2html5zoo-1">
        <ul class="html5zoo-slides" style="display:none;">

            <li><img alt="" src="__PUBLIC__/images/5.jpg" class="html5lightbox" /></a></li>

            <li><img alt="" src="__PUBLIC__/images/4.jpg" class="html5lightbox" /></a></li>
        </ul>
    </div>
    <!-- loop end -->

    <script language="javascript">
        (function(){
            var layerparams={"layerid":"layer4033C5A1D8D22A7D37C61FE267DDE4F2","pstyle":"none","plborder_size":"0","interval":5000,"autoplays":"true","title_size":"40","title_family":"SimSun","title_color":"#FFFFFF","easing":"all","show_title":"1","show_nav":"0","navigation_style":"01","navbg_hover_color":"#660000","nav_margin_bottom_size":"25","nav_arrow":"1","arrow_left":"template\/default\/images\/left_arrow.png","arrow_right":"template\/default\/images\/right_arrow.png","nav_margin_left_size":"25","nav_margin_right_size":"25","skin":"01","default_show":"1","hover_show":"0","pauseonmouseover":"1","nav_arrow_w_size":"32","nav_arrow_h_size":"32"};
            layer_unslider_init_func(layerparams);
        })()  
    </script>
</div>
</div><script>               $('#layer4033C5A1D8D22A7D37C61FE267DDE4F2').triggerHandler('layer_ready');</script>
<div id="layer08980ED91003FC76D3D2CD4FEB8C22E2" class="full_column"   style="width:1200px;position:absolute;top:120px;height:320px;z-index:103;">
    <div class="full_width" style="position:absolute;height:320px;background-color:transparent;background:;"> </div>
    <div class="full_content" style="width:1200px; position:absolute;left:0;top:0;margin-left: 0px;;height:320px;">
        <div id='layerF4F0B761EAF8A796CF5A8FE6BCADFF6E' type='title'  class='cstlayer' style='left: 0px; top: 80px; position: absolute; z-index: 104; width: 1200px; height: 68px; display: block;display:none;'  mid=""  fatherid='layer08980ED91003FC76D3D2CD4FEB8C22E2'   deg='0'>
            <div class="wp-title_content" style="word-wrap: break-word; padding: 0px; border-color: transparent; border-width: 0px; height: 68px; width: 1200px; display: block;">
                <div style="text-align: center;"><font color="#ffffff" face="微软雅黑"><span style="font-size: 40px;">科技创造生活 · 精诚赢得未来</span></font></div>
            </div>
        </div>
        <script>		         $('#layerF4F0B761EAF8A796CF5A8FE6BCADFF6E').data('wopop_effects',{"effect":"fadeFromTop","delay":0,"duration":1.2,"loop":0,"loop_infinite":"0"});		         $('#layerF4F0B761EAF8A796CF5A8FE6BCADFF6E').triggerHandler('layer_ready');</script>
        <div id='layer18E3E9B709E04186F2E4A818568C8058' type='title'  class='cstlayer' style='left: 293px; top: 150px; position: absolute; z-index: 137; width: 613px; height: 74px; display: block;display:none;'  mid=""  fatherid='layer08980ED91003FC76D3D2CD4FEB8C22E2'   deg='0'>
            <div class="wp-title_content" style="word-wrap: break-word; padding: 0px; border-color: transparent; border-width: 0px; height: 74px; width: 613px; display: block; border-style: solid;">
                <div style="text-align: center;"><span style="font-size: 14px; font-family: 微软雅黑; line-height: 180%; color: rgb(255, 255, 255);">依托网络科技数据中心，以行业内领先的大数据技术及产品体系为基础， 运用成熟的运营模式为企业和个人提供定制化的大数据产品和服务。</span></div>
                <div style="text-align: center; color: rgb(90, 90, 90); font-family: Arial, 宋体, Helvetica, sans-serif, Verdana; font-size: 12px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: normal;"><br>
                </div>
            </div>
        </div>
        <script>		         $('#layer18E3E9B709E04186F2E4A818568C8058').data('wopop_effects',{"effect":"fadeFromTop","delay":0,"duration":1.2,"loop":0,"loop_infinite":"0"});		         $('#layer18E3E9B709E04186F2E4A818568C8058').triggerHandler('layer_ready');</script> </div>
    </div>
    <script>
     var $fullwidth=$('#layer08980ED91003FC76D3D2CD4FEB8C22E2 .full_width');
     $fullwidth.css({left:0-$('#canvas').offset().left+$('#scroll_container').offset().left-$('#scroll_container').scrollLeft()-$.parseInteger($('#canvas').css("borderLeftWidth")),width:$('#scroll_container_bg').width()});
     $(function () {
        var videoParams={"id":"layer08980ED91003FC76D3D2CD4FEB8C22E2","bgauto":null,"ctauto":null,"bVideouse":null,"cVideouse":null,"bgvHeight":null,"bgvWidth":null};
        fullcolumn_bgvideo_init_func(videoParams);
    });
</script>
<div id="layerBE6E548F65F743049F62CAC6D6A3309B" class="full_column"   style="width:1200px;position:absolute;top:440px;height:360px;z-index:103;">
    <div class="full_width" style="position:absolute;height:360px;background-color:#ffffff;background:;"> </div>
    <div class="full_content" style="width:1200px; position:absolute;left:0;top:0;margin-left: 0px;;height:360px;">
        <div id='layer0AB5D7E1A6F57C40F93118B7669033E9' type='title'  class='cstlayer' style='left: 265px; top: 261px; position: absolute; z-index: 145; width: 150px; height: 25px;'  mid=""  fatherid='layerBE6E548F65F743049F62CAC6D6A3309B'   deg='0'>
            <div class="wp-title_content" style="word-wrap: break-word; padding: 0px; border-color: transparent; border-width: 0px; height: 25px; width: 150px; display: block;">
                <div style="text-align: center;"><span style="font-size: 16px; font-family: 微软雅黑; color: rgb(34, 34, 34);">需求调研与分析</span></div>
            </div>
        </div>
        <script>		         $('#layer0AB5D7E1A6F57C40F93118B7669033E9').triggerHandler('layer_ready');</script>
        <div id='layer338BD7F9FC76F2DE8368FC538B567447' type='title'  class='cstlayer' style='left: 437px; top: 261px; position: absolute; z-index: 146; width: 150px; height: 25px;'  mid=""  fatherid='layerBE6E548F65F743049F62CAC6D6A3309B'   deg='0'>
            <div class="wp-title_content" style="word-wrap: break-word; padding: 0px; border-color: transparent; border-width: 0px; height: 25px; width: 150px; display: block;">
                <div style="text-align: center;"><font color="#222222" face="微软雅黑"><span style="font-size: 16px;">原型设计</span></font></div>
            </div>
        </div>
        <script>		         $('#layer338BD7F9FC76F2DE8368FC538B567447').triggerHandler('layer_ready');</script>
        <div id='layer0510232ACD8232CFD1797747222ED92D' type='title'  class='cstlayer' style='left: 607px; top: 261px; position: absolute; z-index: 148; width: 150px; height: 25px;'  mid=""  fatherid='layerBE6E548F65F743049F62CAC6D6A3309B'   deg='0'>
            <div class="wp-title_content" style="word-wrap: break-word; padding: 0px; border-color: transparent; border-width: 0px; height: 25px; width: 150px; display: block;">
                <div style="text-align: center;"><font color="#222222" face="微软雅黑"><span style="font-size: 16px;">产品设计</span></font></div>
            </div>
        </div>
        <script>		         $('#layer0510232ACD8232CFD1797747222ED92D').triggerHandler('layer_ready');</script>
        <div id='layer1FD03AA0C4CFFB66107DF31C7F5EFF6E' type='title'  class='cstlayer' style='left: 777px; top: 261px; position: absolute; z-index: 149; width: 150px; height: 25px;'  mid=""  fatherid='layerBE6E548F65F743049F62CAC6D6A3309B'   deg='0'>
            <div class="wp-title_content" style="word-wrap: break-word; padding: 0px; border-color: transparent; border-width: 0px; height: 25px; width: 150px; display: block;">
                <div style="text-align: center;"><font color="#222222" face="微软雅黑"><span style="font-size: 16px;">软件测试</span></font></div>
            </div>
        </div>
        <script>		         $('#layer1FD03AA0C4CFFB66107DF31C7F5EFF6E').triggerHandler('layer_ready');</script>
        <div id='layer306B2625162985370607DE3A412DF05C' type='title'  class='cstlayer' style='left: 948px; top: 261px; position: absolute; z-index: 150; width: 150px; height: 25px;'  mid=""  fatherid='layerBE6E548F65F743049F62CAC6D6A3309B'   deg='0'>
            <div class="wp-title_content" style="word-wrap: break-word; padding: 0px; border-color: transparent; border-width: 0px; height: 25px; width: 150px; display: block;">
                <div style="text-align: center;"><font color="#222222" face="微软雅黑"><span style="font-size: 16px;">打包发布</span></font></div>
            </div>
        </div>
        <script>		         $('#layer306B2625162985370607DE3A412DF05C').triggerHandler('layer_ready');</script>
        <div id='layer2E49B035BD0E3815EE269F560DD7FE0D' type='title'  class='cstlayer' style='left: 0px; top: 111px; position: absolute; z-index: 152; width: 1200px; height: 27px;'  mid=""  fatherid='layerBE6E548F65F743049F62CAC6D6A3309B'   deg='0'>
            <div class="wp-title_content" style="word-wrap: break-word; padding: 0px; border-color: transparent; border-width: 0px; height: 27px; width: 1200px; display: block;">
                <div style="text-align: center;"><font color="#222222" face="微软雅黑"><span style="font-size: 14px; color: rgb(119, 119, 119);">保证交付率、您的要求就是我们的追求，为您专属定制</span></font></div>
            </div>
        </div>
        <script>		         $('#layer2E49B035BD0E3815EE269F560DD7FE0D').triggerHandler('layer_ready');</script>
        <div id='layerB3152F72D7105CD39BAAC3528AD4E9CF' type='title'  class='cstlayer' style='left: 0px; top: 60px; position: absolute; z-index: 151; width: 1200px; height: 52px;'  mid=""  fatherid='layerBE6E548F65F743049F62CAC6D6A3309B'   deg='0'>
            <div class="wp-title_content" style="word-wrap: break-word; padding: 0px; border-color: transparent; border-width: 0px; height: 52px; width: 1200px; display: block;">
                <div style="text-align: center;"><font color="#222222" face="微软雅黑"><span style="font-size: 30px;">开发流程</span></font></div>
            </div>
        </div>
        <script>		         $('#layerB3152F72D7105CD39BAAC3528AD4E9CF').triggerHandler('layer_ready');</script>
        <div id='layerD98E1C16FB6F91A4B4450630F27C54A4' type='title'  class='cstlayer' style='left: 96px; top: 261px; position: absolute; z-index: 144; width: 150px; height: 25px;'  mid=""  fatherid='layerBE6E548F65F743049F62CAC6D6A3309B'   deg='0'>
            <div class="wp-title_content" style="word-wrap: break-word; padding: 0px; border-color: transparent; border-width: 0px; height: 25px; width: 150px; display: block;">
                <div style="text-align: center;"><span style="font-size: 16px; font-family: 微软雅黑; color: rgb(34, 34, 34);">需求调研与分析</span></div>
            </div>
        </div>
        <script>		         $('#layerD98E1C16FB6F91A4B4450630F27C54A4').triggerHandler('layer_ready');</script>
        <div id='layerC918886D1D98F6984113B90ACA0A239D' type='timeline'  class='cstlayer' style='left: 0px; top: 184px; position: absolute; z-index: 139; height: 64px; width: 1200px; display: block;'  mid=""  fatherid='layerBE6E548F65F743049F62CAC6D6A3309B'   deg='0'>
            <div class="wp-timeline_content" style="border-color: transparent; border-width: 0px; height: 64px; width: 1200px;">
                <link href="__PUBLIC__/css/iconfont.css" rel="stylesheet" type="text/css" />
                <ul class="timeline-box" id="layerC918886D1D98F6984113B90ACA0A239D_timeline">
                    <li class="year"> <i class="iconfont icon-shijian"></i> <span>2017</span>
                        <p class="line"></p>
                    </li>
                    <li class="month m1"> <span class="icnbox"></span>
                        <div class="details" style="display:none;"> <i class="tline"></i>
                            <div class="popbox">
                                <p class="title">需求调研与分析</p>
                                <div class="conts"><br />
                                </div>
                                <span class="date" data-info="02-28" data-set="yearmonthdate">02-28</span> </div>
                                <!--// popbox--> 
                            </div>
                            <!--// details-->
                            <p class="line"></p>
                        </li>
                        <li class="month m6"> <span class="icnbox"></span>
                            <div class="details" style="display:none;"> <i class="tline"></i>
                                <div class="popbox">
                                    <p class="title">原型设计</p>
                                    <div class="conts"><br />
                                    </div>
                                    <span class="date" data-info="03-01" data-set="yearmonthdate">03-01</span> </div>
                                    <!--// popbox--> 
                                </div>
                                <!--// details-->
                                <p class="line"></p>
                            </li>
                            <li class="month m7"> <span class="icnbox"></span>
                                <div class="details" style="display:none;"> <i class="tline"></i>
                                    <div class="popbox">
                                        <p class="title">产品设计</p>
                                        <div class="conts"><br />
                                        </div>
                                        <span class="date" data-info="03-02" data-set="yearmonthdate">03-02</span> </div>
                                        <!--// popbox--> 
                                    </div>
                                    <!--// details-->
                                    <p class="line"></p>
                                </li>
                                <li class="month m8"> <span class="icnbox"></span>
                                    <div class="details" style="display:none;"> <i class="tline"></i>
                                        <div class="popbox">
                                            <p class="title">程序编码</p>
                                            <div class="conts"><br />
                                            </div>
                                            <span class="date" data-info="03-03" data-set="yearmonthdate">03-03</span> </div>
                                            <!--// popbox--> 
                                        </div>
                                        <!--// details-->
                                        <p class="line"></p>
                                    </li>
                                    <li class="month m9"> <span class="icnbox"></span>
                                        <div class="details" style="display:none;"> <i class="tline"></i>
                                            <div class="popbox">
                                                <p class="title">软件测试</p>
                                                <div class="conts"><br />
                                                </div>
                                                <span class="date" data-info="03-04" data-set="yearmonthdate">03-04</span> </div>
                                                <!--// popbox--> 
                                            </div>
                                            <!--// details-->
                                            <p class="line"></p>
                                        </li>
                                        <li class="month m10"> <span class="icnbox"></span>
                                            <div class="details" style="display:none;"> <i class="tline"></i>
                                                <div class="popbox">
                                                    <p class="title">打包发布</p>
                                                    <div class="conts"><br />
                                                    </div>
                                                    <span class="date" data-info="03-05" data-set="yearmonthdate">03-05</span> </div>
                                                    <!--// popbox--> 
                                                </div>
                                                <!--// details-->
                                                <p class="line"></p>
                                            </li>
                                            <li><i class="iconfont icon-shijian"></i></li>
                                        </ul>
                                        <!--// timeline-box--> 
                                        <script>$(function(){
                                         layer_timeline_h2core({"layerid":"layerC918886D1D98F6984113B90ACA0A239D","maxh":48});
                                     })</script></div>
                                 </div>
                                 <script>		         $('#layerC918886D1D98F6984113B90ACA0A239D').triggerHandler('layer_ready');</script> </div>
                             </div>
                             <script>
                                 var $fullwidth=$('#layerBE6E548F65F743049F62CAC6D6A3309B .full_width');
                                 $fullwidth.css({left:0-$('#canvas').offset().left+$('#scroll_container').offset().left-$('#scroll_container').scrollLeft()-$.parseInteger($('#canvas').css("borderLeftWidth")),width:$('#scroll_container_bg').width()});
                                 $(function () {
                                    var videoParams={"id":"layerBE6E548F65F743049F62CAC6D6A3309B","bgauto":null,"ctauto":null,"bVideouse":null,"cVideouse":null,"bgvHeight":null,"bgvWidth":null};
                                    fullcolumn_bgvideo_init_func(videoParams);
                                });
                            </script>
                            <div id="layer23BB0AC219D175B3DF3B1F3226E8F380" class="full_column"   style="width:1200px;position:absolute;top:801px;height:500px;z-index:104;">
                                <div class="full_width" style="position:absolute;height:500px;background-color:transparent;background:;background-image:url('__PUBLIC__/images/bg_rongyu.png');background-position:center top;background-repeat:no-repeat;"> </div>
                                <div class="full_content" style="width:1200px; position:absolute;left:0;top:0;margin-left: 0px;;height:500px;">
                                    <div id='layer48D1353552924F072ABE2C5F90F06E39' type='title'  class='cstlayer' style='left: 0px; top: 125px; position: absolute; z-index: 151; width: 1200px; height: 27px;'  mid=""  fatherid='layer23BB0AC219D175B3DF3B1F3226E8F380'   deg='0'>
                                        <div class="wp-title_content" style="word-wrap: break-word; padding: 0px; border-color: transparent; border-width: 0px; height: 27px; width: 1200px; display: block;">
                                            <div style="text-align: center;"><font color="#222222" face="微软雅黑"><span style="font-size: 14px; color: rgb(255, 255, 255);">保证交付率、您的要求就是我们的追求，为您专属定制</span></font></div>
                                        </div>
                                    </div>
                                    <script>		         $('#layer48D1353552924F072ABE2C5F90F06E39').triggerHandler('layer_ready');</script>
                                    <div id='layerB7BF1ADECDF387452830B5D933EA9DBF' type='title'  class='cstlayer' style='left: 0px; top: 75px; position: absolute; z-index: 149; width: 1200px; height: 52px;'  mid=""  fatherid='layer23BB0AC219D175B3DF3B1F3226E8F380'   deg='0'>
                                        <div class="wp-title_content" style="word-wrap: break-word; padding: 0px; border-color: transparent; border-width: 0px; height: 52px; width: 1200px; display: block;">
                                            <div style="text-align: center;"><font color="#ffffff" face="微软雅黑"><span style="font-size: 30px;">我们的优势</span></font></div>
                                        </div>
                                    </div>
                                    <script>		         $('#layerB7BF1ADECDF387452830B5D933EA9DBF').triggerHandler('layer_ready');</script>
                                    <div id='layer96E91310B47F4E1C49C47901FA879882' type='title'  class='cstlayer' style='left: 432px; top: 352px; position: absolute; z-index: 105; width: 336px; height: 71px; display: block;display:none;'  mid=""  fatherid='layer23BB0AC219D175B3DF3B1F3226E8F380'   deg='0'>
                                        <div class="wp-title_content" style="word-wrap: break-word; padding: 0px; border-color: transparent; border-width: 0px; height: 71px; width: 336px; display: block; border-style: solid;">
                                            <div style="text-align: justify;"><font color="#ffffff" face="微软雅黑"><span style="font-size: 14px;"><span style="line-height:180%;">我们是一支拥有10年以上开发经验的专业团队。包括资深架构师、微软认证工程师、技术研发人员等50多名专业人员，</span><span style="line-height:180%;">​</span><span style="line-height:180%;">积累了深厚的开发经验。</span></span></font></div>
                                        </div>
                                    </div>
                                    <script>		         $('#layer96E91310B47F4E1C49C47901FA879882').data('wopop_effects',{"effect":"fadeFromLeft","delay":0,"duration":1.2,"loop":0,"loop_infinite":"0"});		         $('#layer96E91310B47F4E1C49C47901FA879882').triggerHandler('layer_ready');</script>
                                    <div id='layerA447D3251276920294C5559E2E8D43BC' type='media'  class='cstlayer' style='left: 564px; top: 212px; position: absolute; z-index: 102; width: 72px; height: 72px; display: block;display:none;'  mid=""  fatherid='layer23BB0AC219D175B3DF3B1F3226E8F380'   deg='0'><script>
                                        create_pc_media_set_pic('layerA447D3251276920294C5559E2E8D43BC',false);
                                    </script>
                                    <div class="wp-media_content"  style="overflow: hidden; width: 72px; height: 72px; border-width: 0px; border-style: solid; padding: 0px;" type="0">
                                        <div class="img_over"  style='overflow: hidden; border-color: transparent; border-width: 0px; width: 72px; height: 72px;'>
                                            <div class="imgloading" style="z-index:100;"> </div>
                                            <img onerror="set_thumb_layerA447D3251276920294C5559E2E8D43BC(this);" onload="set_thumb_layerA447D3251276920294C5559E2E8D43BC(this);" id="wp-media-image_layerA447D3251276920294C5559E2E8D43BC"  src="__PUBLIC__/images/y3.png" type="zoom" class="paragraph_image"  style="width: 72px; height: 72px;;display:none;" /> </div>
                                        </div>
                                        <script>
                                            (function(){
                                             layer_media_init_func('layerA447D3251276920294C5559E2E8D43BC');

                                         })()
                                     </script> 
                                 </div>
                                 <script>		         $('#layerA447D3251276920294C5559E2E8D43BC').data('wopop_effects',{"effect":"fromright","delay":0,"duration":1.2,"loop":0,"loop_infinite":"0"});		         $('#layerA447D3251276920294C5559E2E8D43BC').triggerHandler('layer_ready');</script>
                                 <div id='layerAB1AC77F202D390E646C56F90EA65162' type='title'  class='cstlayer' style='left: 931px; top: 308px; position: absolute; z-index: 107; width: 200px; height: 29px; display: block;display:none;'  mid=""  fatherid='layer23BB0AC219D175B3DF3B1F3226E8F380'   deg='0'>
                                    <div class="wp-title_content" style="word-wrap: break-word; padding: 0px; border-color: transparent; border-width: 0px; height: 29px; width: 200px; display: block; border-style: solid;">
                                        <div style="text-align: center;"><font color="#ffffff" face="微软雅黑"><span style="font-size: 18px;">源代码全交付</span></font></div>
                                    </div>
                                </div>
                                <script>		         $('#layerAB1AC77F202D390E646C56F90EA65162').data('wopop_effects',{"effect":"fadeFromLeft","delay":0,"duration":1.2,"loop":0,"loop_infinite":"0"});		         $('#layerAB1AC77F202D390E646C56F90EA65162').triggerHandler('layer_ready');</script>
                                <div id='layer2C9D5F26D0958E1CBE4FDBC2FC4E8D6E' type='title'  class='cstlayer' style='left: 863px; top: 352px; position: absolute; z-index: 164; width: 336px; height: 71px; display: block;display:none;'  mid=""  fatherid='layer23BB0AC219D175B3DF3B1F3226E8F380'   deg='0'>
                                    <div class="wp-title_content" style="word-wrap: break-word; padding: 0px; border-color: transparent; border-width: 0px; height: 71px; width: 336px; display: block; border-style: solid;">
                                        <div style="text-align: left;"><font color="#ffffff" face="微软雅黑"><span style="font-size: 14px; line-height: 180%;">项目完成后，我们会将系统连同项目源代码一同交付与您。​不仅能够保证系统的安全性、稳定性，也能为后续系统维护，甚至是进行二次开发提供便利。</span></font></div>
                                    </div>
                                </div>
                                <script>		         $('#layer2C9D5F26D0958E1CBE4FDBC2FC4E8D6E').data('wopop_effects',{"effect":"fadeFromLeft","delay":0,"duration":1.2,"loop":0,"loop_infinite":"0"});		         $('#layer2C9D5F26D0958E1CBE4FDBC2FC4E8D6E').triggerHandler('layer_ready');</script>
                                <div id='layerA2DCE0F433407C2A5CB6F0D819471B62' type='media'  class='cstlayer' style='left: 995px; top: 212px; position: absolute; z-index: 103; width: 72px; height: 72px; display: block;display:none;'  mid=""  fatherid='layer23BB0AC219D175B3DF3B1F3226E8F380'   deg='0'><script>
                                    create_pc_media_set_pic('layerA2DCE0F433407C2A5CB6F0D819471B62',false);
                                </script>
                                <div class="wp-media_content"  style="overflow: hidden; width: 72px; height: 72px; border-width: 0px; border-style: solid; padding: 0px;" type="0">
                                    <div class="img_over"  style='overflow: hidden; border-color: transparent; border-width: 0px; width: 72px; height: 72px;'>
                                        <div class="imgloading" style="z-index:100;"> </div>
                                        <img onerror="set_thumb_layerA2DCE0F433407C2A5CB6F0D819471B62(this);" onload="set_thumb_layerA2DCE0F433407C2A5CB6F0D819471B62(this);" id="wp-media-image_layerA2DCE0F433407C2A5CB6F0D819471B62"  src="__PUBLIC__/images/y4.png" type="zoom" class="paragraph_image"  style="width: 72px; height: 72px;;display:none;" /> </div>
                                    </div>
                                    <script>
                                        (function(){
                                         layer_media_init_func('layerA2DCE0F433407C2A5CB6F0D819471B62');

                                     })()
                                 </script> 
                             </div>
                             <script>		         $('#layerA2DCE0F433407C2A5CB6F0D819471B62').data('wopop_effects',{"effect":"fromright","delay":0,"duration":1.2,"loop":0,"loop_infinite":"0"});		         $('#layerA2DCE0F433407C2A5CB6F0D819471B62').triggerHandler('layer_ready');</script>
                             <div id='layer4FA587AE4844625078EFE54E33CA85ED' type='title'  class='cstlayer' style='left: 500px; top: 308px; position: absolute; z-index: 106; width: 200px; height: 29px; display: block;display:none;'  mid=""  fatherid='layer23BB0AC219D175B3DF3B1F3226E8F380'   deg='0'>
                                <div class="wp-title_content" style="word-wrap: break-word; padding: 0px; border-color: transparent; border-width: 0px; height: 29px; width: 200px; display: block; border-style: solid;">
                                    <div style="text-align: center;"><font color="#ffffff" face="微软雅黑"><span style="font-size: 18px;">专业的团队支持</span></font></div>
                                </div>
                            </div>
                            <script>		         $('#layer4FA587AE4844625078EFE54E33CA85ED').data('wopop_effects',{"effect":"fadeFromLeft","delay":0,"duration":1.2,"loop":0,"loop_infinite":"0"});		         $('#layer4FA587AE4844625078EFE54E33CA85ED').triggerHandler('layer_ready');</script>
                            <div id='layerCEC4779C2D3DD9FA3C62789CD4D85397' type='title'  class='cstlayer' style='left: 0px; top: 353px; position: absolute; z-index: 108; width: 336px; height: 69px; display: block;display:none;'  mid=""  fatherid='layer23BB0AC219D175B3DF3B1F3226E8F380'   deg='0'>
                                <div class="wp-title_content" style="word-wrap: break-word; padding: 0px; border-color: transparent; border-width: 0px; height: 69px; width: 336px; display: block; border-style: solid;">
                                    <div style="text-align: justify;"><font color="#ffffff" face="微软雅黑"><span style="font-size: 14px; line-height: 180%;">采用业内较严谨的八步开发流程：需求调研、需求分析、原型设计、产品设计、界面设计、程序编码、软件测试、打包发布。较大限度的保证开发效率​​。</span></font></div>
                                </div>
                            </div>
                            <script>		         $('#layerCEC4779C2D3DD9FA3C62789CD4D85397').data('wopop_effects',{"effect":"fadeFromLeft","delay":0,"duration":1.2,"loop":0,"loop_infinite":"0"});		         $('#layerCEC4779C2D3DD9FA3C62789CD4D85397').triggerHandler('layer_ready');</script>
                            <div id='layer84ECD89F140B4FFF9F6B87495101963B' type='title'  class='cstlayer' style='left: 68px; top: 308px; position: absolute; z-index: 109; width: 200px; height: 29px; display: block;display:none;'  mid=""  fatherid='layer23BB0AC219D175B3DF3B1F3226E8F380'   deg='0'>
                                <div class="wp-title_content" style="word-wrap: break-word; padding: 0px; border-color: transparent; border-width: 0px; height: 29px; width: 200px; display: block; border-style: solid;">
                                    <div style="text-align: center;"><font color="#ffffff" face="微软雅黑"><span style="font-size: 18px;">完善的开发流程</span></font></div>
                                </div>
                            </div>
                            <script>		         $('#layer84ECD89F140B4FFF9F6B87495101963B').data('wopop_effects',{"effect":"fadeFromLeft","delay":0,"duration":1.2,"loop":0,"loop_infinite":"0"});		         $('#layer84ECD89F140B4FFF9F6B87495101963B').triggerHandler('layer_ready');</script>
                            <div id='layer6160974454621F295F19C952C0AAC644' type='media'  class='cstlayer' style='left: 131.5px; top: 212px; position: absolute; z-index: 104; width: 72px; height: 72px; display: block;display:none;'  mid=""  fatherid='layer23BB0AC219D175B3DF3B1F3226E8F380'   deg='0'><script>
                                create_pc_media_set_pic('layer6160974454621F295F19C952C0AAC644',false);
                            </script>
                            <div class="wp-media_content"  style="overflow: hidden; width: 72px; height: 72px; border-width: 0px; border-style: solid; padding: 0px;" type="0">
                                <div class="img_over"  style='overflow: hidden; border-color: transparent; border-width: 0px; width: 72px; height: 72px;'>
                                    <div class="imgloading" style="z-index:100;"> </div>
                                    <img onerror="set_thumb_layer6160974454621F295F19C952C0AAC644(this);" onload="set_thumb_layer6160974454621F295F19C952C0AAC644(this);" id="wp-media-image_layer6160974454621F295F19C952C0AAC644"  src="__PUBLIC__/images/y2.png" type="zoom" class="paragraph_image"  style="width: 72px; height: 72px;;display:none;" /> </div>
                                </div>
                                <script>
                                    (function(){
                                     layer_media_init_func('layer6160974454621F295F19C952C0AAC644');

                                 })()
                             </script> 
                         </div>
                         <script>		         $('#layer6160974454621F295F19C952C0AAC644').data('wopop_effects',{"effect":"fromright","delay":0,"duration":1.2,"loop":0,"loop_infinite":"0"});		         $('#layer6160974454621F295F19C952C0AAC644').triggerHandler('layer_ready');</script> </div>
                     </div>
                     <script>
                         var $fullwidth=$('#layer23BB0AC219D175B3DF3B1F3226E8F380 .full_width');
                         $fullwidth.css({left:0-$('#canvas').offset().left+$('#scroll_container').offset().left-$('#scroll_container').scrollLeft()-$.parseInteger($('#canvas').css("borderLeftWidth")),width:$('#scroll_container_bg').width()});
                         $(function () {
                            var videoParams={"id":"layer23BB0AC219D175B3DF3B1F3226E8F380","bgauto":null,"ctauto":null,"bVideouse":null,"cVideouse":null,"bgvHeight":null,"bgvWidth":null};
                            fullcolumn_bgvideo_init_func(videoParams);
                        });
                    </script>
                    <div id="layer615F400C9B6B4569689421CFD1FAE550" class="full_column"   style="width:1200px;position:absolute;top:1301px;height:500px;z-index:105;">
                        <div class="full_width" style="position:absolute;height:500px;background-color:#ffffff;background:;"> </div>
                        <div class="full_content" style="width:1200px; position:absolute;left:0;top:0;margin-left: 0px;;height:500px;">
                            <div id='layerF6CF43B0F1AE3B1BDFF2B48760BB29B2' type='media'  class='cstlayer' style='left: 1033px; top: 230px; position: absolute; z-index: 191; width: 78px; height: 78px; display: block;display:none;'  mid=""  fatherid='layer615F400C9B6B4569689421CFD1FAE550'   deg='0'><script>
                                create_pc_media_set_pic('layerF6CF43B0F1AE3B1BDFF2B48760BB29B2',false);
                            </script>
                            <div class="wp-media_content"  style="overflow: hidden; width: 78px; height: 78px; border-width: 0px; border-style: solid; padding: 0px;" type="0">
                                <div class="img_over"  style='overflow: hidden; border-color: transparent; border-width: 0px; width: 78px; height: 78px;'>
                                    <div class="imgloading" style="z-index:100;"> </div>
                                    <img onerror="set_thumb_layerF6CF43B0F1AE3B1BDFF2B48760BB29B2(this);" onload="set_thumb_layerF6CF43B0F1AE3B1BDFF2B48760BB29B2(this);" id="wp-media-image_layerF6CF43B0F1AE3B1BDFF2B48760BB29B2"  src="__PUBLIC__/images/d4.png" type="zoom" class="paragraph_image"  style="width: 78px; height: 78px;;display:none;" /> </div>
                                </div>
                                <script>
                                    (function(){
                                     layer_media_init_func('layerF6CF43B0F1AE3B1BDFF2B48760BB29B2');

                                 })()
                             </script> 
                         </div>
                         <script>		         $('#layerF6CF43B0F1AE3B1BDFF2B48760BB29B2').data('wopop_effects',{"effect":"callout.bounce","delay":0.9,"duration":1.2,"loop":0,"loop_infinite":"0"});		         $('#layerF6CF43B0F1AE3B1BDFF2B48760BB29B2').triggerHandler('layer_ready');</script>
                         <div id='layer5F49A4AE53BAC357A05F37E9906859C6' type='buttons'  class='cstlayer' style='left: 628.5px; top: 170px; position: absolute; z-index: 194; width: 255px; height: 310px;'  mid=""  fatherid='layer615F400C9B6B4569689421CFD1FAE550'   deg='0'>
                            <div class="wp-buttons_content" style="padding: 0px; border-color: transparent; border-width: 0px; overflow: hidden; width: 255px; height: 310px; border-style: solid;"><a href="javascript:;" class="btnarea button_btndefault-link" style="width:253px;left:0px;top:0px;height:308px;line-height:308px;"> <span class="button_btndefault-label">按钮文本</span> </a><script language="javascript">$('#layer5F49A4AE53BAC357A05F37E9906859C6').layer_ready(function(){
                            });</script> 
                        </div>
                    </div>
                    <script>		         $('#layer5F49A4AE53BAC357A05F37E9906859C6').triggerHandler('layer_ready');</script>
                    <div id='layerF506B3AA613B5FCB76234FED50FF93F7' type='buttons'  class='cstlayer' style='left: 1113px; top: 130px; position: absolute; z-index: 198; width: 87px; height: 28px;'  mid=""  fatherid='layer615F400C9B6B4569689421CFD1FAE550'   deg='0'>
                        <div class="wp-buttons_content" style="padding: 0px; border-color: transparent; border-width: 0px; overflow: hidden; width: 87px; height: 28px;"><a href="solution.html" class="btnarea button_btndefault-link" style="width:87px;left:0px;top:0px;height:28px;line-height:28px;"> <span class="button_btndefault-label">MORE  +</span> </a><script language="javascript">$('#layerF506B3AA613B5FCB76234FED50FF93F7').layer_ready(function(){
                        });</script> 
                    </div>
                </div>
                <script>		         $('#layerF506B3AA613B5FCB76234FED50FF93F7').triggerHandler('layer_ready');</script>
                <div id='layer962BD5DE48603AF55091CD2E56888AF2' type='buttons'  class='cstlayer' style='left: -0.5px; top: 170px; position: absolute; z-index: 182; width: 255px; height: 310px;'  mid=""  fatherid='layer615F400C9B6B4569689421CFD1FAE550'   deg='0'>
                    <div class="wp-buttons_content" style="padding: 0px; border-color: transparent; border-width: 0px; overflow: hidden; width: 255px; height: 310px; border-style: solid;"><a href="javascript:;" class="btnarea button_btndefault-link" style="width:253px;left:0px;top:0px;height:308px;line-height:308px;"> <span class="button_btndefault-label">按钮文本</span> </a><script language="javascript">$('#layer962BD5DE48603AF55091CD2E56888AF2').layer_ready(function(){
                    });</script> 
                </div>
            </div>
            <script>		         $('#layer962BD5DE48603AF55091CD2E56888AF2').triggerHandler('layer_ready');</script>
            <div id='layerDFA1F2FB7B435578FB6D1042241EF167' type='media'  class='cstlayer' style='left: 82px; top: 242px; position: absolute; z-index: 183; width: 90px; height: 64px; display: block;display:none;'  mid=""  fatherid='layer615F400C9B6B4569689421CFD1FAE550'   deg='0'><script>
                create_pc_media_set_pic('layerDFA1F2FB7B435578FB6D1042241EF167',false);
            </script>
            <div class="wp-media_content"  style="overflow: hidden; width: 90px; height: 64px;" type="0">
                <div class="img_over"  style='overflow: hidden; border-color: transparent; border-width: 0px; width: 90px; height: 64px;'>
                    <div class="imgloading" style="z-index:100;"> </div>
                    <img onerror="set_thumb_layerDFA1F2FB7B435578FB6D1042241EF167(this);" onload="set_thumb_layerDFA1F2FB7B435578FB6D1042241EF167(this);" id="wp-media-image_layerDFA1F2FB7B435578FB6D1042241EF167"  src="__PUBLIC__/images/d1.png" type="zoom" class="paragraph_image"  style="width: 90px; height: 64px;;display:none;" /> </div>
                </div>
                <script>
                    (function(){
                     layer_media_init_func('layerDFA1F2FB7B435578FB6D1042241EF167');

                 })()
             </script> 
         </div>
         <script>		         $('#layerDFA1F2FB7B435578FB6D1042241EF167').data('wopop_effects',{"effect":"callout.bounce","delay":0,"duration":1.2,"loop":0,"loop_infinite":"0"});		         $('#layerDFA1F2FB7B435578FB6D1042241EF167').triggerHandler('layer_ready');</script>
         <div id='layerDA6EE3F46429DFD1C4F190B375F920FD' type='title'  class='cstlayer' style='left: 681px; top: 351px; position: absolute; z-index: 196; width: 150px; height: 31px;'  mid=""  fatherid='layer615F400C9B6B4569689421CFD1FAE550'   deg='0'>
            <div class="wp-title_content" style="word-wrap: break-word; padding: 0px; border-color: transparent; border-width: 0px; height: 31px; width: 150px; display: block;">
                <div style="text-align: center;"><font color="#222222" face="微软雅黑"><span style="font-size: 18px;">APP定制开发</span></font></div>
            </div>
        </div>
        <script>		         $('#layerDA6EE3F46429DFD1C4F190B375F920FD').triggerHandler('layer_ready');</script>
        <div id='layer0B2F709A41177F83FC7FE69FD4ED177C' type='title'  class='cstlayer' style='left: 652.5px; top: 396px; position: absolute; z-index: 197; width: 207px; height: 53px;'  mid=""  fatherid='layer615F400C9B6B4569689421CFD1FAE550'   deg='0'>
            <div class="wp-title_content" style="word-wrap: break-word; padding: 0px; border-color: transparent; border-width: 0px; height: 53px; width: 207px; display: block;">
                <div style="text-align: justify;"><span style="font-family: 微软雅黑; font-size: 14px; color: rgb(136, 136, 136); line-height: 160%;">致力于全行业APP开发，为各商业、企业及个人提供开发服务。</span></div>
            </div>
        </div>
        <script>		         $('#layer0B2F709A41177F83FC7FE69FD4ED177C').triggerHandler('layer_ready');</script>
        <div id='layerD14E5C6B694392CE97D7337CCECE092A' type='title'  class='cstlayer' style='left: 366px; top: 351px; position: absolute; z-index: 188; width: 150px; height: 31px;'  mid=""  fatherid='layer615F400C9B6B4569689421CFD1FAE550'   deg='0'>
            <div class="wp-title_content" style="word-wrap: break-word; padding: 0px; border-color: transparent; border-width: 0px; height: 31px; width: 150px; display: block;">
                <div style="text-align: center;"><font color="#222222" face="微软雅黑"><span style="font-size: 18px;">微信定制开发</span></font></div>
            </div>
        </div>
        <script>		         $('#layerD14E5C6B694392CE97D7337CCECE092A').triggerHandler('layer_ready');</script>
        <div id='layer4C13C8C8CBA4F84AB201EAE5EF038169' type='title'  class='cstlayer' style='left: 338px; top: 396px; position: absolute; z-index: 189; width: 206px; height: 53px;'  mid=""  fatherid='layer615F400C9B6B4569689421CFD1FAE550'   deg='0'>
            <div class="wp-title_content" style="word-wrap: break-word; padding: 0px; border-color: transparent; border-width: 0px; height: 53px; width: 206px; display: block;">
                <div style="text-align: justify;"><span style="font-family: 微软雅黑; font-size: 14px; color: rgb(136, 136, 136); line-height: 160%;">承接微信定制开发。二次开发，微商城，微生活，微相册等。</span></div>
            </div>
        </div>
        <script>		         $('#layer4C13C8C8CBA4F84AB201EAE5EF038169').triggerHandler('layer_ready');</script>
        <div id='layer0A8473F58780CA4EE9C5BD70A123FDDE' type='buttons'  class='cstlayer' style='left: 313.5px; top: 170px; position: absolute; z-index: 186; width: 255px; height: 310px;'  mid=""  fatherid='layer615F400C9B6B4569689421CFD1FAE550'   deg='0'>
            <div class="wp-buttons_content" style="padding: 0px; border-color: transparent; border-width: 0px; overflow: hidden; width: 255px; height: 310px; border-style: solid;"><a href="javascript:;" class="btnarea button_btndefault-link" style="width:253px;left:0px;top:0px;height:308px;line-height:308px;"> <span class="button_btndefault-label">按钮文本</span> </a><script language="javascript">$('#layer0A8473F58780CA4EE9C5BD70A123FDDE').layer_ready(function(){
            });</script> 
        </div>
    </div>
    <script>		         $('#layer0A8473F58780CA4EE9C5BD70A123FDDE').triggerHandler('layer_ready');</script>
    <div id='layerECC5774DE01E537A3BB34EB4369A5FA3' type='title'  class='cstlayer' style='left: 52px; top: 351px; position: absolute; z-index: 184; width: 150px; height: 31px;'  mid=""  fatherid='layer615F400C9B6B4569689421CFD1FAE550'   deg='0'>
        <div class="wp-title_content" style="word-wrap: break-word; padding: 0px; border-color: transparent; border-width: 0px; height: 31px; width: 150px; display: block;">
            <div style="text-align: center;"><span style="font-size: 18px; font-family: 微软雅黑; color: rgb(34, 34, 34);">软件定制开发</span></div>
        </div>
    </div>
    <script>		         $('#layerECC5774DE01E537A3BB34EB4369A5FA3').triggerHandler('layer_ready');</script>
    <div id='layerCA10641E4974AF7D55B8E9C8B75C8CF3' type='title'  class='cstlayer' style='left: 29px; top: 396px; position: absolute; z-index: 185; width: 196px; height: 53px;'  mid=""  fatherid='layer615F400C9B6B4569689421CFD1FAE550'   deg='0'>
        <div class="wp-title_content" style="word-wrap: break-word; padding: 0px; border-color: transparent; border-width: 0px; height: 53px; width: 196px; display: block;">
            <div style="text-align: justify;"><span style="font-family: 微软雅黑; font-size: 14px; color: rgb(136, 136, 136); line-height: 160%;">承接软件开发、平台定制、办公OA等定制服务</span></div>
        </div>
    </div>
    <script>		         $('#layerCA10641E4974AF7D55B8E9C8B75C8CF3').triggerHandler('layer_ready');</script>
    <div id='layerCA66A44BE12924EABCDC6A3BCF2023B5' type='media'  class='cstlayer' style='left: 396.5px; top: 228px; position: absolute; z-index: 187; width: 89px; height: 82px; display: block;display:none;'  mid=""  fatherid='layer615F400C9B6B4569689421CFD1FAE550'   deg='0'><script>
        create_pc_media_set_pic('layerCA66A44BE12924EABCDC6A3BCF2023B5',false);
    </script>
    <div class="wp-media_content"  style="overflow: hidden; width: 89px; height: 82px; border-width: 0px; border-style: solid; padding: 0px;" type="0">
        <div class="img_over"  style='overflow: hidden; border-color: transparent; border-width: 0px; width: 89px; height: 82px;'>
            <div class="imgloading" style="z-index:100;"> </div>
            <img onerror="set_thumb_layerCA66A44BE12924EABCDC6A3BCF2023B5(this);" onload="set_thumb_layerCA66A44BE12924EABCDC6A3BCF2023B5(this);" id="wp-media-image_layerCA66A44BE12924EABCDC6A3BCF2023B5"  src="__PUBLIC__/images/d2.png" type="zoom" class="paragraph_image"  style="width: 89px; height: 82px;;display:none;" /> </div>
        </div>
        <script>
            (function(){
             layer_media_init_func('layerCA66A44BE12924EABCDC6A3BCF2023B5');

         })()
     </script> 
 </div>
 <script>		         $('#layerCA66A44BE12924EABCDC6A3BCF2023B5').data('wopop_effects',{"effect":"callout.bounce","delay":0.3,"duration":1.2,"loop":0,"loop_infinite":"0"});		         $('#layerCA66A44BE12924EABCDC6A3BCF2023B5').triggerHandler('layer_ready');</script>
 <div id='layer48E8AA2B92F9B0EB680E399853DAF145' type='title'  class='cstlayer' style='left: 997px; top: 351px; position: absolute; z-index: 192; width: 150px; height: 31px;'  mid=""  fatherid='layer615F400C9B6B4569689421CFD1FAE550'   deg='0'>
    <div class="wp-title_content" style="word-wrap: break-word; padding: 0px; border-color: transparent; border-width: 0px; height: 31px; width: 150px; display: block;">
        <div style="text-align: center;"><font color="#222222" face="微软雅黑"><span style="font-size: 18px;">电商平台定制开发</span></font></div>
    </div>
</div>
<script>		         $('#layer48E8AA2B92F9B0EB680E399853DAF145').triggerHandler('layer_ready');</script>
<div id='layer23482A54E216EDD20F3EDE3AD1708B0F' type='media'  class='cstlayer' style='left: 726px; top: 229px; position: absolute; z-index: 195; width: 60px; height: 80px; display: block;display:none;'  mid=""  fatherid='layer615F400C9B6B4569689421CFD1FAE550'   deg='0'><script>
    create_pc_media_set_pic('layer23482A54E216EDD20F3EDE3AD1708B0F',false);
</script>
<div class="wp-media_content"  style="overflow: hidden; width: 60px; height: 80px; border-width: 0px; border-style: solid; padding: 0px;" type="0">
    <div class="img_over"  style='overflow: hidden; border-color: transparent; border-width: 0px; width: 60px; height: 80px;'>
        <div class="imgloading" style="z-index:100;"> </div>
        <img onerror="set_thumb_layer23482A54E216EDD20F3EDE3AD1708B0F(this);" onload="set_thumb_layer23482A54E216EDD20F3EDE3AD1708B0F(this);" id="wp-media-image_layer23482A54E216EDD20F3EDE3AD1708B0F"  src="__PUBLIC__/images/d3.png" type="zoom" class="paragraph_image"  style="width: 60px; height: 80px;;display:none;" /> </div>
    </div>
    <script>
        (function(){
         layer_media_init_func('layer23482A54E216EDD20F3EDE3AD1708B0F');

     })()
 </script> 
</div>
<script>		         $('#layer23482A54E216EDD20F3EDE3AD1708B0F').data('wopop_effects',{"effect":"callout.bounce","delay":0.6,"duration":1.2,"loop":0,"loop_infinite":"0"});		         $('#layer23482A54E216EDD20F3EDE3AD1708B0F').triggerHandler('layer_ready');</script>
<div id='layer5B5ACCF74268540ED680B864E8413E26' type='title'  class='cstlayer' style='left: 964px; top: 396px; position: absolute; z-index: 193; width: 216px; height: 53px;'  mid=""  fatherid='layer615F400C9B6B4569689421CFD1FAE550'   deg='0'>
    <div class="wp-title_content" style="word-wrap: break-word; padding: 0px; border-color: transparent; border-width: 0px; height: 53px; width: 216px; display: block;">
        <div style="text-align: justify;"><span style="font-family: 微软雅黑; font-size: 14px; color: rgb(136, 136, 136); line-height: 160%;">致力于各类企业用户的电商平台开发，O2O商城开发，网上商城等。</span></div>
    </div>
</div>
<script>		         $('#layer5B5ACCF74268540ED680B864E8413E26').triggerHandler('layer_ready');</script>
<div id='layer307DF81FF020BBE986FC44AC79769167' type='buttons'  class='cstlayer' style='left: 944.5px; top: 170px; position: absolute; z-index: 190; width: 255px; height: 310px;'  mid=""  fatherid='layer615F400C9B6B4569689421CFD1FAE550'   deg='0'>
    <div class="wp-buttons_content" style="padding: 0px; border-color: transparent; border-width: 0px; overflow: hidden; width: 255px; height: 310px; border-style: solid;"><a href="javascript:;" class="btnarea button_btndefault-link" style="width:253px;left:0px;top:0px;height:308px;line-height:308px;"> <span class="button_btndefault-label">按钮文本</span> </a><script language="javascript">$('#layer307DF81FF020BBE986FC44AC79769167').layer_ready(function(){
    });</script> 
</div>
</div>
<script>		         $('#layer307DF81FF020BBE986FC44AC79769167').triggerHandler('layer_ready');</script>
<div id='layer32D730CAD5BAEDDE3B3B59B3799E355F' type='title'  class='cstlayer' style='left: 0px; top: 60px; position: absolute; z-index: 180; width: 1200px; height: 52px;'  mid=""  fatherid='layer615F400C9B6B4569689421CFD1FAE550'   deg='0'>
    <div class="wp-title_content" style="word-wrap: break-word; padding: 0px; border-color: transparent; border-width: 0px; height: 52px; width: 1200px; display: block;">
        <div style="text-align: center;"><span style="color: rgb(34, 34, 34); font-family: 微软雅黑; font-size: 30px;">定制开发服务</span></div>
    </div>
</div>
<script>		         $('#layer32D730CAD5BAEDDE3B3B59B3799E355F').triggerHandler('layer_ready');</script>
<div id='layer3522C36E1D781E4C6ED21C39B364C936' type='title'  class='cstlayer' style='left: 0px; top: 111px; position: absolute; z-index: 181; width: 1200px; height: 27px;'  mid=""  fatherid='layer615F400C9B6B4569689421CFD1FAE550'   deg='0'>
    <div class="wp-title_content" style="word-wrap: break-word; padding: 0px; border-color: transparent; border-width: 0px; height: 27px; width: 1200px; display: block;">
        <div style="text-align: center;"><font color="#222222" face="微软雅黑"><span style="font-size: 14px; color: rgb(119, 119, 119);">保证交付率、您的要求就是我们的追求，为您专属定制</span></font></div>
    </div>
</div>
<script>$('#layer3522C36E1D781E4C6ED21C39B364C936').triggerHandler('layer_ready');</script>
</div>
</div>
</div>
<script>
    var $fullwidth=$('#layer615F400C9B6B4569689421CFD1FAE550 .full_width')
    $fullwidth.css({left:0-$('#canvas').offset().left+$('#scroll_container').offset().left-$('#scroll_container').scrollLeft()-$.parseInteger($('#canvas').css("borderLeftWidth")),width:$('#scroll_container_bg').width()});
    $(function () {
        var videoParams={"id":"layer615F400C9B6B4569689421CFD1FAE550","bgauto":null,"ctauto":null,"bVideouse":null,"cVideouse":null,"bgvHeight":null,"bgvWidth":null};
        fullcolumn_bgvideo_init_func(videoParams);
    });
</script>
</div>
<div id="site_footer" style="width:1200px;position:absolute;height:600px;z-index:500;margin-top:50px;left: 351.5px;top: 1801px;display: none;">
    <include file="Public:foot" />