<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>经销商服务系统管理后台</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link href="__PUBLIC__/css/bootstrap.min14ed.css" rel="stylesheet">
    <link href="__PUBLIC__/css/font-awesome.min93e3.css" rel="stylesheet">
    <link href="__PUBLIC__/css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="__PUBLIC__/css/animate.min.css" rel="stylesheet">
    <link href="__PUBLIC__/css/style.min862f.css" rel="stylesheet">
    <link rel="stylesheet" href="__PUBLIC__/css/app/select.css">
    <link rel="stylesheet" href="__PUBLIC__/css/app/admin.css">
</head>
<body class="gray-bg">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title col-sm-12">
                        <div class="col-sm-9"><h3 class="box-title">个人信息</h3></div>
					    <div class="col-sm-3 text-right">
					    	<a href="javascript:history.go(-1);"><button class="btn btn-primary btn-sm">返回上一级</button></a>
					    </div>
                    </div>
                    <form action="{:url('User/insertbasicinfo')}" method="post">
                    <div class="ibox-content">
						<div class="col-sm-12">
							<div class="col-sm-6">
								<h3 class="">{$ulist.nickname}</h3>
							</div>
						</div>
						<div class="box-body">
						  <table id="example2" class="table table-bordered table-hover table-word-wrap">
						    <tr>
						      <th>姓名</th>
						      <td><input type="text" class="form-control" value="{$ulist.nickname}" name="nickname"/></td>
						      <th>账号</th>
						      <td><input type="text" class="form-control" value="{$ulist.account}" name="account"/></td>
						      <th><if condition="$ulist.isshop eq 1 && $ulist.usertype_id neq distributor">门店名称<else />公司名称</if></th>
						      <td>
						      <input type="hidden" class="form-control" value="{$ulist.company.id}" name="company_id"/>
						      <input type="text" class="form-control" value="{$ulist.company.name}"/>
						      </td>
						    </tr>
						    <tr>
						      <th>用户类别</th>
						      <td>
						      	<label id="lblSelect">
						            <select  name="usertype_id" class="selectPointOfInterest">
					                	<volist name="usertypelist" id="v">
								      		<option value="{$v.itemname}"<if condition="$v.itemname eq $ulist.usertype_id">selected</if>>{$v.itemvalue}</option>
								      	</volist>
						            </select>
						        </label>
						      </td>
						      <th>手机号码</th>
						      <td><input type="text" class="form-control" value="{$ulist.mobilenumber}" name="mobilenumber"/></td>
						      <th>电子邮件</th>
						      <td><input type="text" class="form-control" value="{$ulist.mailaddr}" name="mailaddr"/></td>
						    </tr>
						    <tr>
						      <th>用户组别</th>
						      <td>
						      	<label id="lblSelect">
						            <select  name="role_id" class="selectPointOfInterest">
					                	<volist name="rolelist" id="v">
								      		<option value="{$v.id}"<if condition="$v.id eq $ulist.roles.0.id">selected</if>>{$v.name}</option>
								      	</volist>
						            </select>
						        </label>
						      </td>
						      <th>用户等级</th>
						      <td>
						      	<label id="lblSelect">
						            <select  name="userlevel_id" class="selectPointOfInterest">
					                	<volist name="userlevellist" id="v">
								      		<option value="{$v.id}"<if condition="$v.id eq $ulist.userlevel_id">selected</if>>{$v.levelnumber}</option>
								      	</volist>
						            </select>
						        </label>
						      </td>
						      <th>是否认证</th>
						      <td>
						      <!-- 待确定是否需要在这里修改 -->
						      	<label id="lblSelect">
						            <select name="whetheridentified_id" class="selectPointOfInterest">
					                	<volist name="whetheridentifiedlist" id="v">
								      		<option value="{$v.itemname}"<if condition="$v.itemname eq $ulist.whetheridentified_id">selected</if>>{$v.itemvalue}</option>
								      	</volist>
						            </select>
						        </label>
						       </td>
						    </tr>
						    <tr>
						      <th>个性签名</th>
						      <td colspan="5"><input type="text" class="form-control" value="{$ulist.onewords}" name="onewords"/></td>
						    </tr>
						    <tr>
						      <th>服务范围</th>
						      <td colspan="5"><input type="text" class="form-control" value="{$ulist.servicescope}" name="servicescope"/></td>
						    </tr>
						    <tr>
						      <th>地址</th>
						      <td colspan="5">
						       <div class="col-md-12">
						           <div class="col-md-2">
						            <label id="lblSelect">
							            <select  name="province_id" class="selectPointOfInterest" id="province" onclick="obtaincitylist('{:url(\'obtaincitylist\')}')"  title="Select points of interest nearby">
							                <!-- <volist name="provincelist" id="p">
												<option value="{$p.id}" <if condition="$p.id eq $ulist.province_id">selected</if>>{$p.name}</option>
											</volist> -->
											{$initdata.province}
							            </select>
							        </label>
								   </div>
								   <div class="col-md-2">
									<label id="lblSelect">
							            <select  name="city_id" class="selectPointOfInterest" id="city" onchange="obtainzonelist('{:url(\'obtainzonelist\')}')" title="Select points of interest nearby">
							                <!-- <volist name="citylist" id="c">
												<option value="{$c.id}"<if condition="$c.id eq $ulist.city_id">selected</if>>{$c.name}</option>
											</volist> -->
											{$initdata.city}
							            </select>
							        </label>
								   </div>
								   <div class="col-md-2">
									<label id="lblSelect">
							            <select  name="zone_id" class="selectPointOfInterest" id="zone" title="Select points of interest nearby">
							                <!-- <volist name="zonelist" id="z">
												<option value="{$z.id}"<if condition="$z.id eq $ulist.zone_id">selected</if>>{$z.name}</option>
											</volist> -->
											{$initdata.zone}
							            </select>
							        </label>
						           </div>
						           <div class="col-md-6">
						           <input type="text" class="form-control" value="{$ulist.addr}" name="addr"/>
						           </div>
					           </div>
						      </td>
						    </tr>
						    <tr>
						      <th>其他信息</th>
						      <td colspan="5"><input type="text" class="form-control" value="{$ulist.info}" name="info"/></td>
						    </tr>
						  </table>
						</div>
						<div style="clear:both;height:20px;"></div>
						<input name="uid" type="hidden" value="{$ulist.id}"/>
				        <div class="col-md-12">
				        	<div class="col-md-9"></div>
				        	<div class="col-md-3 text-right">
				        		<input type="submit" value="提交" class="btn btn-block btn-danger btn-lg"/>
				        	</div>
				        </div>
				        <div style="clear:both;"></div>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="__PUBLIC__/js/jquery.min.js"></script>
    <script src="__PUBLIC__/js/bootstrap.min.js"></script>
    <script src="__PUBLIC__/js/plugins/iCheck/icheck.min.js"></script>
    <script>
        $(document).ready(function(){$(".i-checks").iCheck({checkboxClass:"icheckbox_square-green",radioClass:"iradio_square-green",})});
    </script>
    <script src="__PUBLIC__/js/app/admin.js"></script>
</body>
</html>
