   <include file="Public:head2" />
   <link href="__PUBLIC__/css/cyx/e1bbf4f41912e6faab78578a81626474.cssx" rel="stylesheet" />
<script>		         $('#layer1C3F9A702D0387A6AB12F33713DBBF6B').triggerHandler('layer_ready');</script><div id='layer749AE8F4ABB1CBA866C2E6C560C7FFF3' type='mbuttons'  class='cstlayer' style='left: 0px; top: 210px; position: absolute; z-index: 106; width: 320px; height: 50px;'  mid=""   deg='0'><div class="wp-mbuttons_content" style="padding: 0px; border: 0px solid transparent; overflow: hidden; width: 320px; height: 50px;"><a class="btnarea button_btndefault-link" style="width:320px;left:0px;top:0px;height:50px;line-height:50px;">
  <span class="button_btndefault-label">联系我们</span>
</a><script language="javascript">$(function(){
		});</script>
</div>
</div><script>		         $('#layer749AE8F4ABB1CBA866C2E6C560C7FFF3').triggerHandler('layer_ready');</script><div id='layer4C3607403E9C624D401DB21BEA2A6375' type='media'  class='cstlayer' style='left: 145px; top: 300px; position: absolute; z-index: 107; width: 30px; height: 30px;'  mid=""   deg='0'><script>
create_pc_media_set_pic('layer4C3607403E9C624D401DB21BEA2A6375',false);
</script>
<div class="wp-media_content"  style="overflow: hidden; width: 30px; height: 30px; border-width: 0px; border-style: solid; padding: 0px;" type="0">
<div class="img_over"  style='overflow: hidden; border-color: transparent; border-width: 0px; width: 30px; height: 30px;'>
<div class="imgloading" style="z-index:100;"> </div>
<img  id="wp-media-image_layer4C3607403E9C624D401DB21BEA2A6375" class="img_lazy_load  paragraph_image"  src="__PUBLIC__/images/location_pr11.png" type="zoom"  style="width: 30px; height: 30px;;" />
</div>

</div>
<script>
layer_media_ready_func('layer4C3607403E9C624D401DB21BEA2A6375');
  $(function(){
     layer_media_lazyload_func('layer4C3607403E9C624D401DB21BEA2A6375', 0);
 })
 </script>
</div><script>		         $('#layer4C3607403E9C624D401DB21BEA2A6375').triggerHandler('layer_ready');</script><div id='layer0B2F2E831A7A94652044858903853DA5' type='title'  class='cstlayer' style='left: 42px; top: 349px; position: absolute; z-index: 108; width: 235px; height: 46px;'  mid=""   deg='0'><meta content="telephone=no" name="format-detection">
<!-- nav是防止在安卓UC浏览器里面字体变大添加的 -->
<nav>
<div class="wp-title_content" style="word-wrap: break-word; padding: 0px; border-color: transparent; border-width: 0px; height: 46px; width: 235px;"><p style="text-align: center;"><span style="color: rgb(0, 0, 0); font-family: 微软雅黑; font-size: 14px;">北京市朝阳区建国路XX号XXXX现代城XXXXXX</span></p></div>
</nav>


</div><script>		         $('#layer0B2F2E831A7A94652044858903853DA5').triggerHandler('layer_ready');</script><div id='layer7EA1D142D5C4C68AFB3D5C836C197E2B' type='media'  class='cstlayer' style='left: 145px; top: 415px; position: absolute; z-index: 109; width: 30px; height: 30px;'  mid=""   deg='0'><script>
create_pc_media_set_pic('layer7EA1D142D5C4C68AFB3D5C836C197E2B',false);
</script>
<div class="wp-media_content"  style="overflow: hidden; width: 30px; height: 30px; border-width: 0px; border-style: solid; padding: 0px;" type="0">
<div class="img_over"  style='overflow: hidden; border-color: transparent; border-width: 0px; width: 30px; height: 30px;'>
<div class="imgloading" style="z-index:100;"> </div>
<img  id="wp-media-image_layer7EA1D142D5C4C68AFB3D5C836C197E2B" class="img_lazy_load  paragraph_image"  src="__PUBLIC__/images/call.png" type="zoom"  style="width: 30px; height: 30px;;" />
</div>

</div>
<script>
layer_media_ready_func('layer7EA1D142D5C4C68AFB3D5C836C197E2B');
  $(function(){
     layer_media_lazyload_func('layer7EA1D142D5C4C68AFB3D5C836C197E2B', 0);
 })
 </script>
</div><script>		         $('#layer7EA1D142D5C4C68AFB3D5C836C197E2B').triggerHandler('layer_ready');</script><div id='layer50488B6633D0A21B2E08E437330B2CF3' type='title'  class='cstlayer' style='left: 17px; top: 459px; position: absolute; z-index: 110; width: 285px; height: 113px;'  mid=""   deg='0'><meta content="telephone=no" name="format-detection">
<!-- nav是防止在安卓UC浏览器里面字体变大添加的 -->
<nav>
<div class="wp-title_content" style="word-wrap: break-word; padding: 0px; border-color: transparent; border-width: 0px; height: 113px; width: 285px;"><p><span style="color:#000000;font-family:微软雅黑"><span style="word-wrap: break-word; line-height: 37.8px; font-size: 14px;">咨询热线：010-5XXXX06 / 8517XXX47</span></span></p><p><span style="color:#000000;font-family:微软雅黑"><span style="word-wrap: break-word; line-height: 37.8px; font-size: 14px;">客服中心：010-XXXX9737</span></span></p><p><span style="color:#000000;font-family:微软雅黑"><span style="word-wrap: break-word; line-height: 37.8px; font-size: 14px;">咨询手机：135XXXXX985 / 18511XXXX67</span></span></p><p><br></p></div>
</nav>


</div><script>		         $('#layer50488B6633D0A21B2E08E437330B2CF3').triggerHandler('layer_ready');</script><div id='layerC66F8D6ED258FEB2127AEAF3466D2023' type='media'  class='cstlayer' style='left: 145px; top: 587px; position: absolute; z-index: 113; width: 30px; height: 30px;'  mid=""   deg='0'><script>
create_pc_media_set_pic('layerC66F8D6ED258FEB2127AEAF3466D2023',false);
</script>
<div class="wp-media_content"  style="overflow: hidden; width: 30px; height: 30px; border-width: 0px; border-style: solid; padding: 0px;" type="0">
<div class="img_over"  style='overflow: hidden; border-color: transparent; border-width: 0px; width: 30px; height: 30px;'>
<div class="imgloading" style="z-index:100;"> </div>
<img  id="wp-media-image_layerC66F8D6ED258FEB2127AEAF3466D2023" class="img_lazy_load  paragraph_image"  src="__PUBLIC__/images/call.png" type="zoom"  style="width: 30px; height: 30px;;" />
</div>

</div>
<script>
layer_media_ready_func('layerC66F8D6ED258FEB2127AEAF3466D2023');
  $(function(){
     layer_media_lazyload_func('layerC66F8D6ED258FEB2127AEAF3466D2023', 0);
 })
 </script>
</div><script>		         $('#layerC66F8D6ED258FEB2127AEAF3466D2023').triggerHandler('layer_ready');</script><div id='layerE633B4449BE77E1903B4AED82A681C17' type='title'  class='cstlayer' style='left: 42px; top: 638px; position: absolute; z-index: 114; width: 235px; height: 31px;'  mid=""   deg='0'><meta content="telephone=no" name="format-detection">
<!-- nav是防止在安卓UC浏览器里面字体变大添加的 -->
<nav>
<div class="wp-title_content" style="word-wrap: break-word; padding: 0px; border-color: transparent; border-width: 0px; height: 31px; width: 235px;"><p style="text-align: center;"><span style="color: rgb(0, 0, 0); font-family: 微软雅黑; font-size: 14px;">sales@wexxxxx.com.cn</span></p></div>
</nav>


</div>    </div>
   <include file="Public:foot" />