<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>经销商服务系统管理后台</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link href="__PUBLIC__/css/bootstrap.min14ed.css" rel="stylesheet">
    <link href="__PUBLIC__/css/font-awesome.min93e3.css" rel="stylesheet">
    <link href="__PUBLIC__/css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="__PUBLIC__/css/animate.min.css" rel="stylesheet">
    <link href="__PUBLIC__/css/style.min862f.css" rel="stylesheet">
    <link rel="stylesheet" href="__PUBLIC__/css/app/select.css">
    <link rel="stylesheet" href="__PUBLIC__/css/app/admin.css">
</head>
<body class="gray-bg">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title col-sm-12">
	        			<div class="col-sm-9"><h3 class="box-title">认证信息</h3></div>
					    <div class="col-sm-3 text-right">
					    	<a href="javascript:history.go(-1);"><button class="btn btn-primary btn-sm">返回上一级</button></a>
					    </div>
        			</div>
        			<form method="post" action="{:url('whetheridentified')}" id="identifieform" enctype="multipart/form-data">
	       			<div class="ibox-content col-sm-12">
	       				<div class="col-sm-12">
							<div class="col-sm-6">
								<h3 class="">{$list.nickname}</h3>
							</div>
						</div>
	      				<if condition="$list.usertype_id eq firstleveldistributor">
	      					<div class="col-sm-12">
								<table id="example2" class="table table-bordered table-hover table-word-wrap">
								    <tr>
								      <th>商家名称</th>
								      <td><input type="hidden" class="form-control" value="{$list.company.id}" name="company_id"/>
								      <input type="text" class="form-control" value="{$list.company.name}"/></td>
								      <th>法人姓名</th>
								      <td><input type="text" class="form-control" value="{$list.masterperson}" name="masterperson"/></td>
								      <th>法人联系电话</th>
								      <td><input type="text" class="form-control" value="{$list.mastermobile}" name="mastermobile"/></td>
								    </tr>
							    </table>
							</div>
					        <div class="col-sm-6">
					        	<div class="">
				        			<h5>营业执照<span style="font-size:8px;">（图片必须JPG、JPEG、PNG格式，大小500*300）</span></h5>
			        			</div>
								<div class="upload05" style="width:800px;margin-left:10px;">
						           	<div class="uploadbox05" style="margin-top:26px;margin-bottom:1px;">
						           		<img id="uploadmainpicture" src="__PUBLIC__/img/2.jpg" style="width:500px;height:300px;">
						               	<div class="uploadbuttombox05"><!-- __PUBLIC__/Uploads/{$list.picture} -->
						                   	<div><input type="file" class="uploadinput05" style="height:300px;width:500px;margin-top:-180px;" 
						                   	name="picture[]" onchange="return onUploadImgChange(this,'uploadmainpicture','500px','300px')"/></div>
						               	</div>
						           	</div>
					           	</div>
					        </div>
					        <div class="col-sm-6">
					        	<div class="">
						        	<h5>法人身份证复印件</h5>
						        </div>
						        <div class="upload05" style="width:800px;margin-left:10px;">
						           	<div class="uploadbox05" style="margin-top:26px;margin-bottom:1px;">
						           		<img id="uploadmainpicture" src="__PUBLIC__/img/2.jpg" style="width:500px;height:300px;">
						               	<div class="uploadbuttombox05"><!-- __PUBLIC__/Uploads/{$list.picture} -->
						                   	<div><input type="file" class="uploadinput05" style="height:300px;width:500px;margin-top:-180px;" 
						                   	name="picture[]" onchange="return onUploadImgChange(this,'uploadmainpicture','500px','300px')"/></div>
						               	</div>
						           	</div>
					           	</div>
					        </div>
				        <else />
					        <div class="col-sm-6">
					        	<div class="">
				        			<h5>身份证<span style="font-size:14px;">（图片必须JPG、JPEG、PNG格式，大小500*300）</span></h5>
			        			</div>
							    <div class="upload05" style="width:800px;margin-left:10px;">
						           	<div class="uploadbox05" style="margin-top:26px;margin-bottom:1px;">
						           		<img id="uploadmainpicture" src="__PUBLIC__/img/2.jpg" style="width:500px;height:300px;">
						               	<div class="uploadbuttombox05"><!-- __PUBLIC__/Uploads/{$list.picture} -->
						                   	<div><input type="file" class="uploadinput05" style="height:300px;width:500px;margin-top:-180px;" 
						                   	name="picture[]" onchange="return onUploadImgChange(this,'uploadmainpicture','500px','300px')"/></div>
						               	</div>
						           	</div>
					           	</div>
					        </div>
				        </if>
				        <div style="clear:both;height:20px;"></div>
				        <div class="col-md-12">
				        	<div class="col-md-9"></div>
				        	<div class="col-md-3 text-right">
				        		<input type="button" value="提交" class="btn btn-block btn-danger btn-lg" onclick="submitbtn()"/>
				        	</div>
				        </div>
				        <div style="clear:both;"></div>
	       			</div>
	       			</form>
       			</div>
			</div>
	    </div>
    </div>
    <script src="__PUBLIC__/js/jquery.min.js"></script>
    <script src="__PUBLIC__/js/bootstrap.min.js"></script>
    <script src="__PUBLIC__/js/plugins/iCheck/icheck.min.js"></script>
    <script>
        $(document).ready(function(){$(".i-checks").iCheck({checkboxClass:"icheckbox_square-green",radioClass:"iradio_square-green",})});
    </script>
    <script src="__PUBLIC__/js/app/admin.js"></script>
</body>
</html>
