  <include file="Public:head2" />
  <link href="__PUBLIC__/css/cyx/8904a01247fdd9b3489d34f53fafa48f.cssx" rel="stylesheet" />
 <script>                $('#layer1C3F9A702D0387A6AB12F33713DBBF6B').triggerHandler('layer_ready');</script><div id='layerF59E76524350D38A97C55CDEFC96BF17' type='mbuttons'  class='cstlayer' style='left: 0px; top: 210px; position: absolute; z-index: 102; width: 320px; height: 50px;'  mid=""   deg='0'><div class="wp-mbuttons_content" style="padding: 0px; border: 0px solid transparent; overflow: hidden; width: 320px; height: 50px;"><a class="btnarea button_btndefault-link" style="width:320px;left:0px;top:0px;height:50px;line-height:50px;">
  <span class="button_btndefault-label">关于我们</span>
</a><script language="javascript">$(function(){
        });</script>
</div>
</div><script>               $('#layerF59E76524350D38A97C55CDEFC96BF17').triggerHandler('layer_ready');</script><div id='layerD26A2D826D526C4BC66F97177410E2C1' type='title'  class='cstlayer' style='left: 5px; top: 270px; position: absolute; z-index: 109; width: 310px; height: 641px;'  mid=""   deg='0'><meta content="telephone=no" name="format-detection">
<!-- nav是防止在安卓UC浏览器里面字体变大添加的 -->
<nav>
<div class="wp-title_content" style="word-wrap: break-word; padding: 0px; border: 0px solid transparent; height: 641px; width: 310px;"><p style="line-height: 1.5em;"><span style="font-size: 14px;">智能网络科技有限公司始建于二〇〇八年，于二〇一五年更名为智能信息技术有限公司。我公司是专业从事计算机信息系统集成、建筑智能化系统工程的高新技术企业， 我们的核心业务为中小企业提供弱电系统整体解决方案，内容涉及范围：综合布线（大型机房建设、中小型网络系统布线）、电话程控交换系统(PBX)、安全防范系统（远程高清监控、手机监控、联网报警系统、电子围栏）、音响控制系统（背景音乐、会议室扩声系统）、远程智能视频会议系统、大屏幕显示系统、智能楼宇控制系统等。</span></p><p><br></p><p style="line-height: 1.5em;"><span style="font-size: 14px;">公司立足，八年专注扎根于政府、教育和金融行业，项目遍布国内主要大型城市，目前公司设计施工的客户已达数百家，在、上海、北京、西安、苏州、山西等地均成功项目案例，已成为华东地区较具竞争力的弱电智能化系统综合方案提供商。</span></p><p><br></p><p style="line-height: 1.5em;"><span style="font-size: 14px;">公司提供从技术咨询、工程设计、产品供应、安装施工、调试开通到售后服务及长期维修保养等全方位的支持，为客户的信息智能化系统提供一站式服务，公司除了提供前期的弱电系统建设，另针对中小企业还提供了IT外包一体式服务，包括简单的网络布线，电话分机布署，网站建设，计算机及周边办公设备产品销售维护服务。 弱电工程的完美竣工，只是我们服务的开始，期望能与广大中小企业达成长期的合作伙伴关系，携手发展、共创辉煌！</span></p><p><br></p></div>
</nav>


</div><script>               $('#layerD26A2D826D526C4BC66F97177410E2C1').triggerHandler('layer_ready');</script><div id='layerE5AEDEEAE3F46914C248FA5339C7DEFA' type='media'  class='cstlayer' style='left: 0px; top: 920px; position: absolute; z-index: 110; width: 320px; height: 216px;'  mid=""   deg='0'><script>
create_pc_media_set_pic('layerE5AEDEEAE3F46914C248FA5339C7DEFA',false);
</script>
<div class="wp-media_content"  style="overflow: hidden; width: 320px; height: 216px; border-width: 0px; border-style: solid; padding: 0px;" type="0">
<div class="img_over"  style='overflow: hidden; border-color: transparent; border-width: 0px; width: 320px; height: 216px;'>
<div class="imgloading" style="z-index:100;"> </div>
<img  id="wp-media-image_layerE5AEDEEAE3F46914C248FA5339C7DEFA" class="img_lazy_load  paragraph_image"  src="__PUBLIC__/images/honor_6_2_meitu_1.jpg" type="zoom"  style="width: 320px; height: 216px;;" />
</div>

</div>
<script>
layer_media_ready_func('layerE5AEDEEAE3F46914C248FA5339C7DEFA');
  $(function(){
     layer_media_lazyload_func('layerE5AEDEEAE3F46914C248FA5339C7DEFA', 0);
 })
 </script>
</div><script>               $('#layerE5AEDEEAE3F46914C248FA5339C7DEFA').triggerHandler('layer_ready');</script><div id='layer2CDA06FB70DA270305C85EC4B2373117' type='media'  class='cstlayer' style='left: 0px; top: 1160px; position: absolute; z-index: 111; width: 320px; height: 216px;'  mid=""   deg='0'><script>
create_pc_media_set_pic('layer2CDA06FB70DA270305C85EC4B2373117',false);
</script>
<div class="wp-media_content"  style="overflow: hidden; width: 320px; height: 216px; border-width: 0px; border-style: solid; padding: 0px;" type="0">
<div class="img_over"  style='overflow: hidden; border-color: transparent; border-width: 0px; width: 320px; height: 216px;'>
<div class="imgloading" style="z-index:100;"> </div>
<img  id="wp-media-image_layer2CDA06FB70DA270305C85EC4B2373117" class="img_lazy_load  paragraph_image"  src="__PUBLIC__/images/honor_8_2_meitu_1.jpg" type="zoom"  style="width: 320px; height: 216px;;" />
</div>

</div>
<script>
layer_media_ready_func('layer2CDA06FB70DA270305C85EC4B2373117');
  $(function(){
     layer_media_lazyload_func('layer2CDA06FB70DA270305C85EC4B2373117', 0);
 })
 </script>
</div>   </div>
    	 <include file="Public:foot" />