<include file="Public/top" />
<style type="text/css">
    .cat-type{display: none;}
</style>
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title col-sm-12">
                        <if condition="$list.id gt 0">
                            <div class="col-sm-9"><h3>编辑文章类型</h3></div>
                        <else />
                            <div class="col-sm-9"><h3>新增文章类型</h3></div>
                        </if>
                        <div class="col-sm-3 text-right">
                            <a href="__URL__/index">
                                <button type="submit" class="btn btn-sm btn-primary">返回上一级</button>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content"> 
                        <if condition="$list.id gt 0">
                            <form method="post" class="form-horizontal" action="__URL__/update">
                        <else />
                            <form method="post" class="form-horizontal" action="__URL__/insert">
                        </if>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">属性</label>
                                <div class="col-sm-10">
                                    <select name="type" class="form-control" id="cat-type" onchange="changeType()">
                                        <!-- <option value="group" <if condition="$list.type eq group">selected</if> >分组</option> -->
                                        <option value="cat" <if condition="$list.type eq cat">selected</if> >分类</option>

                                        <option value="group" <if condition="$list.type eq group">selected</if> >分组</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">名称</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="name" value="{$list.name}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">标题</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="title" value="{$list.title}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">描述</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="intro" value="{$list.intro}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">排序</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="sort" value="{$list.sort}">
                                </div>
                            </div>
                            <div class="form-group cat-type">
                                <label class="col-sm-2 control-label">分组</label>
                                <div class="col-sm-10">
                                    <select name="gid" class="form-control" id="cat-group" onchange="changeGroup()">
                                        <option value="0">无分组</option>
                                        <volist name="grouplist" id="v">
                                            <option value="{$v.id}" <if condition="$list.gid eq $v.id">selected</if> >{$v.name}</option>
                                        </volist>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group cat-type">
                                <label class="col-sm-2 control-label">上级</label>
                                <div class="col-sm-10">
                                    <select name="pid" class="form-control" id="cat-parent" onchange="changeParent()">
                                        <option value="-10000">无上级</option>
                                        <volist name="parentlist" id="v">
                                            <option value="{$v.id}" <if condition="$list.pid eq $v.id">selected</if> >{$v.name}</option>
                                        </volist>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group cat-type">
                                <label class="col-sm-2 control-label">等级</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="level" id="level" value="{$list.level}" readonly="readonly">
                                </div>
                            </div>
                            <input type="hidden" name="id" value="{$list.id}">
                            <div class="form-group">
                                <div class="col-sm-12 col-sm-offset-10">
                                    <button class="btn btn-primary" type="submit">保存</button>
                                    <button class="btn btn-white" type="reset">重置</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        /*页面初始化*/
        changeType(); //属性栏
        /*页面初始化 结束*/
        //属性切换
        function changeType(){
            var catType = $("#cat-type option:selected").val();
            if (catType == 'cat') {
                $(".cat-type").show();
            }else{
                $(".cat-type").hide();
            }
        }
        //分组切换
        function changeGroup(){
            var gid = $("#cat-group option:selected").val();
            $.post('__URL__/getArticleType',{gid:gid},function(json){
                $("#cat-parent").empty();
                $("#cat-parent").append(json);
                $("#level").val(1);
            },'json')
        }
        //上级切换
        function changeParent(){
            $("#level").val(2);
        }
    </script>
<include file="Public/footer" />