<include file="Public:left_nav" />
<div class="layui-body" style="background-color:#f2f2f2">
    <div style="padding: 10px; background-color: #F2F2F2;">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-body">
                        <div class="layui-form-item">        
                              <button style="float: left;margin-right: 10px;" class="layui-btn  btn-chouj-choose layui-btn-sm layui-btn-normal"><a href="__APP__/admin/user/index" style="color:#fff">用户列表</a></button>
                               <div class="layui-inline" style="float:right">
                                <button class="layui-btn layui-btn-sm"><a href="" style="color:#fff">导出EXCEL</a></button>
                               
                               </div>
                        </div>
                        <div class="layui-form">
                            <table class="layui-hide" id="test" lay-filter="test">
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body></html><style>
.layui-layer-content {
	padding: 30px 0;
	text-align: center;
}
.layui-layer-btn1 {
	color: #009f95;
	background-color: #fff;
}
.btn-chouj-choose{
	border-radius:3px;
	background-color:#1781ed;
	color:#fff;
	}
.btn-chouj
{
	border-radius:5px;
	background-color:#fff;
	color:#1781ed;
	border:1px solid #1781ed;
	}
tbody tr{
	height:50px;}
.layui-table-cell{
	height:50px;}
</style>
<script src="__PUBLIC__/js/jquery-3.3.1.min.js"></script>
<script type="text/html" id="barDemo">
  <a href="__APP__/admin/user/check/?demo-id={{d.id}}" lay-event="detail"> <button class="layui-btn layui-btn-primary layui-btn-sm"><img src="__PUBLIC__/images/check.png" class="check-img"/></button></a>
   <a lay-event="del"><button class="layui-btn layui-btn-primary layui-btn-sm"><i class="layui-icon"></i></button></a>
</script>
<script type="text/javascript">
layui.use('table', function(){
  var table = layui.table;
  table.render({
    elem: '#test'
  /*  ,url:'/demo/table/user/'*/
    ,cols: [[
      {field:'id', title: 'ID', style:'color:#4f76eb',sort: true}
	   ,{field: 'pic', title: '图片', templet: '<div><img src="{{d.idImgFront}}" style="width:50px;height:50px"></div>'}
      ,{field:'name',  title: '昵称'}
	    ,{field:'time',  title: '进入时间'}
		  ,{field:'number',  title: '手机号码'}
		    ,{field:'address',  title: '归属地'}
      ,{fixed:'right', title:'操作', toolbar: '#barDemo'}
   
    ]] ,data: [{
		 "id":"NO.1",
		  "idImgFront": "__PUBLIC__/images/tx.jpg",
	 "name":"半透明",
	 "time":"2018-10-15",
	 "number":"13788933049",
	 "address":"重庆市.重庆市"
    }, {
		"id":"NO.2", 
		  "idImgFront": "__PUBLIC__/images/tx.jpg",
		 "photo":"",
	 "name":"半透明",
	 "time":"2018-10-15",
	 "number":"13788933049",
	 "address":"重庆市.重庆市"
    }, {
  		"id":"NO.3",
		  "idImgFront": "__PUBLIC__/images/tx.jpg",
		 "photo":"",
	 "name":"半透明",
	 "time":"2018-10-15",
	 "number":"13788933049",
	 "address":"重庆市.重庆市"
    }] 
    ,page: true
  });
   table.on('tool(test)', function(obj){
    var data = obj.data;
    if(obj.event === 'del'){
      layer.confirm('真的删该用户吗？', function(index){
        obj.del();
        layer.close(index);
      });
    }
  }); 
});
</script>


