   <include file="Public:head2" />
   <link href="__PUBLIC__/css/cyx/3f8c27f4b4cf09db66d1d5d2b872027c.cssx" rel="stylesheet" />
  <script>		         $('#layerF509A9DBFA93EF954D987BE0CA857402').triggerHandler('layer_ready');</script>
        <div id='layer1C3F9A702D0387A6AB12F33713DBBF6B' type='title'  class='cstlayer' style='left: 0px; top: 100px; position: absolute; z-index: 108; width: 315px; height: 25px;'  mid=""   deg='0'>
            <meta content="telephone=no" name="format-detection">
            <!-- nav是防止在安卓UC浏览器里面字体变大添加的 -->
            <nav>
                <div class="wp-title_content" style="word-wrap: break-word; padding: 0px; border-color: transparent; border-width: 0px; height: 25px; width: 315px;">
                    <p style="line-height: 1.5em; text-align: center;"><span style="color: rgb(255, 255, 255); font-family: 微软雅黑; text-align: center; font-size: 18px;">科技创造生活 · 精诚赢得未来</span></p>
                </div>
            </nav>
        </div>
        <script>		         $('#layer1C3F9A702D0387A6AB12F33713DBBF6B').triggerHandler('layer_ready');</script>
        <div id='layer61A1192F741C1D679B63E9D56ED9501D' type='mbuttons'  class='cstlayer' style='left: 0px; top: 210px; position: absolute; z-index: 112; width: 320px; height: 50px; display: block;'  mid=""   deg='0'>
            <div class="wp-mbuttons_content" style="padding: 0px; border: 0px solid transparent; overflow: hidden; width: 320px; height: 50px;"><a href="case.html" class="btnarea button_btndefault-link" style="width:320px;left:0px;top:0px;height:50px;line-height:50px;"> <span class="button_btndefault-label">经典客户</span> </a><script language="javascript">$(function(){
		});</script> 
            </div>
        </div>
        <script>		         $('#layer61A1192F741C1D679B63E9D56ED9501D').triggerHandler('layer_ready');</script>
        <div id='layer3B3179B7CC9ABF5693BEB00F054FE61C' type='title'  class='cstlayer' style='left: 0px; top: 280px; position: absolute; z-index: 109; width: 320px; height: 33px;'  mid=""   deg='0'>
            <meta content="telephone=no" name="format-detection">
            <!-- nav是防止在安卓UC浏览器里面字体变大添加的 -->
            <nav>
                <div class="wp-title_content" style="word-wrap: break-word; padding: 0px; border-color: transparent; border-width: 0px; height: 33px; width: 320px;">
                    <p style="line-height: 2em; text-align: center;"><span style="font-family: 微软雅黑; text-align: center; font-size: 20px;">国家部委</span></p>
                </div>
            </nav>
        </div>
        <script>		         $('#layer3B3179B7CC9ABF5693BEB00F054FE61C').triggerHandler('layer_ready');</script>
        <div id='layer6DCAA5C818EACBF9CD32D802EA4C7DC6' type='media'  class='cstlayer' style='left: 20px; top: 340px; position: absolute; z-index: 110; width: 120px; height: 124px;'  mid=""   deg='0'><script>
create_pc_media_set_pic('layer6DCAA5C818EACBF9CD32D802EA4C7DC6',false);
</script>
            <div class="wp-media_content"  style="overflow: hidden; width: 120px; height: 124px; border-width: 0px; border-style: solid; padding: 0px;" type="0">
                <div class="img_over"  style='overflow: hidden; border-color: transparent; border-width: 0px; width: 120px; height: 124px;'>
                    <div class="imgloading" style="z-index:100;"> </div>
                    <img  id="wp-media-image_layer6DCAA5C818EACBF9CD32D802EA4C7DC6" class="img_lazy_load  paragraph_image"  src="__PUBLIC__/images/cjx4.png" type="zoom"  style="width: 120px; height: auto;;" /> </div>
            </div>
            <script>
layer_media_ready_func('layer6DCAA5C818EACBF9CD32D802EA4C7DC6');
  $(function(){
     layer_media_lazyload_func('layer6DCAA5C818EACBF9CD32D802EA4C7DC6', 0);
 })
 </script> 
        </div>
        <script>		         $('#layer6DCAA5C818EACBF9CD32D802EA4C7DC6').triggerHandler('layer_ready');</script>
        <div id='layer8AB8899355295C9D820A1599792EADDE' type='media'  class='cstlayer' style='left: 180px; top: 340px; position: absolute; z-index: 114; width: 120px; height: 124px;'  mid=""   deg='0'><script>
create_pc_media_set_pic('layer8AB8899355295C9D820A1599792EADDE',false);
</script>
            <div class="wp-media_content"  style="overflow: hidden; width: 120px; height: 124px; border-width: 0px; border-style: solid; padding: 0px;" type="0">
                <div class="img_over"  style='overflow: hidden; border-color: transparent; border-width: 0px; width: 120px; height: 124px;'>
                    <div class="imgloading" style="z-index:100;"> </div>
                    <img  id="wp-media-image_layer8AB8899355295C9D820A1599792EADDE" class="img_lazy_load  paragraph_image"  src="__PUBLIC__/images/cjx4.png" type="zoom"  style="width: 120px; height: auto;;" /> </div>
            </div>
            <script>
layer_media_ready_func('layer8AB8899355295C9D820A1599792EADDE');
  $(function(){
     layer_media_lazyload_func('layer8AB8899355295C9D820A1599792EADDE', 0);
 })
 </script> 
        </div>
        <script>		         $('#layer8AB8899355295C9D820A1599792EADDE').triggerHandler('layer_ready');</script>
        <div id='layer1779149981585A17631F8136A9B8F115' type='media'  class='cstlayer' style='left: 213px; top: 362px; position: absolute; z-index: 117; width: 50px; height: 53px;'  mid=""   deg='0'><script>
create_pc_media_set_pic('layer1779149981585A17631F8136A9B8F115',false);
</script>
            <div class="wp-media_content"  style="overflow: hidden; width: 50px; height: 53px; border-width: 0px; border-style: solid; padding: 0px;" type="0">
                <div class="img_over"  style='overflow: hidden; border-color: transparent; border-width: 0px; width: 50px; height: 53px;'>
                    <div class="imgloading" style="z-index:100;"> </div>
                    <img  id="wp-media-image_layer1779149981585A17631F8136A9B8F115" class="img_lazy_load  paragraph_image"  src="__PUBLIC__/images/case_icon_2.png" type="zoom"  style="width: 50px; height: auto; top: 0px; left: 0px; position: relative;;" /> </div>
            </div>
            <script>
layer_media_ready_func('layer1779149981585A17631F8136A9B8F115');
  $(function(){
     layer_media_lazyload_func('layer1779149981585A17631F8136A9B8F115', 0);
 })
 </script> 
        </div>
        <script>		         $('#layer1779149981585A17631F8136A9B8F115').triggerHandler('layer_ready');</script>
        <div id='layerA42814A563F0B2A9D5C4BAA5C7E7CBD6' type='media'  class='cstlayer' style='left: 53px; top: 364px; position: absolute; z-index: 115; width: 50px; height: 50px;'  mid=""   deg='0'><script>
create_pc_media_set_pic('layerA42814A563F0B2A9D5C4BAA5C7E7CBD6',false);
</script>
            <div class="wp-media_content"  style="overflow: hidden; width: 50px; height: 50px; border-width: 0px; border-style: solid; padding: 0px;" type="0">
                <div class="img_over"  style='overflow: hidden; border-color: transparent; border-width: 0px; width: 50px; height: 50px;'>
                    <div class="imgloading" style="z-index:100;"> </div>
                    <img  id="wp-media-image_layerA42814A563F0B2A9D5C4BAA5C7E7CBD6" class="img_lazy_load  paragraph_image" src="__PUBLIC__/images/case_icon_1.png" type="zoom"  style="width: 50px; height: auto;;" /> </div>
            </div>
            <script>
layer_media_ready_func('layerA42814A563F0B2A9D5C4BAA5C7E7CBD6');
  $(function(){
     layer_media_lazyload_func('layerA42814A563F0B2A9D5C4BAA5C7E7CBD6', 0);
 })
 </script> 
        </div>
        <script>		         $('#layerA42814A563F0B2A9D5C4BAA5C7E7CBD6').triggerHandler('layer_ready');</script>
        <div id='layer85FA7AE4CF876015DED7A49F28581C3F' type='title'  class='cstlayer' style='left: 199px; top: 420px; position: absolute; z-index: 118; width: 80px; height: 21px;'  mid=""   deg='0'>
            <meta content="telephone=no" name="format-detection">
            <!-- nav是防止在安卓UC浏览器里面字体变大添加的 -->
            <nav>
                <div class="wp-title_content" style="word-wrap: break-word; padding: 0px; border-color: transparent; border-width: 0px; height: 21px; width: 80px;">
                    <p style="text-align: center;"><span style="font-size: 14px;">财政部</span></p>
                </div>
            </nav>
        </div>
        <script>		         $('#layer85FA7AE4CF876015DED7A49F28581C3F').triggerHandler('layer_ready');</script>
        <div id='layerAA5C221AA8F5D547DBB202B29D38F015' type='title'  class='cstlayer' style='left: 39px; top: 420px; position: absolute; z-index: 116; width: 80px; height: 21px;'  mid=""   deg='0'>
            <meta content="telephone=no" name="format-detection">
            <!-- nav是防止在安卓UC浏览器里面字体变大添加的 -->
            <nav>
                <div class="wp-title_content" style="word-wrap: break-word; padding: 0px; border-color: transparent; border-width: 0px; height: 21px; width: 80px;">
                    <p style="text-align: center;"><span style="font-size: 14px;">海关总署</span></p>
                </div>
            </nav>
        </div>
        <script>		         $('#layerAA5C221AA8F5D547DBB202B29D38F015').triggerHandler('layer_ready');</script>
        <div id='layer65B09768BF364AF24A543A545F31C880' type='media'  class='cstlayer' style='left: 20px; top: 490px; position: absolute; z-index: 119; width: 120px; height: 124px;'  mid=""   deg='0'><script>
create_pc_media_set_pic('layer65B09768BF364AF24A543A545F31C880',false);
</script>
            <div class="wp-media_content"  style="overflow: hidden; width: 120px; height: 124px; border-width: 0px; border-style: solid; padding: 0px;" type="0">
                <div class="img_over"  style='overflow: hidden; border-color: transparent; border-width: 0px; width: 120px; height: 124px;'>
                    <div class="imgloading" style="z-index:100;"> </div>
                    <img  id="wp-media-image_layer65B09768BF364AF24A543A545F31C880" class="img_lazy_load  paragraph_image" src="__PUBLIC__/images/cjx4.png" type="zoom"  style="width: 120px; height: auto;;" /> </div>
            </div>
            <script>
layer_media_ready_func('layer65B09768BF364AF24A543A545F31C880');
  $(function(){
     layer_media_lazyload_func('layer65B09768BF364AF24A543A545F31C880', 0);
 })
 </script> 
        </div>
        <script>		         $('#layer65B09768BF364AF24A543A545F31C880').triggerHandler('layer_ready');</script>
        <div id='layer9C843BB7140B8591809EB0FDE714DC5C' type='media'  class='cstlayer' style='left: 180px; top: 490px; position: absolute; z-index: 120; width: 120px; height: 124px;'  mid=""   deg='0'><script>
create_pc_media_set_pic('layer9C843BB7140B8591809EB0FDE714DC5C',false);
</script>
            <div class="wp-media_content"  style="overflow: hidden; width: 120px; height: 124px; border-width: 0px; border-style: solid; padding: 0px;" type="0">
                <div class="img_over"  style='overflow: hidden; border-color: transparent; border-width: 0px; width: 120px; height: 124px;'>
                    <div class="imgloading" style="z-index:100;"> </div>
                    <img  id="wp-media-image_layer9C843BB7140B8591809EB0FDE714DC5C" class="img_lazy_load  paragraph_image" src="__PUBLIC__/images/cjx4.png" type="zoom"  style="width: 120px; height: auto;;" /> </div>
            </div>
            <script>
layer_media_ready_func('layer9C843BB7140B8591809EB0FDE714DC5C');
  $(function(){
     layer_media_lazyload_func('layer9C843BB7140B8591809EB0FDE714DC5C', 0);
 })
 </script> 
        </div>
        <script>		         $('#layer9C843BB7140B8591809EB0FDE714DC5C').triggerHandler('layer_ready');</script>
        <div id='layer4E66A0BE29F66DDF17CA0EB6692BFB5D' type='media'  class='cstlayer' style='left: 53px; top: 514px; position: absolute; z-index: 121; width: 50px; height: 50px;'  mid=""   deg='0'><script>
create_pc_media_set_pic('layer4E66A0BE29F66DDF17CA0EB6692BFB5D',false);
</script>
            <div class="wp-media_content"  style="overflow: hidden; width: 50px; height: 50px; border-width: 0px; border-style: solid; padding: 0px;" type="0">
                <div class="img_over"  style='overflow: hidden; border-color: transparent; border-width: 0px; width: 50px; height: 50px;'>
                    <div class="imgloading" style="z-index:100;"> </div>
                    <img  id="wp-media-image_layer4E66A0BE29F66DDF17CA0EB6692BFB5D" class="img_lazy_load  paragraph_image"  src="__PUBLIC__/images/case_icon_4.png" type="zoom"  style="width: 50px; height: auto;;" /> </div>
            </div>
            <script>
layer_media_ready_func('layer4E66A0BE29F66DDF17CA0EB6692BFB5D');
  $(function(){
     layer_media_lazyload_func('layer4E66A0BE29F66DDF17CA0EB6692BFB5D', 0);
 })
 </script> 
        </div>
        <script>		         $('#layer4E66A0BE29F66DDF17CA0EB6692BFB5D').triggerHandler('layer_ready');</script>
        <div id='layer0171CC4E2D485E95D19711A9AAF39BD5' type='media'  class='cstlayer' style='left: 213px; top: 514px; position: absolute; z-index: 123; width: 50px; height: 50px;'  mid=""   deg='0'><script>
create_pc_media_set_pic('layer0171CC4E2D485E95D19711A9AAF39BD5',false);
</script>
            <div class="wp-media_content"  style="overflow: hidden; width: 50px; height: 50px; border-width: 0px; border-style: solid; padding: 0px;" type="0">
                <div class="img_over"  style='overflow: hidden; border-color: transparent; border-width: 0px; width: 50px; height: 50px;'>
                    <div class="imgloading" style="z-index:100;"> </div>
                    <img  id="wp-media-image_layer0171CC4E2D485E95D19711A9AAF39BD5" class="img_lazy_load  paragraph_image"  src="__PUBLIC__/images/case_icon_3.png" type="zoom"  style="width: 50px; height: auto;;" /> </div>
            </div>
            <script>
layer_media_ready_func('layer0171CC4E2D485E95D19711A9AAF39BD5');
  $(function(){
     layer_media_lazyload_func('layer0171CC4E2D485E95D19711A9AAF39BD5', 0);
 })
 </script> 
        </div>
        <script>		         $('#layer0171CC4E2D485E95D19711A9AAF39BD5').triggerHandler('layer_ready');</script>
        <div id='layerDB36946D09D02D3777255E2710B24305' type='title'  class='cstlayer' style='left: 199px; top: 570px; position: absolute; z-index: 124; width: 80px; height: 21px;'  mid=""   deg='0'>
            <meta content="telephone=no" name="format-detection">
            <!-- nav是防止在安卓UC浏览器里面字体变大添加的 -->
            <nav>
                <div class="wp-title_content" style="word-wrap: break-word; padding: 0px; border-color: transparent; border-width: 0px; height: 21px; width: 80px;">
                    <p style="text-align: center;"><span style="font-size: 14px;">气象局</span></p>
                </div>
            </nav>
        </div>
        <script>		         $('#layerDB36946D09D02D3777255E2710B24305').triggerHandler('layer_ready');</script>
        <div id='layerA5F6B49DC0E685837694BC083A235196' type='title'  class='cstlayer' style='left: 39px; top: 570px; position: absolute; z-index: 122; width: 80px; height: 21px;'  mid=""   deg='0'>
            <meta content="telephone=no" name="format-detection">
            <!-- nav是防止在安卓UC浏览器里面字体变大添加的 -->
            <nav>
                <div class="wp-title_content" style="word-wrap: break-word; padding: 0px; border-color: transparent; border-width: 0px; height: 21px; width: 80px;">
                    <p style="text-align: center;"><span style="font-size: 14px;">新华社</span></p>
                </div>
            </nav>
        </div>
        <script>		         $('#layerA5F6B49DC0E685837694BC083A235196').triggerHandler('layer_ready');</script>
        <div id='layerC39E5395F7E061B6BD1B59ABC847D334' type='title'  class='cstlayer' style='left: 0px; top: 640px; position: absolute; z-index: 125; width: 320px; height: 33px;'  mid=""   deg='0'>
            <meta content="telephone=no" name="format-detection">
            <!-- nav是防止在安卓UC浏览器里面字体变大添加的 -->
            <nav>
                <div class="wp-title_content" style="word-wrap: break-word; padding: 0px; border-color: transparent; border-width: 0px; height: 33px; width: 320px;">
                    <p style="line-height: 2em; text-align: center;"><span style="font-family: 微软雅黑; text-align: center; font-size: 20px;">金融行业</span></p>
                </div>
            </nav>
        </div>
        <script>		         $('#layerC39E5395F7E061B6BD1B59ABC847D334').triggerHandler('layer_ready');</script>
        <div id='layer57DA44B01328C0685D69B26FD5F1D3A4' type='media'  class='cstlayer' style='left: 180px; top: 700px; position: absolute; z-index: 127; width: 120px; height: 124px;'  mid=""   deg='0'><script>
create_pc_media_set_pic('layer57DA44B01328C0685D69B26FD5F1D3A4',false);
</script>
            <div class="wp-media_content"  style="overflow: hidden; width: 120px; height: 124px; border-width: 0px; border-style: solid; padding: 0px;" type="0">
                <div class="img_over"  style='overflow: hidden; border-color: transparent; border-width: 0px; width: 120px; height: 124px;'>
                    <div class="imgloading" style="z-index:100;"> </div>
                    <img  id="wp-media-image_layer57DA44B01328C0685D69B26FD5F1D3A4" class="img_lazy_load  paragraph_image"  src="__PUBLIC__/images/cjx4.png" type="zoom"  style="width: 120px; height: auto;;" /> </div>
            </div>
            <script>
layer_media_ready_func('layer57DA44B01328C0685D69B26FD5F1D3A4');
  $(function(){
     layer_media_lazyload_func('layer57DA44B01328C0685D69B26FD5F1D3A4', 0);
 })
 </script> 
        </div>
        <script>		         $('#layer57DA44B01328C0685D69B26FD5F1D3A4').triggerHandler('layer_ready');</script>
        <div id='layer95ED1D71D03625B02590848155EF0341' type='media'  class='cstlayer' style='left: 20px; top: 700px; position: absolute; z-index: 126; width: 120px; height: 124px;'  mid=""   deg='0'><script>
create_pc_media_set_pic('layer95ED1D71D03625B02590848155EF0341',false);
</script>
            <div class="wp-media_content"  style="overflow: hidden; width: 120px; height: 124px; border-width: 0px; border-style: solid; padding: 0px;" type="0">
                <div class="img_over"  style='overflow: hidden; border-color: transparent; border-width: 0px; width: 120px; height: 124px;'>
                    <div class="imgloading" style="z-index:100;"> </div>
                    <img  id="wp-media-image_layer95ED1D71D03625B02590848155EF0341" class="img_lazy_load  paragraph_image"  src="__PUBLIC__/images/cjx4.png" type="zoom"  style="width: 120px; height: auto;;" /> </div>
            </div>
            <script>
layer_media_ready_func('layer95ED1D71D03625B02590848155EF0341');
  $(function(){
     layer_media_lazyload_func('layer95ED1D71D03625B02590848155EF0341', 0);
 })
 </script> 
        </div>
        <script>		         $('#layer95ED1D71D03625B02590848155EF0341').triggerHandler('layer_ready');</script>
        <div id='layer1A65109C85BDF816A244FDFDF22B3F0B' type='media'  class='cstlayer' style='left: 213px; top: 720px; position: absolute; z-index: 130; width: 50px; height: 50px;'  mid=""   deg='0'><script>
create_pc_media_set_pic('layer1A65109C85BDF816A244FDFDF22B3F0B',false);
</script>
            <div class="wp-media_content"  style="overflow: hidden; width: 50px; height: 50px; border-width: 0px; border-style: solid; padding: 0px;" type="0">
                <div class="img_over"  style='overflow: hidden; border-color: transparent; border-width: 0px; width: 50px; height: 50px;'>
                    <div class="imgloading" style="z-index:100;"> </div>
                    <img  id="wp-media-image_layer1A65109C85BDF816A244FDFDF22B3F0B" class="img_lazy_load  paragraph_image"  src="__PUBLIC__/images/07.png" type="zoom"  style="width: auto; height: 50px; top: 0px; left: 0px; position: relative;;" /> </div>
            </div>
            <script>
layer_media_ready_func('layer1A65109C85BDF816A244FDFDF22B3F0B');
  $(function(){
     layer_media_lazyload_func('layer1A65109C85BDF816A244FDFDF22B3F0B', 0);
 })
 </script> 
        </div>
        <script>		         $('#layer1A65109C85BDF816A244FDFDF22B3F0B').triggerHandler('layer_ready');</script>
        <div id='layerBABE9BC00AD2E4B09414167C8094D99A' type='media'  class='cstlayer' style='left: 53px; top: 724px; position: absolute; z-index: 128; width: 50px; height: 50px;'  mid=""   deg='0'><script>
create_pc_media_set_pic('layerBABE9BC00AD2E4B09414167C8094D99A',false);
</script>
            <div class="wp-media_content"  style="overflow: hidden; width: 50px; height: 50px; border-width: 0px; border-style: solid; padding: 0px;" type="0">
                <div class="img_over"  style='overflow: hidden; border-color: transparent; border-width: 0px; width: 50px; height: 50px;'>
                    <div class="imgloading" style="z-index:100;"> </div>
                    <img  id="wp-media-image_layerBABE9BC00AD2E4B09414167C8094D99A" class="img_lazy_load  paragraph_image"  src="__PUBLIC__/images/33.png" type="zoom"  style="width: auto; height: 50px; top: 0px; left: 0px; position: relative;;" /> </div>
            </div>
            <script>
layer_media_ready_func('layerBABE9BC00AD2E4B09414167C8094D99A');
  $(function(){
     layer_media_lazyload_func('layerBABE9BC00AD2E4B09414167C8094D99A', 0);
 })
 </script> 
        </div>
        <script>		         $('#layerBABE9BC00AD2E4B09414167C8094D99A').triggerHandler('layer_ready');</script>
        <div id='layer94C902AD146978EAC0F4497A1DF96625' type='title'  class='cstlayer' style='left: 199px; top: 780px; position: absolute; z-index: 131; width: 80px; height: 21px;'  mid=""   deg='0'>
            <meta content="telephone=no" name="format-detection">
            <!-- nav是防止在安卓UC浏览器里面字体变大添加的 -->
            <nav>
                <div class="wp-title_content" style="word-wrap: break-word; padding: 0px; border-color: transparent; border-width: 0px; height: 21px; width: 80px;">
                    <p style="text-align: center;"><span style="font-size: 14px;">农业银行</span></p>
                </div>
            </nav>
        </div>
        <script>		         $('#layer94C902AD146978EAC0F4497A1DF96625').triggerHandler('layer_ready');</script>
        <div id='layerCA1E828EF3F49FB24CF0CCF4EAD51602' type='title'  class='cstlayer' style='left: 39px; top: 780px; position: absolute; z-index: 129; width: 80px; height: 21px;'  mid=""   deg='0'>
            <meta content="telephone=no" name="format-detection">
            <!-- nav是防止在安卓UC浏览器里面字体变大添加的 -->
            <nav>
                <div class="wp-title_content" style="word-wrap: break-word; padding: 0px; border-color: transparent; border-width: 0px; height: 21px; width: 80px;">
                    <p style="text-align: center;"><span style="font-size: 14px;">中信银行</span></p>
                </div>
            </nav>
        </div>
        <script>		         $('#layerCA1E828EF3F49FB24CF0CCF4EAD51602').triggerHandler('layer_ready');</script>
        <div id='layer95896221888BF1C0836315ED8C095C50' type='media'  class='cstlayer' style='left: 180px; top: 850px; position: absolute; z-index: 133; width: 120px; height: 124px;'  mid=""   deg='0'><script>
create_pc_media_set_pic('layer95896221888BF1C0836315ED8C095C50',false);
</script>
            <div class="wp-media_content"  style="overflow: hidden; width: 120px; height: 124px; border-width: 0px; border-style: solid; padding: 0px;" type="0">
                <div class="img_over"  style='overflow: hidden; border-color: transparent; border-width: 0px; width: 120px; height: 124px;'>
                    <div class="imgloading" style="z-index:100;"> </div>
                    <img  id="wp-media-image_layer95896221888BF1C0836315ED8C095C50" class="img_lazy_load  paragraph_image"  src="__PUBLIC__/images/cjx4.png" type="zoom"  style="width: 120px; height: auto;;" /> </div>
            </div>
            <script>
layer_media_ready_func('layer95896221888BF1C0836315ED8C095C50');
  $(function(){
     layer_media_lazyload_func('layer95896221888BF1C0836315ED8C095C50', 0);
 })
 </script> 
        </div>
        <script>		         $('#layer95896221888BF1C0836315ED8C095C50').triggerHandler('layer_ready');</script>
        <div id='layer71D9CB42D914584062C12438BC7E3351' type='media'  class='cstlayer' style='left: 20px; top: 850px; position: absolute; z-index: 132; width: 120px; height: 124px;'  mid=""   deg='0'><script>
create_pc_media_set_pic('layer71D9CB42D914584062C12438BC7E3351',false);
</script>
            <div class="wp-media_content"  style="overflow: hidden; width: 120px; height: 124px; border-width: 0px; border-style: solid; padding: 0px;" type="0">
                <div class="img_over"  style='overflow: hidden; border-color: transparent; border-width: 0px; width: 120px; height: 124px;'>
                    <div class="imgloading" style="z-index:100;"> </div>
                    <img  id="wp-media-image_layer71D9CB42D914584062C12438BC7E3351" class="img_lazy_load  paragraph_image" src="__PUBLIC__/images/cjx4.png" type="zoom"  style="width: 120px; height: auto;;" /> </div>
            </div>
            <script>
layer_media_ready_func('layer71D9CB42D914584062C12438BC7E3351');
  $(function(){
     layer_media_lazyload_func('layer71D9CB42D914584062C12438BC7E3351', 0);
 })
 </script> 
        </div>
        <script>		         $('#layer71D9CB42D914584062C12438BC7E3351').triggerHandler('layer_ready');</script>
        <div id='layer0B7C814DA3B1F3CE29A7AF0DEADE0457' type='media'  class='cstlayer' style='left: 53px; top: 873px; position: absolute; z-index: 134; width: 50px; height: 52px;'  mid=""   deg='0'><script>
create_pc_media_set_pic('layer0B7C814DA3B1F3CE29A7AF0DEADE0457',false);
</script>
            <div class="wp-media_content"  style="overflow: hidden; width: 50px; height: 52px; border-width: 0px; border-style: solid; padding: 0px;" type="0">
                <div class="img_over"  style='overflow: hidden; border-color: transparent; border-width: 0px; width: 50px; height: 52px;'>
                    <div class="imgloading" style="z-index:100;"> </div>
                    <img  id="wp-media-image_layer0B7C814DA3B1F3CE29A7AF0DEADE0457" class="img_lazy_load  paragraph_image"  src="__PUBLIC__/images/08.png" type="zoom"  style="width: 50px; height: auto; top: 0px; left: 0px; position: relative;;" /> </div>
            </div>
            <script>
layer_media_ready_func('layer0B7C814DA3B1F3CE29A7AF0DEADE0457');
  $(function(){
     layer_media_lazyload_func('layer0B7C814DA3B1F3CE29A7AF0DEADE0457', 0);
 })
 </script> 
        </div>
        <script>		         $('#layer0B7C814DA3B1F3CE29A7AF0DEADE0457').triggerHandler('layer_ready');</script>
        <div id='layer4843FF5BA38696CB7BEA90E57A7D3C43' type='media'  class='cstlayer' style='left: 213px; top: 874px; position: absolute; z-index: 136; width: 50px; height: 50px;'  mid=""   deg='0'><script>
create_pc_media_set_pic('layer4843FF5BA38696CB7BEA90E57A7D3C43',false);
</script>
            <div class="wp-media_content"  style="overflow: hidden; width: 50px; height: 50px; border-width: 0px; border-style: solid; padding: 0px;" type="0">
                <div class="img_over"  style='overflow: hidden; border-color: transparent; border-width: 0px; width: 50px; height: 50px;'>
                    <div class="imgloading" style="z-index:100;"> </div>
                    <img  id="wp-media-image_layer4843FF5BA38696CB7BEA90E57A7D3C43" class="img_lazy_load  paragraph_image"  src="__PUBLIC__/images/36.png" type="zoom"  style="width: auto; height: 50px; top: 0px; left: 0px; position: relative;;" /> </div>
            </div>
            <script>
layer_media_ready_func('layer4843FF5BA38696CB7BEA90E57A7D3C43');
  $(function(){
     layer_media_lazyload_func('layer4843FF5BA38696CB7BEA90E57A7D3C43', 0);
 })
 </script> 
        </div>
        <script>		         $('#layer4843FF5BA38696CB7BEA90E57A7D3C43').triggerHandler('layer_ready');</script>
        <div id='layer11D9D5AD53A37BAE0E0CC7CD785EBC81' type='title'  class='cstlayer' style='left: 199px; top: 930px; position: absolute; z-index: 137; width: 80px; height: 21px;'  mid=""   deg='0'>
            <meta content="telephone=no" name="format-detection">
            <!-- nav是防止在安卓UC浏览器里面字体变大添加的 -->
            <nav>
                <div class="wp-title_content" style="word-wrap: break-word; padding: 0px; border-color: transparent; border-width: 0px; height: 21px; width: 80px;">
                    <p style="text-align: center;"><span style="font-size: 14px;">工商银行</span></p>
                </div>
            </nav>
        </div>
        <script>		         $('#layer11D9D5AD53A37BAE0E0CC7CD785EBC81').triggerHandler('layer_ready');</script>
        <div id='layer9CE4274E5848F7945A737C628528DBA2' type='title'  class='cstlayer' style='left: 39px; top: 930px; position: absolute; z-index: 135; width: 80px; height: 21px;'  mid=""   deg='0'>
            <meta content="telephone=no" name="format-detection">
            <!-- nav是防止在安卓UC浏览器里面字体变大添加的 -->
            <nav>
                <div class="wp-title_content" style="word-wrap: break-word; padding: 0px; border-color: transparent; border-width: 0px; height: 21px; width: 80px;">
                    <p style="text-align: center;"><span style="font-size: 14px;">建设银行</span></p>
                </div>
            </nav>
        </div>
        <script>		         $('#layer9CE4274E5848F7945A737C628528DBA2').triggerHandler('layer_ready');</script>
        <div id='layerEEEC1301EB05E6D61155F5B13C29A075' type='title'  class='cstlayer' style='left: 0px; top: 1001px; position: absolute; z-index: 138; width: 320px; height: 33px;'  mid=""   deg='0'>
            <meta content="telephone=no" name="format-detection">
            <!-- nav是防止在安卓UC浏览器里面字体变大添加的 -->
            <nav>
                <div class="wp-title_content" style="word-wrap: break-word; padding: 0px; border-color: transparent; border-width: 0px; height: 33px; width: 320px;">
                    <p style="line-height: 2em; text-align: center;"><span style="font-family: 微软雅黑; text-align: center; font-size: 20px;">平安城市</span></p>
                </div>
            </nav>
        </div>
        <script>		         $('#layerEEEC1301EB05E6D61155F5B13C29A075').triggerHandler('layer_ready');</script>
        <div id='layerE25A242D1FE3999DB0BA49B1A1516290' type='media'  class='cstlayer' style='left: 180px; top: 1061px; position: absolute; z-index: 140; width: 120px; height: 124px;'  mid=""   deg='0'><script>
create_pc_media_set_pic('layerE25A242D1FE3999DB0BA49B1A1516290',false);
</script>
            <div class="wp-media_content"  style="overflow: hidden; width: 120px; height: 124px; border-width: 0px; border-style: solid; padding: 0px;" type="0">
                <div class="img_over"  style='overflow: hidden; border-color: transparent; border-width: 0px; width: 120px; height: 124px;'>
                    <div class="imgloading" style="z-index:100;"> </div>
                    <img  id="wp-media-image_layerE25A242D1FE3999DB0BA49B1A1516290" class="img_lazy_load  paragraph_image"  src="__PUBLIC__/images/cjx4.png" type="zoom"  style="width: 120px; height: auto;;" /> </div>
            </div>
            <script>
layer_media_ready_func('layerE25A242D1FE3999DB0BA49B1A1516290');
  $(function(){
     layer_media_lazyload_func('layerE25A242D1FE3999DB0BA49B1A1516290', 0);
 })
 </script> 
        </div>
        <script>		         $('#layerE25A242D1FE3999DB0BA49B1A1516290').triggerHandler('layer_ready');</script>
        <div id='layerE236DD7FD3985A9DC3534F386C1618F8' type='media'  class='cstlayer' style='left: 20px; top: 1061px; position: absolute; z-index: 139; width: 120px; height: 124px;'  mid=""   deg='0'><script>
create_pc_media_set_pic('layerE236DD7FD3985A9DC3534F386C1618F8',false);
</script>
            <div class="wp-media_content"  style="overflow: hidden; width: 120px; height: 124px; border-width: 0px; border-style: solid; padding: 0px;" type="0">
                <div class="img_over"  style='overflow: hidden; border-color: transparent; border-width: 0px; width: 120px; height: 124px;'>
                    <div class="imgloading" style="z-index:100;"> </div>
                    <img  id="wp-media-image_layerE236DD7FD3985A9DC3534F386C1618F8" class="img_lazy_load  paragraph_image"  src="__PUBLIC__/images/cjx4.png" type="zoom"  style="width: 120px; height: auto;;" /> </div>
            </div>
            <script>
layer_media_ready_func('layerE236DD7FD3985A9DC3534F386C1618F8');
  $(function(){
     layer_media_lazyload_func('layerE236DD7FD3985A9DC3534F386C1618F8', 0);
 })
 </script> 
        </div>
        <script>		         $('#layerE236DD7FD3985A9DC3534F386C1618F8').triggerHandler('layer_ready');</script>
        <div id='layer8F8AE382C31AC1BA406995ABF1A2825B' type='media'  class='cstlayer' style='left: 213px; top: 1083px; position: absolute; z-index: 143; width: 50px; height: 50px;'  mid=""   deg='0'><script>
create_pc_media_set_pic('layer8F8AE382C31AC1BA406995ABF1A2825B',false);
</script>
            <div class="wp-media_content"  style="overflow: hidden; width: 50px; height: 50px; border-width: 0px; border-style: solid; padding: 0px;" type="0">
                <div class="img_over"  style='overflow: hidden; border-color: transparent; border-width: 0px; width: 50px; height: 50px;'>
                    <div class="imgloading" style="z-index:100;"> </div>
                    <img  id="wp-media-image_layer8F8AE382C31AC1BA406995ABF1A2825B" class="img_lazy_load  paragraph_image"  src="__PUBLIC__/images/lALOgiZzzz4-_62_62-1478247140427.jpg" type="zoom"  style="width: 50px; height: auto;;" /> </div>
            </div>
            <script>
layer_media_ready_func('layer8F8AE382C31AC1BA406995ABF1A2825B');
  $(function(){
     layer_media_lazyload_func('layer8F8AE382C31AC1BA406995ABF1A2825B', 0);
 })
 </script> 
        </div>
        <script>		         $('#layer8F8AE382C31AC1BA406995ABF1A2825B').triggerHandler('layer_ready');</script>
        <div id='layerBD18E6B2AA3FB11404D1721C2E8727E5' type='media'  class='cstlayer' style='left: 53px; top: 1085px; position: absolute; z-index: 141; width: 50px; height: 50px;'  mid=""   deg='0'><script>
create_pc_media_set_pic('layerBD18E6B2AA3FB11404D1721C2E8727E5',false);
</script>
            <div class="wp-media_content"  style="overflow: hidden; width: 50px; height: 50px; border-width: 0px; border-style: solid; padding: 0px;" type="0">
                <div class="img_over"  style='overflow: hidden; border-color: transparent; border-width: 0px; width: 50px; height: 50px;'>
                    <div class="imgloading" style="z-index:100;"> </div>
                    <img  id="wp-media-image_layerBD18E6B2AA3FB11404D1721C2E8727E5" class="img_lazy_load  paragraph_image"  src="__PUBLIC__/images/lALOgiZzzz4-_62_62-1478247140427.jpg" type="zoom"  style="width: 50px; height: auto;;" /> </div>
            </div>
            <script>
layer_media_ready_func('layerBD18E6B2AA3FB11404D1721C2E8727E5');
  $(function(){
     layer_media_lazyload_func('layerBD18E6B2AA3FB11404D1721C2E8727E5', 0);
 })
 </script> 
        </div>
        <script>		         $('#layerBD18E6B2AA3FB11404D1721C2E8727E5').triggerHandler('layer_ready');</script>
        <div id='layer10C9912F356018E72DC432F065060B26' type='title'  class='cstlayer' style='left: 199px; top: 1141px; position: absolute; z-index: 144; width: 80px; height: 21px;'  mid=""   deg='0'>
            <meta content="telephone=no" name="format-detection">
            <!-- nav是防止在安卓UC浏览器里面字体变大添加的 -->
            <nav>
                <div class="wp-title_content" style="word-wrap: break-word; padding: 0px; border-color: transparent; border-width: 0px; height: 21px; width: 80px;">
                    <p style="text-align: center;"><span style="font-size: 14px;">河北公安厅</span></p>
                </div>
            </nav>
        </div>
        <script>		         $('#layer10C9912F356018E72DC432F065060B26').triggerHandler('layer_ready');</script>
        <div id='layer3BB4734282DF4CC64483DE2C8332DD16' type='title'  class='cstlayer' style='left: 39px; top: 1141px; position: absolute; z-index: 142; width: 80px; height: 21px;'  mid=""   deg='0'>
            <meta content="telephone=no" name="format-detection">
            <!-- nav是防止在安卓UC浏览器里面字体变大添加的 -->
            <nav>
                <div class="wp-title_content" style="word-wrap: break-word; padding: 0px; border-color: transparent; border-width: 0px; height: 21px; width: 80px;">
                    <p style="text-align: center;"><span style="font-size: 14px;">山东公安厅</span></p>
                </div>
            </nav>
        </div>
        <script>		         $('#layer3BB4734282DF4CC64483DE2C8332DD16').triggerHandler('layer_ready');</script>
        <div id='layerA48D958816E23B67FA9A50B49B33D725' type='media'  class='cstlayer' style='left: 180px; top: 1211px; position: absolute; z-index: 146; width: 120px; height: 124px;'  mid=""   deg='0'><script>
create_pc_media_set_pic('layerA48D958816E23B67FA9A50B49B33D725',false);
</script>
            <div class="wp-media_content"  style="overflow: hidden; width: 120px; height: 124px; border-width: 0px; border-style: solid; padding: 0px;" type="0">
                <div class="img_over"  style='overflow: hidden; border-color: transparent; border-width: 0px; width: 120px; height: 124px;'>
                    <div class="imgloading" style="z-index:100;"> </div>
                    <img  id="wp-media-image_layerA48D958816E23B67FA9A50B49B33D725" class="img_lazy_load  paragraph_image"  src="__PUBLIC__/images/cjx4.png" type="zoom"  style="width: 120px; height: auto;;" /> </div>
            </div>
            <script>
layer_media_ready_func('layerA48D958816E23B67FA9A50B49B33D725');
  $(function(){
     layer_media_lazyload_func('layerA48D958816E23B67FA9A50B49B33D725', 0);
 })
 </script> 
        </div>
        <script>		         $('#layerA48D958816E23B67FA9A50B49B33D725').triggerHandler('layer_ready');</script>
        <div id='layer2A3A4FFAE30E3840052C59A36C0776E9' type='media'  class='cstlayer' style='left: 20px; top: 1211px; position: absolute; z-index: 145; width: 120px; height: 124px;'  mid=""   deg='0'><script>
create_pc_media_set_pic('layer2A3A4FFAE30E3840052C59A36C0776E9',false);
</script>
            <div class="wp-media_content"  style="overflow: hidden; width: 120px; height: 124px; border-width: 0px; border-style: solid; padding: 0px;" type="0">
                <div class="img_over"  style='overflow: hidden; border-color: transparent; border-width: 0px; width: 120px; height: 124px;'>
                    <div class="imgloading" style="z-index:100;"> </div>
                    <img  id="wp-media-image_layer2A3A4FFAE30E3840052C59A36C0776E9" class="img_lazy_load  paragraph_image"  src="__PUBLIC__/images/cjx4.png" type="zoom"  style="width: 120px; height: auto;;" /> </div>
            </div>
            <script>
layer_media_ready_func('layer2A3A4FFAE30E3840052C59A36C0776E9');
  $(function(){
     layer_media_lazyload_func('layer2A3A4FFAE30E3840052C59A36C0776E9', 0);
 })
 </script> 
        </div>
        <script>		         $('#layer2A3A4FFAE30E3840052C59A36C0776E9').triggerHandler('layer_ready');</script>
        <div id='layerD7A2F1941D7621325DDF97DBCC1560A4' type='media'  class='cstlayer' style='left: 213px; top: 1235px; position: absolute; z-index: 149; width: 50px; height: 50px;'  mid=""   deg='0'><script>
create_pc_media_set_pic('layerD7A2F1941D7621325DDF97DBCC1560A4',false);
</script>
            <div class="wp-media_content"  style="overflow: hidden; width: 50px; height: 50px; border-width: 0px; border-style: solid; padding: 0px;" type="0">
                <div class="img_over"  style='overflow: hidden; border-color: transparent; border-width: 0px; width: 50px; height: 50px;'>
                    <div class="imgloading" style="z-index:100;"> </div>
                    <img  id="wp-media-image_layerD7A2F1941D7621325DDF97DBCC1560A4" class="img_lazy_load  paragraph_image"  src="__PUBLIC__/images/lALOgiZzzz4-_62_62-1478247140427.jpg"  type="zoom"  style="width: 50px; height: auto;;" /> </div>
            </div>
            <script>
layer_media_ready_func('layerD7A2F1941D7621325DDF97DBCC1560A4');
  $(function(){
     layer_media_lazyload_func('layerD7A2F1941D7621325DDF97DBCC1560A4', 0);
 })
 </script> 
        </div>
        <script>		         $('#layerD7A2F1941D7621325DDF97DBCC1560A4').triggerHandler('layer_ready');</script>
        <div id='layer5DA366486F4D3A14769885E87EFD20A1' type='media'  class='cstlayer' style='left: 53px; top: 1235px; position: absolute; z-index: 147; width: 50px; height: 50px;'  mid=""   deg='0'><script>
create_pc_media_set_pic('layer5DA366486F4D3A14769885E87EFD20A1',false);
</script>
            <div class="wp-media_content"  style="overflow: hidden; width: 50px; height: 50px; border-width: 0px; border-style: solid; padding: 0px;" type="0">
                <div class="img_over"  style='overflow: hidden; border-color: transparent; border-width: 0px; width: 50px; height: 50px;'>
                    <div class="imgloading" style="z-index:100;"> </div>
                    <img  id="wp-media-image_layer5DA366486F4D3A14769885E87EFD20A1" class="img_lazy_load  paragraph_image" src="__PUBLIC__/images/lALOgiZzzz4-_62_62-1478247140427.jpg" type="zoom"  style="width: 50px; height: auto;;" /> </div>
            </div>
            <script>
layer_media_ready_func('layer5DA366486F4D3A14769885E87EFD20A1');
  $(function(){
     layer_media_lazyload_func('layer5DA366486F4D3A14769885E87EFD20A1', 0);
 })
 </script> 
        </div>
        <script>		         $('#layer5DA366486F4D3A14769885E87EFD20A1').triggerHandler('layer_ready');</script>
        <div id='layer7F080D1688E075D210FB5BFE1913206D' type='title'  class='cstlayer' style='left: 39px; top: 1291px; position: absolute; z-index: 148; width: 80px; height: 21px;'  mid=""   deg='0'>
            <meta content="telephone=no" name="format-detection">
            <!-- nav是防止在安卓UC浏览器里面字体变大添加的 -->
            <nav>
                <div class="wp-title_content" style="word-wrap: break-word; padding: 0px; border-color: transparent; border-width: 0px; height: 21px; width: 80px;">
                    <p style="text-align: center;"><span style="font-size: 14px;">江苏公安厅</span></p>
                </div>
            </nav>
        </div>
        <script>		         $('#layer7F080D1688E075D210FB5BFE1913206D').triggerHandler('layer_ready');</script>
        <div id='layerC5328A4C3A0EA4FBC07BE89246ED2729' type='title'  class='cstlayer' style='left: 199px; top: 1291px; position: absolute; z-index: 150; width: 80px; height: 21px;'  mid=""   deg='0'>
            <meta content="telephone=no" name="format-detection">
            <!-- nav是防止在安卓UC浏览器里面字体变大添加的 -->
            <nav>
                <div class="wp-title_content" style="word-wrap: break-word; padding: 0px; border-color: transparent; border-width: 0px; height: 21px; width: 80px;">
                    <p style="text-align: center;"><span style="font-size: 14px;">山西公安厅</span></p>
                </div>
            </nav>
        </div>
        <script>		         $('#layerC5328A4C3A0EA4FBC07BE89246ED2729').triggerHandler('layer_ready');</script> </div>
          <include file="Public:foot" />