<include file="Public/top" />
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title col-sm-12">
                        <div class="col-sm-9"><h3>修改商品分类</h3></div>
					    <div class="col-sm-3 text-right">
						    <a href="{:url('ProductType/index')}">
						    	<button type="submit" class="btn btn-sm btn-primary">返回上一级</button>
						    </a>
					    </div>
                    </div>
                    <div class="ibox-content"> 
                        <form method="post" class="form-horizontal" action="{:url('ProductType/update')}" enctype="multipart/form-data">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">分类名称</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="name" value="{$list.name}">
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">分类图标</label>
                                <div class="col-sm-10">
                                    <div style="height:198px;width:198px;padding:10px;padding-top:5px;">
                                        <div class="upload05" style="width:800px;margin-left:0px;">
                                            <div class="uploadbox05" style="margin-top:26px;margin-bottom:1px;">
                                                <img id="uploadmainpicture1" src="{$list.icon}" style="width:240px;height:200px;">
                                                <div class="uploadbuttombox05">
                                                    <div><input type="file" class="uploadinput05" style="width:240px;height:200px;margin-top:-80px;" 
                                                    name="icon" onchange="return onUploadImgChange(this,'uploadmainpicture1','240px','200px')"/></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clear" style="height:35px;text-align:center;line-height:55px;width:240px;">点击图片上传分类图标</div>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">上级</label>
                                <div class="col-sm-10">
                                    <select class="form-control" name="parent_id">
                                        <volist name="parentlist" id="v">
                                            <option value="{$v.id}" <if condition="$list.parent_id eq $v.id">selected</if> >{$v.name}</option>
                                        </volist>
                                    </select>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">分类等级</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="level" value="2" readonly>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">是否显示在首页</label>
                                <div class="col-sm-10">
                                    <select class="form-control" name="status">
                                        <option value="1" <if condition="$list.status eq 1">selected</if> >不显示</option>
                                        <option value="2" <if condition="$list.status eq 2">selected</if> >显示</option>
                                    </select>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">排序</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="sort" value="{$list.sort}">
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">备注</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="note" value="{$list.note}">
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <input type="hidden" name="id" value="{$list.id}">
                            <div class="form-group">
                                <div class="col-sm-12 col-sm-offset-10">
                                    <button class="btn btn-primary" type="submit">保存</button>
                                    <button class="btn btn-white" type="reset">重置</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
<include file="Public/footer" />
