  <include file="Public:head" />
  <include file="Public:banner" />
            <div id='layer9B61F2BBCB3265C86B0E54ADFC2FA77D' type='title'  class='cstlayer' style='left: 0px; top: 480px; position: absolute; z-index: 103; width: 1200px; height: 46px; transform: rotate(0deg); transform-origin: 0px 0px 0px;'  mid=""   deg='0'>
                <div class="wp-title_content" style="word-wrap: break-word; padding: 0px; border-color: transparent; border-width: 0px; height: 46px; width: 1200px; display: block;">
                    <div style="text-align: center;"><font color="#434343" face="微软雅黑"><span style="font-size: 30px;">公司简介</span></font></div>
                </div>
            </div>
            <script>		         $('#layer9B61F2BBCB3265C86B0E54ADFC2FA77D').triggerHandler('layer_ready');</script>
            <div id='layerB4AAD8E5A0330B7AD701B21AC27233CC' type='title'  class='cstlayer' style='left: 40px; top: 560px; position: absolute; z-index: 104; width: 1120px; height: 358px;'  mid=""   deg='0'>
                <div class="wp-title_content" style="word-wrap: break-word; padding: 0px; border-color: transparent; border-width: 0px; height: 358px; width: 1120px; display: block; border-style: solid; overflow: hidden;">
                    <!-- <p style="box-sizing: border-box; margin-bottom: 10px; text-indent: 2em; line-height: 1.7em; widows: 1; background-color: rgb(255, 255, 255);"><font color="#333333" face="微软雅黑"><span style="font-size: 16px; letter-spacing: 1.4px; color: rgb(102, 102, 102); line-height: 200%;">智能网络科技有限公司始建于二〇〇八年，于二〇一五年更名为智能信息技术有限公司。我公司是专业从事计算机信息系统集成、建筑智能化系统工程的高新技术企业， 我们的核心业务为中小企业提供弱电系统整体解决方案，内容涉及范围：综合布线（大型机房建设、中小型网络系统布线）、电话程控交换系统(PBX)、安全防范系统（远程高清监控、手机监控、联网报警系统、电子围栏）、音响控制系统（背景音乐、会议室扩声系统）、远程智能视频会议系统、大屏幕显示系统、智能楼宇控制系统等。</span></font></p>
                    <p style="box-sizing: border-box; margin-bottom: 10px; text-indent: 2em; line-height: 1.7em; widows: 1; background-color: rgb(255, 255, 255);"><span style="color: rgb(102, 102, 102); font-family: 微软雅黑; font-size: 16px; letter-spacing: 1.4px; text-indent: 2em; line-height: 200%;">公司立足，八年专注扎根于政府、教育和金融行业，项目遍布国内主要大型城市，目前公司设计施工的客户已达数百家，在、上海、北京、西安、苏州、山西等地均成功项目案例，已成为华东地区较具竞争力的弱电智能化系统综合方案提供商。</span></p>
                    <p style="box-sizing: border-box; margin-bottom: 10px; text-indent: 2em; line-height: 1.7em; widows: 1; background-color: rgb(255, 255, 255);"><font color="#333333" face="微软雅黑"><span style="font-size: 16px; letter-spacing: 1.4px; color: rgb(102, 102, 102); line-height: 200%;">公司提供从技术咨询、工程设计、产品供应、安装施工、调试开通到售后服务及长期维修保养等全方位的支持，为客户的信息智能化系统提供一站式服务，公司除了提供前期的弱电系统建设，另针对中小企业还提供了IT外包一体式服务，包括简单的网络布线，电话分机布署，网站建设，计算机及周边办公设备产品销售维护服务。 弱电工程的完美竣工，只是我们服务的开始，期望能与广大中小企业达成长期的合作伙伴关系，携手发展、共创辉煌！</span></font></p> -->
                    {$about.description}
                </div>
            </div>
            <script>		         $('#layerB4AAD8E5A0330B7AD701B21AC27233CC').triggerHandler('layer_ready');</script>
            <div id="layerAFE92A5D3CB22353BC14886C5D225669" class="full_column"   style="width:1200px;position:absolute;top:950px;height:510px;z-index:105;">
                <div class="full_width" style="position:absolute;height:510px;background-color:#CCCCCC;background-image:url('__PUBLIC__/images/bg_rongyu.png');background-position:center center;"> </div>
                <div class="full_content" style="width:1200px; position:absolute;left:0;top:0;margin-left: 0px;;height:510px;">
                    <div id='layer0C6C46518B9FA7EE70617A9D40C72796' type='title'  class='cstlayer' style='left: 0px; top: 60px; position: absolute; z-index: 137; width: 1200px; height: 49px; transform: rotate(0deg); transform-origin: 0px 0px 0px;'  mid=""  fatherid='layerAFE92A5D3CB22353BC14886C5D225669'   deg='0'>
                        <div class="wp-title_content" style="word-wrap: break-word; padding: 0px; border-color: transparent; border-width: 0px; height: 49px; width: 1200px; display: block;">
                            <div style="text-align: center;"><font color="#434343" face="微软雅黑"><span style="font-size: 30px; color: rgb(255, 255, 255);">资质荣誉</span></font></div>
                        </div>
                    </div>
                    <div id='layer3D41E2966F105BC01BDE66BCA1327793' type='blocksit'  class='cstlayer' style='left: 0px; top: 150px; position: absolute; z-index: 139; width: 1200px; height: 300px;'> 
                        <script type="text/javascript">
</script>
                        <div class="wp-blocksit_content" style="overflow: hidden; border-color: transparent; border-width: 0px; width: 1200px; height: 300px;">
                            <div id="layer3D41E2966F105BC01BDE66BCA1327793_container" class="container" style="visibility:hidden;">
                                <!-- <div class="grid" style="width:350px;border-color:transparent;border-style:none;">
                                    <div class="imgholder"> <a href="__PUBLIC__/images/honor_6_2_meitu_1.jpg" target="_blank"><img  src="__PUBLIC__/images/honor_6_2_meitu_1.jpg" /></a> </div>
                                </div>
                                <div class="grid" style="width:350px;border-color:transparent;border-style:none;">
                                    <div class="imgholder"> <a href="__PUBLIC__/images/honor_8_2_meitu_1.jpg" target="_blank"><img  src="__PUBLIC__/images/honor_8_2_meitu_1.jpg" /></a> </div>
                                </div>
                                <div class="grid" style="width:350px;border-color:transparent;border-style:none;">
                                    <div class="imgholder"> <a href="__PUBLIC__/images/honor_6_2_meitu_1.jpg" target="_blank"><img  src="__PUBLIC__/images/honor_6_2_meitu_1.jpg" /></a> </div>
                                </div> -->
                                <volist name="about.newloginbg" id="v">
                                    <div class="grid" style="width:350px;border-color:transparent;border-style:none;">
                                        <div class="imgholder"> 
                                            <a href="{$uploadurl}{$v.picture}" target="_blank">
                                                <img  src="{$uploadurl}{$v.picture}" />
                                            </a> 
                                        </div>
                                    </div>
                                </volist>
                            </div>
                        </div>
                        <script>
(function(){
	var imgdefereds=[];
	$('#layer3D41E2966F105BC01BDE66BCA1327793_container').find('img').each(function(){
		var dfd=$.Deferred();
		$(this).bind('load',function(){
			dfd.resolve();
		}).bind('error',function(){
			dfd.resolve();
		})
		if(this.complete) setTimeout(function(){
			dfd.resolve();
		},1000);
		imgdefereds.push(dfd);
	})
	$('#layer3D41E2966F105BC01BDE66BCA1327793').layer_ready(function() {
		$LAB
		 .script('__PUBLIC__/js/jquery_blocksit.js')
		 .wait(function(){
			var modwidth=$('#layer3D41E2966F105BC01BDE66BCA1327793 .wp-blocksit_content').width();
			var offsetXY=parseInt('16');
			var grid_width=$('#layer3D41E2966F105BC01BDE66BCA1327793_container .grid').outerWidth()+offsetXY;
			offsetXY=offsetXY/2;
			var cols=Math.floor(modwidth/grid_width);
			if(cols<=0) cols=1;
			var cnterwidth=grid_width*cols;
			$.when.apply(null,imgdefereds).done(function(){
				 $('#layer3D41E2966F105BC01BDE66BCA1327793_container').css('visibility','');
				$('#layer3D41E2966F105BC01BDE66BCA1327793_container').width(cnterwidth).BlocksIt({
					numOfCol: cols,
					offsetX: offsetXY,
					offsetY: offsetXY
				});
			})
			
		})
		
		$LAB
		 .script('__PUBLIC__/js/jquery.lightbox.js')
		
	});
})()
</script></div>
                    <script>		         $('#layer3D41E2966F105BC01BDE66BCA1327793').triggerHandler('layer_ready');</script> </div>
            </div>
            <script>
	var $fullwidth=$('#layerAFE92A5D3CB22353BC14886C5D225669 .full_width');
	$fullwidth.css({left:0-$('#canvas').offset().left+$('#scroll_container').offset().left-$('#scroll_container').scrollLeft()-$.parseInteger($('#canvas').css("borderLeftWidth")),width:$('#scroll_container_bg').width()});
	$(function () {
				var videoParams={"id":"layerAFE92A5D3CB22353BC14886C5D225669","bgauto":null,"ctauto":null,"bVideouse":null,"cVideouse":null,"bgvHeight":null,"bgvWidth":null};
		fullcolumn_bgvideo_init_func(videoParams);
	});
</script>
            <div id="layer03D56753C6F01FEFE45E38C3758B362E" class="full_column"   style="width:1200px;position:absolute;top:1460px;height:540px;z-index:106;">
                <div class="full_width" style="position:absolute;height:540px;background-color:#ffffff;background:;"> </div>
                <div class="full_content" style="width:1200px; position:absolute;left:0;top:0;margin-left: 0px;;height:540px;">
                    <div id='layer8DBE415126D1331901C388CBF6BE3354' type='title'  class='cstlayer' style='left: 0px; top: 60px; position: absolute; z-index: 108; width: 1200px; height: 49px; transform: rotate(0deg); transform-origin: 0px 0px 0px;'  mid=""  fatherid='layer03D56753C6F01FEFE45E38C3758B362E'   deg='0'>
                        <div class="wp-title_content" style="word-wrap: break-word; padding: 0px; border-color: transparent; border-width: 0px; height: 49px; width: 1200px; display: block;">
                            <div style="text-align: center;"><font color="#434343" face="微软雅黑"><span style="font-size: 30px;">联系我们</span></font></div>
                        </div>
                    </div>
                    <script>		         $('#layer8DBE415126D1331901C388CBF6BE3354').triggerHandler('layer_ready');</script>
<style type="text/css">
    .iw_poi_title {color:#CC5522;font-size:14px;font-weight:bold;overflow:hidden;padding-right:13px;white-space:nowrap}
    .iw_poi_content {font:12px arial,sans-serif;overflow:visible;padding-top:4px;white-space:-moz-pre-wrap;word-wrap:break-word}
</style>
<script type="text/javascript" src="http://api.map.baidu.com/api?key=&v=1.1&services=true"></script>
</head>
  <!--百度地图容器-->
  <div style="width:100%;height:450px;border:#ccc solid 1px;margin-top:113px; " id="dituContent"></div>
</body>
<script type="text/javascript">
    //创建和初始化地图函数：
    function initMap(){
        createMap();//创建地图
        setMapEvent();//设置地图事件
        addMapControl();//向地图添加控件
        addMarker();//向地图中添加marker
    }
    
    //创建地图函数：
    function createMap(){
        var map = new BMap.Map("dituContent");//在百度地图容器中创建一个地图
        var point = new BMap.Point(106.551477,29.402986);//定义一个中心点坐标
        map.centerAndZoom(point,17);//设定地图的中心点和坐标并将地图显示在地图容器中
        window.map = map;//将map变量存储在全局
    }
    
    //地图事件设置函数：
    function setMapEvent(){
        map.enableDragging();//启用地图拖拽事件，默认启用(可不写)
        map.enableScrollWheelZoom();//启用地图滚轮放大缩小
        map.enableDoubleClickZoom();//启用鼠标双击放大，默认启用(可不写)
        map.enableKeyboard();//启用键盘上下左右键移动地图
    }
    
    //地图控件添加函数：
    function addMapControl(){
        //向地图中添加缩放控件
    var ctrl_nav = new BMap.NavigationControl({anchor:BMAP_ANCHOR_TOP_LEFT,type:BMAP_NAVIGATION_CONTROL_LARGE});
    map.addControl(ctrl_nav);
        //向地图中添加缩略图控件
    var ctrl_ove = new BMap.OverviewMapControl({anchor:BMAP_ANCHOR_BOTTOM_RIGHT,isOpen:1});
    map.addControl(ctrl_ove);
        //向地图中添加比例尺控件
    var ctrl_sca = new BMap.ScaleControl({anchor:BMAP_ANCHOR_BOTTOM_LEFT});
    map.addControl(ctrl_sca);
    }
    
    //标注点数组
    var markerArr = [{title:"重庆宸亦轩科技有限公司",content:"重庆巴南区渝南大道c区",point:"106.552007|29.404024",isOpen:0,icon:{w:21,h:21,l:0,t:0,x:6,lb:5}}
         ];
    //创建marker
    function addMarker(){
        for(var i=0;i<markerArr.length;i++){
            var json = markerArr[i];
            var p0 = json.point.split("|")[0];
            var p1 = json.point.split("|")[1];
            var point = new BMap.Point(p0,p1);
            var iconImg = createIcon(json.icon);
            var marker = new BMap.Marker(point,{icon:iconImg});
            var iw = createInfoWindow(i);
            var label = new BMap.Label(json.title,{"offset":new BMap.Size(json.icon.lb-json.icon.x+10,-20)});
            marker.setLabel(label);
            map.addOverlay(marker);
            label.setStyle({
                        borderColor:"#808080",
                        color:"#333",
                        cursor:"pointer"
            });
            
            (function(){
                var index = i;
                var _iw = createInfoWindow(i);
                var _marker = marker;
                _marker.addEventListener("click",function(){
                    this.openInfoWindow(_iw);
                });
                _iw.addEventListener("open",function(){
                    _marker.getLabel().hide();
                })
                _iw.addEventListener("close",function(){
                    _marker.getLabel().show();
                })
                label.addEventListener("click",function(){
                    _marker.openInfoWindow(_iw);
                })
                if(!!json.isOpen){
                    label.hide();
                    _marker.openInfoWindow(_iw);
                }
            })()
        }
    }
    //创建InfoWindow
    function createInfoWindow(i){
        var json = markerArr[i];
        var iw = new BMap.InfoWindow("<b class='iw_poi_title' title='" + json.title + "'>" + json.title + "</b><div class='iw_poi_content'>"+json.content+"</div>");
        return iw;
    }
    //创建一个Icon
    function createIcon(json){
        var icon = new BMap.Icon("__PUBLIC__/images/wz2.png", new BMap.Size(json.w,json.h),{imageOffset: new BMap.Size(-json.l,-json.t),infoWindowOffset:new BMap.Size(json.lb+5,1),offset:new BMap.Size(json.x,json.h)})
        return icon;
    }
    
    initMap();//创建和初始化地图
</script>
                    <script>		         $('#layer64F564ED85FAD5B94DAE374AB1A04E95').triggerHandler('layer_ready');</script> </div>
            </div>
            <script>
	var $fullwidth=$('#layer03D56753C6F01FEFE45E38C3758B362E .full_width');
	$fullwidth.css({left:0-$('#canvas').offset().left+$('#scroll_container').offset().left-$('#scroll_container').scrollLeft()-$.parseInteger($('#canvas').css("borderLeftWidth")),width:$('#scroll_container_bg').width()});
	$(function () {
				var videoParams={"id":"layer03D56753C6F01FEFE45E38C3758B362E","bgauto":null,"ctauto":null,"bVideouse":null,"cVideouse":null,"bgvHeight":null,"bgvWidth":null};
		fullcolumn_bgvideo_init_func(videoParams);
	});
</script> 
        </div>
    </div>
    <div id="site_footer" style="width:1200px;position:absolute;height:600px;z-index:500;margin-top:50px">
    	 <include file="Public:foot" />